src/oree/oree-flow.json
[
    {
        "id": "e72aed43.e4b9b8",
        "type": "tab",
        "label": "OREE",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a4614004.219c58",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "30 09 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 60,
        "wires": [
            [
                "387a54d8.33d64c"
            ]
        ]
    },
    {
        "id": "36a19816.e23da8",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Headers",
        "field": "headers0",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[\n    {\"Accept-Encoding\": \"gzip,deflate\"},\n    {\"Content-Type\": \"text/xml;charset=UTF-8\"} \n]",
        "output": "json",
        "x": 420,
        "y": 60,
        "wires": [
            [
                "92f66492.97ec7"
            ]
        ]
    },
    {
        "id": "92f66492.97ec7",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "test-keys",
        "field": "keys",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"key01\" : {\n    \"name\" : \"12345678_1234567898_DU190802145151_111.ZS2\",\n    \"pin\"  : \"111\",\n    \"key\"  : \"MIIDxAIBAzCCA2EGCSqGSIb3DQEHAaCCA1IEggNOMIIDSjCCAZUGCSqGSIb3DQEHAaCCAYYEggGCMIIBfjCCAXoGCyqGSIb3DQEMCgECoIIBNjCCATIwgbMGCSqGSIb3DQEFDTCBpTBGBgkqhkiG9w0BBQwwOQQgrstaebX1aSmavtkUS6wJLl1XqGmrNiqB9kbKim8PIUECAgPoAgEgMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAgmtJOtBQUu3wRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BAR6RUwsJTmyExQE69UxPiUeYtDck07bKicvd5+jQLIyiLuhswy++XLWGCN3r0FAXvN+DfaNak4w4jonuwxomT9rVojGQhNdn+vXtHo+JyZMurcmxwYkHewj8pOnk5lkzShOAttQeAapiHZaaTUdJigaMzSBMZaxPUiimE0xMTAvBgkqhkiG9w0BCRUxIgQgLlglxRIj6gXPdl70slP7VsZowjloFNmGkC/AE1Xs4U8wggGtBgkqhkiG9w0BBwGgggGeBIIBmjCCAZYwggGSBgsqhkiG9w0BDAoBAqCCAU4wggFKMIGzBgkqhkiG9w0BBQ0wgaUwRgYJKoZIhvcNAQUMMDkEINtRIiSHceVRZQuPyPWpvBoB7T4x/7LjrI9OKlrHKNn8AgID6AIBIDAOBgoqhiQCAQEBAQECBQAwWwYLKoYkAgEBAQEBAQMwTAQIT/RiNC/w8uYEQKnW60XxPHCCgMSWeyMfXq32WOukwDcpHTjZa/Alyk4X+OlyDcYVtDool18Lwd6jZDi1ZOosF5/QEj5tuPrFeQQEgZEq1uI8+K3QnOZ6KWJ8bw2Cj7LbNDDJkipyjKUYXtybzx8v19BfHE84N+yR2rOt8txjRb7tqMseoQxcSfOjsADh2/IObh4z2LJ5SP6TjdqwP7IbDOV513+o4kPYIR9yCw7YDUqgoh4yUU1HAvMIzP+/9l/wPMRjwRSo6DOAaoqYrZ0pTJtcbnCe/S8wGpZvSlt0MTEwLwYJKoZIhvcNAQkVMSIEIC0Jd+fqc/oc0s6qc5Fzt2O2ZuAv8EBU3+nt9svTvM8MMFowMjAOBgoqhiQCAQEBAQIBBQAEIDVfED4efIw4KiOp1AHaf6QTb48PrUYmCus0oN0YR4/tBCCjP7NcG6HVB3mGjIzAA5xBqbzLTgSMhBSS6/vOxHvxUQICA+g=\"\n  },\n  \"key02\" : {\n    \"name\" : \"gpu_Tstoviy_Koristuv_ch_NAZK_12345678.pfx\",\n    \"pin\"  : \"12345678\",\n    \"key\"  : \"MIIgGQIBAzCCH84GCSqGSIb3DQEHAaCCH78Egh+7MIIftzCCAtsGCSqGSIb3DQEHAaCCAswEggLIMIICxDCCAVMGCyqGSIb3DQEMCgECoIIBDzCCAQswgbAGCSqGSIb3DQEFDTCBojBDBgkqhkiG9w0BBQwwNgQgY8nI9Mpw8bs0/55GYhrkds7t9lflBy/IqYvuP558uZgCAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAjlnXO+TCuJ/gRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BARWh9DNQgzx3AfWu6EnjGeDbGC/LdHNlcdSRvewO+FhuVUwZdgaqZI5utp2GsuAr0XfLYdaHTh9cDX8L9X8fYpN52YrjQssBAA+t06eIV2ZvWogOJxUUOoxMTAvBgkqhkiG9w0BCRUxIgQgvK9wAbL0W9W9jSm788r4IfzhcL2YDDUkiBnbHrGO00UwggFpBgsqhkiG9w0BDAoBAqCCASUwggEhMIGwBgkqhkiG9w0BBQ0wgaIwQwYJKoZIhvcNAQUMMDYEIJJJlO9MlHtr04Lio8Ncdu5Yy2XNJZIQnJklkgWfwDrrAgInEDAOBgoqhiQCAQEBAQECBQAwWwYLKoYkAgEBAQEBAQMwTAQIHF5oMwpcg4sEQKnW60XxPHCCgMSWeyMfXq32WOukwDcpHTjZa/Alyk4X+OlyDcYVtDool18Lwd6jZDi1ZOosF5/QEj5tuPrFeQQEbFwk9GlA0tpiTGF56hZLEs7by5O6OBX1k6f3lbzqmU2ff9yropaXh41bSiUlOBaJ8DazkXTRPXhmP7AzEYDOQWIsJmRSFgiiC17sODbfXyZqDHVMauV/GQifupmQGtWXpUN1C1XnakuVG2WsIjExMC8GCSqGSIb3DQEJFTEiBCB2VKlg634M3fNhJ5Xt5RqY/gmMHGBnrARZEq7gitn8AjCCHNQGCSqGSIb3DQEHBqCCHMUwghzBAgEAMIIcugYJKoZIhvcNAQcBMIGwBgkqhkiG9w0BBQ0wgaIwQwYJKoZIhvcNAQUMMDYEIERd3fyVFmwUmPCO2j9t0Gqiw6cl2Vudi+Y3QMf01+APAgInEDAOBgoqhiQCAQEBAQECBQAwWwYLKoYkAgEBAQEBAQMwTAQI+YavlzqaMMsEQKnW60XxPHCCgMSWeyMfXq32WOukwDcpHTjZa/Alyk4X+OlyDcYVtDool18Lwd6jZDi1ZOosF5/QEj5tuPrFeQSAghv4rPiz4sJ2QbnT7axobfHG/Diu8/VEaVa2311a7I+hR4m9+eWUZkd8NDSvltEIu+jQdZ5tIcAGDn/sEO9PMOb8peHjd99hqAg0v5Sk0mhqiIeIVowyx9yyk/7yPwxdCK9yp3Eq3SWtiecWOx4kvJX0bstD963h1av770gDWfNKnPG2Ac5cj0zCngnjmP31ZRQPE5MEk57D/+HWrqsury8IEWv5ImzeP2M+ywfhoKBwfIj+fDeBLKdvyOS8W9V+5RkInOnuknR2GVxuxdMAH6wXsrNpJyz7T8xuEJHm9T3y+AxUhfaV9PvsV7slL1JnRiaaRqkJB8GrCTJyInVouyKJAsNuvIU6Dey3LfR/Hz5xR65CILuxK3BW8J3rkwzajFmulQ5MJLZsBawNyymbQk/gcQM9QnoKGhUNYmy6xaNEryQce8CkAgKIAHF0f6LmrlFNjIgnWMQViETVjg924BVKeVD0VKceawEXDHYGZH6Ef1EaEWA49OvqF9rbPPzZNdJLRqUjMBqK37shNFSWd8QVMjzhZmEhuT24rlj7kTzodrS3GbyaWcrVx5rDwVjwO2VrhFn4RHn7hBGuv2r9713IBv9mCtlasxzjDJChqHAIeAh+8jtMkV1tdt1SMkyAm+9vpDFB788q4mRWuMeHW9akYHKYlpAEruLrPAsWyeGHukYJa9SfRC84N+PjeHpqwbaLJi12zvbZXwCy3KkkcBeKL+1GeV6J/o2QZjL0dXDg0beKZdquCQTukMETAAu8G5czrtW0iir41jlkZUjMeVWG5BC4I6u/LYl6V0phaQ7FwompHZfkFrV/NZHYDRseyVwr3LT/BVl1J47/vBRBPY22pq5pjH92UuFQm5COYSfNcoXZ+OjjuGyAYXAwvWQnnlszOKm0vjPObOwn2X9//M3AozHepw/q0324U+g0GABTNKW6JzbQ7uUJla58u4VbG/LZOdiEVNpCQu5gUPqnG6w2BZ3mlgpp1IKM56bm82TbTPHL+RjCDQ+2yKeLaxnpTcjLAMvwouD1sBzuGhiPEyhgXtH/WZpBQZYXWAcIKXoR+KhwR0wGZJdSq7GLvTrh7Xpwceh/hRC1PAjiFWj98CLNC7COVs/amXNE/TPrijHD0ZsgCt2Rz1jxE1M/QjoA+2WyMUpLP3BOIe+NxFTemjJDVjaSnO6O8EkgaEm+8x4CSOaDSTdeFtgZAZlH6Z76ykkc3wi7V/1q5b1pXBCfoLLcpL+p22Zk3JrFxiwtZ5XkWr9WBs7vMhLk9+k0R7EHkvTn99G8iDiu620GGeaY7J9i2LS+wX8WjHaRj68mZ88EwxQQDmNoc9c8JldhmPadsE/Meh3Q1kviqDsmcJE4Z6aCTSPapcAW5OqUDGp/4oktil1kOo90IrB0k5E5CillPLByjlFHZe5wHais1TjSWR3T1zNVRZGXQR0y/OZFAPxd4V9ND43i3CGFfZ6d9urEpmizqEHx3L4YtrrUOBedDzRtcIUR4kC++kDcMWn0U6tNgW5MhSMzyXlwqWDtGQ6uBP+qFmWjaFCm5WIi0tSikfH1SJurRQl1Ln9iA3lYiTeuvcGULFqN5HTSUXdCjVWi9vi57DbnaosKqSw/nhkEduzluT7m5pFv4XhyL2pyrCCHtXF6lqfPhWc3bemWwZrwiUKMADSOdEmXpJdyGHm0DoYeTgPCV3nYsZjUyS2InSfbIn3BBhxwrKdMvMVdKiilWcOd0PM8bY/CMbjN0xFL06zszMkVYEy0UPTg6+Mwd9JSj5OAJv+Vn2/tDm6nMVdBhj5KB5uXFX1kUoOhNp/br9mL+wkKIPx6uhqVGcvwpk4+p/8mBeax5Gj1QHzNyxA1xFwycflIipEnKu5vI1DNNYtRsBYGcW6Hj305E1JF8JluSvACLOP22YnotJZJ0NzqxDpZCehyWzGzhdx5uWBJ6q40H6W96CHCANVRmx+njkh0tqTp13kwt9iFqL62cjF0o3XUsEnganc1KNFFTPrmItAzXSXAi4oG9x01bnITkIHjWFl8n2V/g/wbIOj7T/kwd9m43o5yMB+5HtHx8vgjwMm6jgMk2tKPLWPOWtxSqrHT2+LB8x9f+3K0uoe9M/vsipVm5QSf8F4a9gj5BPn9P+xgMuzik/XtMCzSGoSeiCAgQEtF8xvvAFUu2ClpkEyOrdW1vYoFCAq3owpxcFg6RomdDcJKQtF/rhnDAVE/ZWdB9IbD4kaAAAb4NNk2EPR1gHKbO1fio5xkI0xCQa8JeQHLGb+DjNSj222/k5vrJ4ucj/tK/gERrOZjPdRisrsnMT2h1huaPiKbpmbpmhhX01IKMveuVxYgOP5nk0dJTrIR4Fnb96diHWVJSeixpKcSacdhGoUtE6FG+969mU3TNhWLwFbwE9yC2HBS6Cp3Y1Kom28kiwqp9uhCni1tbb+3hlwnZSaxXJNHDLiFPoJuw02FIQz7bs0vAXljqzgjbOrkMfh22CY9zZzOCgD8X/SJqNDLrrF6cumzUBDwEChYC0KCm4pCAjomY9p44lPxIhxDYT/sTbEfo6Hjf5R0rcy031IEYHCQ1I3kxUqgSaRMUejoWfn19lHAtL/jUCzuljhm8W1YsjSBYu/nMPJTuGcu7o4gNL/7yx9TzPc1fn4crdO0OzyBJl0qqOurcLDooWaQ0F+QcGnu8123TYcGc/3VtHxvFNbhe3Pt/lc2N8Oh+sQQrejzQyRq5IjrLqoAS7nPpOzkPOWLzXeFrIzei+bAGXkl4XZE9WqhHhuQfSFYIAAiERg8WK6XD3ErO8V5OFjKQXMf0TSu2bjAg8qxwELIZyRubyRoW37bkeeD/SgQZ83iFCji5qzoNaS0wLNE64w97bs4VCcS0J/x+68wyvtmEWazKtlgX/K6VgyZh69YGCVxhJiPamh6DScP1Bmgl5Zu0dB+C9lwiZ+gtiRxMD+CvkuqmdR16OC7m4fJtc2L+sJRG33cNtDkypAg/3d/55o0QUQwG7G46GxTW4mpCVj83L3bu3TLG19ADxx+IigzlwGSx3cNWGDDDFIvvS52uoCcHCz5vETyyEe/j6OO5swGg9sX4Eh7S/fCpOw3mSMVmVseFXr+xpDW6LABKhN1eTqeh/vWC6E4mzEufAQpgWai67yu7TOHM8NBQEaGGbZNtosMHX13/FwJn//FhDUlHA3r5VpXcbuSrbcq+GVtlq1ACgKNlMrI1ogueqf3v3YCqQ/BvUkE5hr6HHj5rNjPP0poLn8AqroQk4GBMEPm+bOCQm7qNRfQ8AukzcFlvhWyCz+qHHHD+gNG+a2E0UzH+08MxN2h6jKuHvIaUm7lAdeh05HeWxE4cYuQHGKcmlM0Q4OXmszVpJyxHXRZzaX8Eyw7UaZx3WPpTEKc+s2aAQMWfx0oVi1EsgF+UHVUM/ruJ3IOzWxawf/K/Eel38MCSguUROtQWW1J/kzPlqCcw5HFm6cJCj+h2yTRqeRkq4CCmdqLIAgCZQpik/R+KYcIuI9snpkbIOxlt43H11n5ORRvYTr2z6fbGvmLFQIsbyQsmaCwnDX64I8MS8eah1y7jQG3K1m0a+4WvvhOyG7Oh2at46GkXAkzBe5TWEZG5ZL5+VzePEmYkvdPKeu/OjXsR3EMILs+xe+Pp9zCKmnKM1TiKMyHxqEFXjk8ECRF1kX+lgQXhyawtxFLrppGrdvw/JSnOYGfP4EZLQaXjaKx7zil9F9gLH6x6HcBiX8eGKfZHS6dGckQ9OIxOtG/xnvXWX6ovt+9JIUucuStWCGYjUP5iw5djkVaivSIDkj5G7cTwFYYBAWfT2DpO6jQ1jVOixmG7N+UAJtja6Zl5bN/BZ3duUfTtcGakQU9UT34efZOLLrk80T5AQ4KFaGluXiW4qRlbBf6c8uz53JUb/PuiEGkrH1CeNA/gsBUxU6oGSReOjeDznRcDsod82EXJ664J1TEjeX8nzJH0valGgAdPp8yD02MRCbee/2QMduBwo2drRr+qRp3Npz2n/MV2oRDtn03lDKNzhi7iX8anaqspnlgMikp+Or6gX470oKgwMLkTxhkZOhUcEkR9HrmGX/RF7DdKMMOAUjC3eX3Y84zfwMHMYogMR+gd1rdlp5dmjlNY0ZKGBLSF83j5i6jRQWAeOcEBPQFKGSG8PVGsFOiHvvNT4dC4f9SX0WZxl/iFE51BisT/+YrRT8XFZ2ZjhlVsWx1vKDotiw1tHDHlf2cQAGhUlXP5FbZu5DJqQSYZ3+sA3laxqRj0tKPHU43eu8It3EWYdXZ4PZX2JIF/2StXb8MZpMtRHgRD9qpUjZLAjW7dC9rW487nVMZ/6uPqXz+waZgdp2vedxcgmmYLibo5SFj2ej781EMcJQDKtzF2QsDHjCHSBxQRypkj3gkLwJOpzDV9hFRSm60VlQLYp8wdnBdw/7sONq/pRGhk5dTWs3slgtGMdMgz+3agCaSWLuRR8WmWHinpCKeQfxOKKMQrgQW4IMaYnhFMVdzP1EvbJ5ANcLLM3gIa3RJh/Kkq3GO7gEEhsFwuxp8CvcoCBJekyDk9c2heLtH19mYVOlqwdO5gcACL6YLypHh6JCMuCfIlB2AkjnHb+X7Gtdh7bjmTgkJPrVQ6bzvJZz3b9NzcE/m7SEPkaTAjXVTdnDACs+z1ATxJriM3B5ao6qCZZggVCfn5q7szvBv9tYtbcIKsU8cjGqnfaC/Yf0FN9jyvztVYrNVeg5DYffDo1ZiSS7zmPxx9/GfIpwNkFD7KtFwUm4NI1vlPpkL9Tr8UNEOhI1g9KOLdIqCFHZlgCzDPKZOLkzdjVtlgXvDDNKSqtLU2/ghk2b9mftZC2uu4UTPIZsGBCO+pgL68/QZRmKzgtTw+11sVuCvTbut1h0Nces1UAY3PDIs1B0FgNJYejI57bUv0SYSYlCHg6EmFNydJUDsmxwqvmh9wgw9UpwiQcZ1yaGtcoxewynIBBU88FXyJ1bZkNjQsiLoMaLyUVj0ZJXpSamKG+siR2xdjByFAN3yA7DbStyNZorQ0wntlDcikZog6hwWciZPK6Fo3fon8G3sF5jh0MxDv2BmHgHVKYAWwHCYC1nR4cbNfxHKV7TnW96oRjfvUIoB1scucRnFuXUDGAdE+Wo6OpkvtCa0dNmDQLhA4Z4sQv+zPhxf4oSy/DDtQO7+fSdkf30au/WEKpQ1ZpqnaQ27HOCVN5iWAODe/rMBC6qq/VpSjWYrFuv5ooqSqLr5Wliu4Tbw3mF8CPZR8qoYKhTbRbtGjhWtXzWNTM5L48v413inzBUYs9L4/6zG8QFyd4cq2xQtONknAI4WNSLkimNRWztsmgEax8uSIs0Yalrog0LIfo0juUdBQi0ZfSHKviCOoBJ6iRdcZD5X5grYrarwKIKAV+2yuBueOfOyoHB7teQhEwXNef/t2g/lnYwLS+gTBjjIEJagGk/5NU24H1+btIY6/PQ4poAKfUKaL04rXeb/j4BB8bhyRSzEixDH92Ishd0QQ2rxuOYifoQHqw8WY6xo8LWEtMfoQBkkG+5qHmY5/NlXQ1F4mZaHnD8yhtFstq63kPC0mAlDOMOOLlmXC8nVOpAoSn19r1rUfsefMuFqleghusAc4izr/I5vI4lWLPOtwke5NWdkMfLPnne/kwVKWlPyYI2PNNkVuy9K/igYWAsAdv4z3nisc2BioSw4xt80lMv4esat5S3aguwopuWR/q6Z+EZAhWRZ/uO7nNvEr/2eg9G0RiBBeJONKA0f2zk2TRzY4wxewu4YPXmHy8SdUzDLu0h4z+VL8I/vwIpkuuN1t2oBaF1EdmmIaPscUDP6NaeIsEaMfSmZu6pyS0YpFmqC/7pp1h2r1IKjM1KWJL/cyIqmoi1iJ0RweZiKsdt1doYNFoYKohdThjb7hzEsK5W/IXvX+6ZkBQ9TxWeWRu/tfMowXV9eWUjW1wl/mqHE99PSwHjwOQl/RuutpzldaQGjAzGe76XvmjzQbMDObGNi+nzGlCx+53ZkeBhohoLqw0dl9AR/GOyq8UWHmszInnpk5oWkOOo1+3Mp3qTE5qa7i34NaWIaIu8a5rsfpppiAUCNS+s/sMDqk+Gz1EGWZ/E9FyoT5LzD4xkCNp3c8aFEISUYKw6Y8UIqVWdPvxv4OqSUvu9L6kH/VJ4/ywdcZidsf9lc+rFqjaDPo+b+U/8iyoCA2uLXRlaJu/3QwsX1jlVLdY5/7wYuD2RT6jhjG+wBAh5O9zP4F8NOz0h1EDJom9UbSjq/2XtE2P1fWUqX0ufGLUqMqPvjTT5MfHjwTfk86Ly+sOlLcqK3eFX5Q+zeQFte+s6Yjl/7fFhjeyUowQ2uXoUCh2D0VV0NruYjyTJssd8IR6+M1BQ6+DdaWtedk43kg37dmI4/E6Q1bAsgGprZTbCKBFHgvYTF7RAnZIxskiGhOb9S9fD9niwsjXS8kCR5Yu2uaYPs20zg5m0cboBYFs6Dtbi48zfYzoIopuphS0LQ05QlX22mGjs6Itx54wjwte3ZwJ1WGDAkjSY5nIowgVWtIHlG+pknV+iIkvnViu4S8hSOJm/d3f07Tmz6TzlZaKvb9gVH4HpnV0QYyLkfGIAc0ucmWyG5R3k/ETr9i+yC5i4AiL92zrxD5Q2bdb4bCtv1cdM2ncP0HpTxISfbiZ3oKkr2TAJmzxi/V0/QSwuxKz4W3uCz78eiX7t2f3z6uXmaMH6TnAwGPA0J+1flPfuLBu4+6tv5XomYR7z66QORZUeBwYAryEJk7MGC9nixCCzTsmf8lQrNp66p6ZiIG+0w4qRDtYdyWpeH8kSc5ndiKEC2UaNKxcqRjScaCYPU5zMFlvLw/hXnOX817voRLmtVRV/slh7liuC6SL7O2Ro2rHOSpcTHkClLPQjoJfZiWx8ZZnXbTIMcaFruI0E94dCYjfG31bG9l5i32q0nVPH3/K4punQdJvhCOItBtctBBV/Yz5+luFZJZJ91XlyRcQ/yMiVWDDsCFhjUZmmmViC0zwYJ2EZOjRy6qZHizu6vTmOSibH83Vw6niuNohvF0MJBX7EamJQhZUIzRU39V6iWYCXJuiViLtpFVFrXDe/MliXfcjeXvfp+/flWh81EeCqoQBj6ADwke+9M7krdCJ+r6eCFWjUl2FI30RZ9Q6z3zWfx8qGEcNSJ25Qmw+lqKYJEuAKJXKFK1v/LPEDc90vYT6MQ1QuayRFnCJpYiYtZeA6SXp755aG/LRt9mzC75QgLLiZvR7DAKIvB4teLRk4Z2zWFU54yhT8JwCe+H8EtZXQ1z17UkYQpIPw8jmgOCz5DFT2wwomeokE30tq/uVM9a2qwHumzEDiOLQ7xMjFC/0V6xINj3YjKh2TAGi4ieZEvi2Ot3nyzXhugo44XHfA5KW3wCIU0LOkT+37WEv6IuYM3Vi2oBY1F7Gq7m3p5ZwjUmUus64SOcwBELHV2tEQEcq+SWkEIJj2P3Bss1owXWlBNVjyyVLC+s9/cWBUO5w1/Xo4BXEGjB/5kMRlMUUJLX8QizD6rPxzyic1mWc1smypnJGR+O3JD/WmEHFLE1audWAUd9CC//0QCkWR8TTwPtCrIWvmfJ4cLd7RxYrrtKc5vVYQOXqyJK5ChtR7e5/e2lsyWCPRVwqfbkfTQDAwJJKIbICknnIRPHK0s7eId3vjTt1geEsQ6I7zCZe/CI/6M6UEBF++8o7roRowVPTtdZfHZq0LxMXzMIN22FLL8GpR6Bvr6isZO2B90G4zoQJIESJuErAAkflOqGI+AmFzZPcvk3jrpchUsgAvK6KjhiiJoLK510wNF2gxz4EFttomCc+/O0iuBrYHzCZtIyzuxP7Wt3tqBpUZAQ3HGID6n+Z/F5v9G+n7GVekLsQaXCUWzVyBDluf9e8yBQ2GiQXndtUgF0I/kkDYUsIX4IcC6IvBJOjB+72pzAGPsCUI6RdQ3zmYVnn+rP7c6qkk1OtKtpQHiFIluG00kKIZFSWbGSwPkojTPG2fmzMBmHChMscTYuLH/zgPQ+HfH5HFxSPuTCDrDnixvcDu81ID6xRkr9wDrzbUubj2Qn78pUfk/WBmor0A6drQcTKByeng07+1LuJtpiGZWSzjh+2uvYQIqyg21rM7iDeA3+mDAktTBWj3ek39PxWa1cWnTPvrPdkqtftiJ+Mv78LSyEEsVDfRXQGaaBp46zet5YSU9CyNLYehAjEerOJJgGJX9Ecwd0NnEzmrRsQprw14lNnqQ5iG7ddeIhDlwlqjwmKh3UUHSVkEELyjA5RlnCN1IKauyIjPzW3eRrWUZgD/10v3AAgtuP/DgdFpwpvRQAR+v7MXqWw0UVgkwaRNMbzN/aMJ82rOKX4zAQ1W+x1MD4Hr16RazUKBDgaU3Jw4prgDXG8jQ4V5fYDyZVBOMQVL7R+OhubJqhPvB+VuEna39P+qyJxbDPKd36vm7/6xesCaQP7CP6eYP8aTDDZTz9BErxIXr9+oFtTs/Tmv4butrZwxl4rgREHqYzSMq3OhQPj5TdquWCUwg/xfzgSOvRr7vN5AWAASM4K7YxgZSopkJXkqYMzwYt3g6N1vnq6VloTerz2E2M/eGksL1FX9iKxHrXNBP1vJft6hnXLuTfk3JbnCgFvMC7O9d34dDWRhMHP6mWjmxPYsA2CEywZ3LmGZU4a7/yen4tZWrW2CSNGL83T3lnhZlh7nK5uXD3eiO4JDBOLygdShWV3LQ+cFSButDUhpCCV9v7yl4lGfusO9xa/u1MMkmn5zYVK4OzE6tUgZv4PjYIjW3tzhjU7rbLRg4I/KnwlPyj03bHy/eYlnzzc2sV9zX3KsBQyge0Ldnb/XZ1lJ6Yr426A+YPURk+cHl+4Pu5Ty63uFFbcbewGfz4zzwfzgcHHy0ZLPqVI+pt62a14OKA51tM4ZTLHWUleVEkd7BcQnEzdUcUYf2524OhlHq1RTLC7nalTnnoWErSatuKXHAWUpKinEUtLTEOxvvn+vMiBmHkA6n/KvKeH9EStDmM0wd9QD+IywhGU7/0mvJvxD9mFQi2FgrACnn8c4uVgGN2AXOuMg+jE4Zje7DomNpnHh4rKvaGiX9T+G+xVf6GViUQFszBJGoc7NReUJKZTNi+IVJk2zfYL3RrHA0x+hFWJSQ2qwGf1HWayKsOqj955gyCYf0lpMdK+xnSSJhBpgO0EyYggHuAxr84TGS5T1DTHe59mliQgCFtvQozoGtkFO/wGHakTq4psXNT8frVKNHcdeNhafSXpxjM2MhdIZbBSXFKRcVPxGeylmGBBOWt32ypfjonv8U6ropmo041lu30AamYKm+ebdjhWkl7AKvI3XKLMhq/nSap0abDGr2oMo0RlYjTLpD03b5wurU2VpZWE//HuTNkJ+No20as0X2d5KRF1dbnvoGIOd7zTkp/2IbLHt8/J7GPsrjGQB4oBqVZF6h5o0cCKsb6ChJQrQyzRKTN4ebPmbevRPl7phuXx1p3wOCcbl2lY5v/mNbwXPaMI5f7uSYby/8oARGetk0psojUyB86kbyqrMHlJUHWw78ue+tp+upCFmFCKwX1AlS/NAwQjAyMA4GCiqGJAIBAQEBAgEFAAQgNkU4Fx0TQdcM4KTYEuohJZDFA9fxEJ9/q0rhZvQCDhgECKnFYoosf8gWAgInEA==\"\n  },\n  \"key03\" : {\n    \"name\" : \"gpu_Tstoviy_Koristuv_ch_TsZO_12345678.pfx\",\n    \"pin\"  : \"12345678\",\n    \"key\"  : \"MIIfuwIBAzCCH1gGCSqGSIb3DQEHAaCCH0kEgh9FMIIfQTCCAtsGCSqGSIb3DQEHAaCCAswEggLIMIICxDCCAVMGCyqGSIb3DQEMCgECoIIBDzCCAQswgbAGCSqGSIb3DQEFDTCBojBDBgkqhkiG9w0BBQwwNgQg5rF8/bTHZFE9eQwVO6X6F1tj+Cp63TJSs0VvRhEGmZoCAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAi3qQZ3eo3o0wRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BARWGofd+RovNIqKrLeHk0lUR3KfEBQHcAKzCBtdyKVjysVSgerOstMSGl+DG4KJxwnPvDTV4gjOKH1gdBmsQZM+FCIW5uKzct4+0dhh7yipOZjIC3FrFdcxMTAvBgkqhkiG9w0BCRUxIgQgWZW93LBkmliKfVFCgM+S5/DhMgX5E1sjFS+ccWi5F/0wggFpBgsqhkiG9w0BDAoBAqCCASUwggEhMIGwBgkqhkiG9w0BBQ0wgaIwQwYJKoZIhvcNAQUMMDYEIEL0ZErlBxohODtMp5RxwLAplpI7teMs0tgNQoaKAPwqAgInEDAOBgoqhiQCAQEBAQECBQAwWwYLKoYkAgEBAQEBAQMwTAQIpw92kbH+xKEEQKnW60XxPHCCgMSWeyMfXq32WOukwDcpHTjZa/Alyk4X+OlyDcYVtDool18Lwd6jZDi1ZOosF5/QEj5tuPrFeQQEbAzyMHks272WtRLta57XJsMxQEPLV3VXMp9xHOjFoKVAQl1tY19oQjbpfWcsCo610PAlGX8pg+irPW8Ry5BgjlEwzPaQil0g4xr7oAsu/SYQ31xdvzgsl+wTvOVqvLNA4PJW1YLIVNV2gdSjxjExMC8GCSqGSIb3DQEJFTEiBCC/38xFgs+sLT4a5ywu1jKk2lxb8stDI+V15wEDyakYRTCCHF4GCSqGSIb3DQEHBqCCHE8wghxLAgEAMIIcRAYJKoZIhvcNAQcBMIGwBgkqhkiG9w0BBQ0wgaIwQwYJKoZIhvcNAQUMMDYEIMg1ADia180F8Zma417ByreJCWAiFkVqJypVivOI8PJvAgInEDAOBgoqhiQCAQEBAQECBQAwWwYLKoYkAgEBAQEBAQMwTAQIH+jWPFwT+coEQKnW60XxPHCCgMSWeyMfXq32WOukwDcpHTjZa/Alyk4X+OlyDcYVtDool18Lwd6jZDi1ZOosF5/QEj5tuPrFeQSAghuCLZniUXV5Z1K8Shf9tVmW2bA5Wb4JL57zXwuySurJmg5Wh5GDacxyIUxVwOXYCU/LGUTbVlndL6Sx47xYBs/bV/YTi82DCLo9/HSft1gISqKkupgPHv0AtpDHrm52AEo/gkVr1H82mIhXM7CQTxx6KAkPiO52eFyW25otrzTkw/NOgbcq7U0BW1dESVlF9hbAARCU+pEZlLKQr4yARSD+MAUO2itxJt5m8wMLWey0aSdFFC6DHqGWgXHsg0pDsjZtANMJuKyM4y1EM2fpsmfMGL9r3FXTpodu3uxq6Cm/CykYidRoQpqvIePbx9W1YEU5PIfvyP4j9hdoRX5RhXKxVsAxw0f1qVKyT+NcO9oRoewlXzOGlESDhN9IV9S3zuXZ9OiLIgN7y2B7ME4kHo8IoyjWyMrV0Fa9voTytloGIIjbVVR9/P14X5W6fhMFQjaOPUbJWEByQyI4HPlWPQy8NnOdxyeOzuM3qAaZQ7pr1C03HOfujIO1oYB/FTCdaP9KZQSbyKQFFG2zkqYAmx5ff+AJu1GmjXSEg93aWwa3nTSUXLyMDQurf4v1PIEI6io6rSsiuYsRPLALiEW88idq1JWRIiGXcoyjYx3zxYbHTECmb/MvU6SkqIV9NLVujKcERYsJIwnWeoy/LEkbCW2+ayYoHzMD/MIaPxrWOLFUSW45G+FeYs1HKniatbZJQp3+lygQ0fA35CzNkIRQ5XwubT/t8oc03s3MVKtQBnd2f1CCXLu0C6tPhShqFzZdey+S5RioW9swNK4tI/fzNpAG/CVxsJsqyrcTFc12YGObcCf+RHhmltcvlq8Z8T0qgaT3WYK05UHubgii/qWmY+B130LAUCG596DNgQOh7Rj1PFMWL3+OB7D9gJzlYe7IYpLqGTyjHkQcCe/HgdJSXGqRKTQOD5Z5UGpNzg/yAaxMZ4C+yW+KteM6PNZLgIuNprjb4BvSvl2JtpGB3FZieyEpctqoQm08sZwguCTHmsK+YHpwrum2RQxx1wI7LLF8iHPryGIFKWfnxYknW0A9m7K1/KdCFJs3XMM1IAtbiKZQYj+/9eLHLPU49Kyq756bEjtoaLbQD1ryTdmdzL3NVIWoNzmgQLb4/IAbuum5di0g3N+/i9tN974fCJBHg8SPIrCUyfXkp7Q4fewnUt6bYlfmyj0ZCh4VrNAKyTYpgs2VX+Qq7gqjixg+HtP8xHxfXJ+5y1aZI7rK0yICTsanIpAMSLqamZ2HutCKpVm1gFqTijRY0X+/Eha989r+BAEGhWQcSWTEZl8lsu3NrP6gQVBqIwOXw52rq4LDbr/qwK2xIutiFol7ELRccDRtjRvfZTBcDtv+q9n/FDaFKQXP8v6gBSRpJ1lRcVs4vEIdGRvqt3mPunfUOM/Nfncy3h03NGGGyhFIeBbc2xqiJsLKaJi/ZfZ2slCxnIWqThH2wtT6RJu3OBCCr6sfT6KMMzGceOdJDpXoWmDia3Vh1xkoRvPB9rNOSOlmkDjUZ6TpgPZuD6uMdrmZUrNe+vXAO08HKmaJu/yPpYnEgS2R5oXeg2Ax7YHYaxmp0lFHyyZ4sOyPC8M+VXKvDI51k3PFMTc6+k5Whf3ipez3lhzqin3NzvrqWwaTS/kdCu3M8TeSg2ILmVWx24pMxscS7/HWxRIs1DFn+ruvFIvl3DjPofcwH1vMUz2QYOb4Rg4ZU24MXewN4JwrOo+CyCw1AwxIcKaJRqShYybXFEO50Hw+pLnPDXlldjLVUbDWyn5OzTtDSEa+OLjzrEZ8BmUObQGZ9G7lggPJ3MOIPnU2YinTKTeANx2Wrt+t6aAngUgzzXtrq2Fk+sugblYMPE5+1bZCCej8ennfxtJ7fQW7/rgMb3MrGx7n1Ocn0yxwgBNBFIz6ljKMNwkW23adasG2oy/TEiRi5Utm6WKc1vFoxeLOiT+trRBePqRvsSfKzyvKQDDTkOiwoGuSJTYfsVACoLkWcyKvMAfaQfirg7vmDGpIhlMpcRXk/MqZ7SBP7CfVsWk1R+obDe63/scKRiv/TB/LXBx6sLTjwuIqYqSdgiUg1cWaxvv/DYgB7CrgG7CR12qFql9weZSfrqvPFPayC4a9bAA+bDFJNNurzLvCZEjuUrPpw94Pd0XCEBr8QXxphqX+jZx2wJTaCHhqtXGCHkk582O3oOaD92EcKQtNc0Kp50VQiQS1Vi9gloSmZaDsWr18hLuvHupQ0hPo16lJoJn5GzUwI5MQ8hiPhvTDb6Pu7K90vftLrWnKET9A2W8Z046qETx3CIwL0Z8JzDq2BcLMabz22AK4dHN9HCFKPa7DoFlOg/+OM8k6kc9EZbTnXnfLuy2xeDCRgPwJcyggstMxEjM2S9sQEm9ib7VFZJidYbb35cpllWWvVJWxqaICkt9wDsq6tck93gywbm87rqZpjlr72cBQfHOpjjEjNF/u0Rnkjb9seSrrrNuKO9RvLNJUz631vXvIhA6OOyBIc2bvdeFbVNA3PiKDPkTFJQ20qwdlSb7Es1+guwR34ABxNIX8DlfOeYJlU1K8Vc8zBzXFatohvfQ9ucaikVcOD34NPyFwy6nL+HADX6xIUqL9sBGz+OKiTAj68/d+eVn6c4IGOpjF+AVfV5rE41d5j2slM6UGmX+NGLUR7+ckGV2+wy2N+OvvRZmoDMPnGo3FsxuehX6OsWOtWVRoikb0rJflxsIhyKM5ttCNqnPPNsRpWvGVOEiOuCUs1zeQ5MEgaX3oDslfkxP9BdXBzpfFTt6/RwEiaMPFdCM3bGBsJRwA2mdqYb3QziAP8VNvPEbNk2/zlvJc4YxA2oOpq8drYfE/BbepcdMqpqH7f4xerGznhNgA2h3csbtmWimUH5nn49jHwz6iAmhnR84hiTQKuueNnvo/CsD+ZOokMck7Wr+9KxBwTU0IZmF55m0UdCs6yriK5gYRMzczuT0it15I8r+SL+8GhCvn3c5k0qtunX4l2En2Bk6cIqK1ytyokrvjz/oYUref86puKBYGozo4aWKgpreOkmBQK2hJQTzCpxktvZm24tgM/ofKRmCneDMrgc7fZb5I+jBQBX1SeTQiEi8J4JYywVf7JqrSjzkcuCYfale7I8NDF1Y79PM/7P4XPtAYu8a05QdBm545rvsE7+YbcPsGcaJH91QPvn4Uz1VyOdnZb+/olQfvOOSrP+8GZ9M0KyNydZI3EGylf7GiyY7eTPGFKMUV8KbCTLRBZkUhn23aNDhvgvh6IVaBlHYlMWHo8xh5KldBH22WnpULLYcTJbf8N6kRz++DT87BXHHjTNf4zE6/PZAdF/khaEDje0e3pvDezXvbC4AOXgNY5NnUn9Si9uSvGvmB/CfBdbgwr+x173EADcAeESMfyjyQS5UBg7fPG0CB1EHNnoIZCB4+uIVoqpHvFXUeb76nDXaqrylcLYQLejA1fCHiUwMuwErr5Fec0xZnvpkDEsciFEFlSDnLQs2vpPdNVkuWR5Lhl9laHM/03DeGkNwKLoxZiKGqLfiH7yTALjX6Oo1mkBOtUtendX9Q7KRuPJAnFvpGT4RfW/KyuBd3y4EQtNFcOThJjwjdEnkKTXtmswBXGfRmMGRHQqoAMOCYffDASFFuo8soXK7M62lhgd+e15HegklHZ9MmqCMggG7+toYKvaZQ/lEcwulBOXJYRifsoG0zL0FI6iJzq1J3uoFIC3heoSeruH5A0YaB/cFSOYYjHuQFDl1kI0uuvbEg9b4D3ZqWzzs5VryOFI0W3KRRuM9zL+71ZQWrscvNCtj/LlBa/WCbhogGjuzhNEAk84hyn529lgpVyMuXHxPs69pgTsgv8nA1ev9FPlDjBiouyKs6SbvTzTNyRU+NRa7+Ko5lT50Ci7QmivunV+J3Y+5Z5eT9L8lEW9vcEzwLIzOGpTnI4B+lPsqtvXe7iDbKuwjvqTPz+QCIbmZmzU8MLFOad2kQ9Gvf7crFzf2hL5LpW1/2NeM9EEgMDWNpMnCUOY9k1u5+1C+96hsF3Ryd5WNanCTB4Ij0ei4/bOXbd+lagSJQpzr/EW5oLIo87Xi6TyQ4V8Z0XnkfdUAfDMcSGWiNCN+h3tmxQEdXE/eaVSl22WN9d8Vf8fd/MEbXBImff54Z8WU0i2e9C//Lh+MtZtoJXlrf2EdWgJ20OtIs9XpUrM2xMchf02FE3coGeEBtrjzlpBP2ten6L8+QdGR4bda0bRvXNejgpUNTk66Mx/i2heTspNUW4vgpyScw7vOiN2Chw12xfIcdaD/D1cWqD4ddRHeL8C1hPDIh7MLQ6gAZV40iOLmaqArO3FZSkiPcsq0HLzKaPIvxz06sdvQB+KcXJF0cRiONB7MR+EfZRliwp/RAd0/Cdm6R4DyhdjY9kyD71EUamQD/QHJh48YjeLKNATEWcUP8P7GsMWNK9Ltxgrnc8EM2pBYaUU9X2TFCfRe5VWTK66gFO2iK/tTo+ukWRTUNNm3zR4TmB7kKaOYRxva/JlXoFkfQBfgpwa0etn3RkLviBFEHohgiO8vJsgyZXj5vWW3HZr5NnisjMF7DETGg1OCPu+kUz0M/6+D86Tbre/ykV+5Z968yxNeiSxFf9rlwoSJYTIfuIO+ep+hAuG36vYwy3buVZWR1fLDuYtv1gVKZPwsuXtHg8nQCf3j8/9PwYJJ2aTVtepCIT0Peu+fiE88RAY0CW6dFQB3/Ng8re/V6Yd1L7NClMKJQEe6VgI7bUEtmhwrxiOJmKYP2kS+CFn2Q+pkGlgOzSR2HRx4IEMff1xPxIrvI4iKkotKqPNrNrgA7v9VlFsXhtpj+iqTrs/UkOwpUUlrla3qfki4fT7t9Icg2CE5YHiu7WMfC8ktHQxUAntU4KZynvrlskQMwWApEmc3FipwYgPJ2VOuAJNznb+7e6QtWhKlrvWw781v27MAoextNwt+IaRkp9zSUTXNFFCu9U22iDejygkB8ArhU3WA9mR1p7upw3s5ICZA0p8IDlwo3FjYRwYUg0IJ5JE1ichRAZbyvz/jGzGMj09YYDSI9dFVohRqQs3TUZjU01WJ3/O/eEfgt2SV1/GG0Je7S7chJIcLd2Ee//IgJPj9QKMAoOef8lkmvMV+1JfchbDLmnpOuvKo89CkJy5YXoyLxZfO+vE3WRKggCxk28whjoVyiCksc2OKlR2h3QwY4TIgjC7GMI+/gxuI+bSimXPNk64BJJVkoPF/oaZ4W6y97VjF1VjzzHdS4NU9S3mYrRDmBNspkJL9wu4y6+MV60lugV7ALbudqoY4qaVopcCmSXl3mHxBhkrk82debcYJjiMutqG6Acq7gBrICTimuuo/A/hAoANIV8JA517PEDdeYkQv0tZh/wsEeM8Y+/TmZp5xt4l8CnwEnhxnpl5hlvLnsG1I5KqU5rrqA+vKGWJNV164OQ1GATFbbXa8XN5zWiC8XKoFr+xocG1UvSISJERCbOn9MO0upOvp5enaKBqxwFNQ1QwB6PLbVqXm42xZatLZf3j6pRWkwp3TmkWBcb8bXQJwJ9WgbUEGnCGIV6dnHqSKMEN55eCP/uOz2X4YIv8liEjzh23Y9ofuxBQu7ewu1O2hh8TkS1wdy8nd5kUGb2xyVyPwRBD/HFLDwv9Fg3TlRAqL/4v4fFUYBYET5SMfEZwUxmH53BvVyXQoYvdElm6ISal1j/EnNVWOrE1lEnkS6rE852mGklPEJZxiXrEDoi0YT1tBKU1+S9Ag6rQOgR9PNv5mxkIlyXE1hio/5V5DbBc5CRk9H5sB7u9Uvcr0r3oaB5L46cPLiHEK7+ZhvcwolRBBvrgEd5JBqGSqXU7OLaxV7Djhtha03ANM+/lm0ba/SAqQWEo4RldUT6OW+KsFDU8vWs3jwe0YVFY4rX3ptC5fc+szWpH/D/9vW6PP2PPxbN+txJN9SAYDK7vXsJWH2WWOu2cT48sRTlrK3N3R5p6wgH5g66LrITYwg9YFjwuNqYxlaojltmvGs0AjFq/oXGA9ZOhW8Ez3wVjzEXna9aGL7pBWQk7NFWDfhkgIpFIoN7l5JvMiH0Didxn9IXCY5env9GYJz+kmLlgf60mzQuxNkFrsW8Y/KHgT5aIkSnRLiz8GrABSCFsVyMLszKvIEFpkE3GF89g6ySglSMbrspxE4Dq7naanQDDyYr9I6Qkl9QEK4FJOALvRnV9CzI9A18Y4bIeOWZHwN0WG/8qt3sge87W6To1SCdr5ekHiWKV0qODBiR9JqeI4o4D09U5UVfuJCBuI7JrYxgab9c1WmvkyeCEycI1gqgIzmW3igO4vN3zvJHJ7cC7z6/FFzSo4IhwyQVhDyhGKNb9pg7OhQHC/F+jYhxnhoWyMGXoivsytfZ8VoJxcSwtMmC3GvKLKIFwSqiacqVBX9p32Xp+H2aCHJZ/vjkVr8/0Zv1/kUarShQCVrLne7VUl/ghI8QdsTF/PHs1LQu3AGabBGiHjFV0Q7z7c7Ulkzo5O4J1gtDYMCZaOusZSkx/rmVNvEMfItRLx58kc/mDuio9MjH84x+P0N7ADIHO5sj4ibNW449/f9RIxJ/oJ7OyxfMeVGYL4DvG5RGXjtsQZf3ScJmyazFdH3XjIIrkT5NCpHx07UVhR13qMOckGtv0DcwLxqspu4yld9Es6khd4JtZWtiVp5nNYLK+9ECQ+HHOOzQwngyFg2UYbl2B3a5AhHoHzr4eEiW2LRt8dxWEMhv+cNdxDEfQEtbOtkM/hwcOnKGJKe/nWVmYkdKEE6YakyrOOx1a5wvsMc1ZIgM5KkGkDO7gafYoSP1b8SRSBb3ir4pBH76qSz6iGiR7NQ2cbPyEO+2NHbcisLgbfwco7Dmum5f6okxS2ceioKOH6SjGbVVcthbWo1TG11FuWOGP6B+iYg/vgiRwVaEDxgsdAju/NJ39+Ldkok03xQPOhu/Z5bqOAh5f5k8OXykZJZSOtBVRRZDlezOWAxiPCSXJTmJcYnxtcyOIeMv9UY6FgLRxhO8DRjikmF1tmbtuoI/+a4A9GW/IsQelnu0gqCuCjL9V9aJrz6dB0z+udNdAIUUbWDsS79DgVlQeWg86J8oO5Azncv7pbx/pbOPkRMyxBuFtEpif1jd+zlTuerc9dApIghAbwxzgkXE/3NuEAWeWxRYE3VmI1nIF7HojgzjB67ecqzanEAwhMOCxeGuR68ktQKoygsvnXaP2b1KfGB7+joBEvHocbl+HKpElX4NOeFAK9n07UwBWvNShSuveVkK5rc6ejr4n/FcfSRc697WsSt4buPnYIXcKnN04VCGG0+KAwB9uulMInQdGJDw6Ui7ExhGxxolZkfMe98fYHBkoF38vUfEKHUTWR37Rq25q8Ck3FEVPa9cZ4CTn6F7Gvkh3Sy1+2a9WqoIkID6Q3yQV2czPVOX8G1quFksl+8UJyb72soB/h5kHhdQ5iV0aSiYtLG1Z9lpBONgd5VuMrzGbFEjgm/LQ42wMJTCSat2ovSprev2YDBr/xVEIvWtmnY9tAFb8tZn3dxJIMsMsfqJVARcch3GirnzgLxvT6STkDlibzejVgVrUEJrzvn/WsMcJeCfVVSDDtqFEOs0p0vwRbGBY2NlZtbv6EIOQqJqDIBp/g1b06OKGmyJqQJE61Y8Ad9Q1TYj0jGJoEgdql2W6wmxNX4LzlJWWn+MftHR20go7rtp1MDcIkcaRyhup4Vydm1UaEJkhEVh7yDzKrhjej1QDg5tmwnDQUaUqq9azJCBGgPTOAeeNC93Jf0OTql6UL7hkvF3rgDESkHGrosgHGWCEbKMGmXHePTWQDXEES2GI7DwgRF8weuqHAIjxBudut9Cm40Hc+JToHSQavE7FrjZ1cN/Ra9BM7WrTTSV7a/3tBajfJ5Cag3B1FCu/ZQs9Y/bAyq3oIynVsD8H0UG4LoeT4CkT/oJbBvAIumYJ6F02PT+ZKHSdgd3B/gH/6dqka27yvBdfw4+oCW1Pb/mAq52BuYiEWUaFZsg/W0MD8V5mCwuYfFpW5rBe+LAEjTrt7yYEK1NwROICV1MzPViSg4ikxaDgEZuchmtrJ+JkvhYD1RG8xg0ysMCq5mwyKZOm5gcT8tpV5FXS6e2PzXj2WEijMnux7lOcNvKKbipsdCKZULyYkLyltbdZeOUxvy4vUVIYUEMRGaLTMr+cMIF4a2rrjCjBHPMN6c0hODdw2rBJbxGqQt85o7GejCl4QXpn+mN9gUzCLM1rbWuKUNwTM37JeRHgkzijTAiW6XQ9y+ch2rCbAIVo2Q+qaXWi3HXe3luFX5yKNQxE/QdKqYpCUtIUEihC/cBNnnfGSZQWekCmxvSLttOumvXZ7eRX1mXcLisvi8O9ezyp5DbJ/H+m1nEqfa98P/+8kfJ1jSWFKJ7vRNphVH5Y9oLqfVGDbIh1dc2661lJ59YONUEMV/YK3tudecCV2wKRniP8dPeeS4zDpRFf0usx3darLd28V8EdwCslRFN/FHXdlaVvwXS0tyw8mA+MJXeoOkD1DtSjVpMPyLRbHs6+e9t940XEhLRWn++7tSYW8BvMAgTxYHtTo1LrnHLuuXuXimcDldvvLKY5cMX0rZeWy8EuhhFO50zVEG3QOtsEBNxTQ2DphM7C0p5V6TqtdtPt2pyZ4RcOMR6+wNpvGEVzM6hjOpt/WH+z1Bse3AxzrheSocs6sNyTau4GDX4ixceFMzLDXp+qeHyIXNJteLJli42/lXbfyPHExeBYUOeRqa+xkcL/UbNRs7ZLrwxZjyysUznNjP6qjxMYH9RVtA03SRRI31wuLS9aSLMLZqViS/doBn8RhDXgM0Da2UgAZo/iMmvObMurk3G6alwRqtV2poGqpy0IekgDoxntdhCrN9feytxtm7vfUkSV2AIxzEoiF2cccGaOU/Y6sbpxfz60ojkqIAe75vO4HIXTjQeQT4E58jyQLJMG0sr2oq36/97X5cL3yRaug45OuYLSS4788ErfWIj3t2NWfHAM8i/h4gGlGrC+Ne6Tf17XH0NZRVH671D8yFYqwQN0B4mfuI2VXo2NbM41GzAfhTN7GQcgkCnQzRB5leTFK3OhDYGK8Gk6MsjJkRaR59l8Aa0RNy45a4D2iPNdWAXdgv0ioYy3DF5Zm/Hb6rbXSUbOwXw2VxJom7floTGhQxIzwvuLzS1z6Ur0PqpsMwvN+B/CQLx3Yj5TB8xQ+UXL6DzAtcA4fYwChTPCxuL2c4rcSqHDsXZ16xZlWGrQMTEtMjiBVqyyKER3eFTs4BQrdIrZRzD2vqgDGAGgnXvkkYJEM8MplmQNcfsMgfH4j3tjpzHZcIY4ez6Fy2EXz9KFbruPZlybShlCPPPQie3KTeWHkMF3DhYmV8TkoknaUZ12FhPAgtNqE9waitkAFEZt0iCY64ItWZrYQRrze9ozBaMDIwDgYKKoYkAgEBAQECAQUABCCCMYDvTMrDrsqLAAHoutpzrv4JbJrI2+ChrhVuvWRruwQgND+d/eIXPdjQrX70+dGqJR4zAXlnWHoGAH47M+VrvdUCAicQ\"\n  },\n  \"key04\" : {\n    \"name\" : \"osch_1_12345678.pfx\",\n    \"pin\"  : \"12345678\",\n    \"key\"  : \"MIIIJQIBAzCCB8IGCSqGSIb3DQEHAaCCB7MEggevMIIHqzCCAZMGCSqGSIb3DQEHAaCCAYQEggGAMIIBfDCCAXgGCyqGSIb3DQEMCgECoIIBNDCCATAwgbAGCSqGSIb3DQEFDTCBojBDBgkqhkiG9w0BBQwwNgQgtsCzwhs3m55/hc8xeEXrdIAbIQCF4Z/jw0Kav57ACKECAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAhrCQ89YDzFEgRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BAR7qmhOje0olOjyWllgbm8olRZg/G/ZlePx+vB1XTn2wN2inlwo1ALbyU5CbmVboHwEEEHg/IZ3BR/hzrX0YWoPNW4VDkeNpMpDbA4AQWl+E1XKwk4g/ON/s+ylWxnaQS6FlJj95xSYmH7ikalR4TdEiUXJmLM8AY4guYLHMTEwLwYJKoZIhvcNAQkVMSIEIG2upG4Y4h1TO7c4ElE0CCvq/FNjgMsSw/5GkyFeYv2VMIIGEAYJKoZIhvcNAQcGoIIGATCCBf0CAQAwggX2BgkqhkiG9w0BBwEwgbAGCSqGSIb3DQEFDTCBojBDBgkqhkiG9w0BBQwwNgQg5oBcU7dXwSw95vYFc2UXE9JSt3TWvDppGkfa2RFOM1ACAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAiU+ypWXMNmjgRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BICCBTRJnT0AaD/xvIZZhPnnVmyNNrHZShePxZ5a/76olvkBpk4Gb7TkWgn4HqzgHpPOJM+6mEyIHk8abRpISuIxGiHWivewHsKKa5bnDuO4IDoEas4sxJH4nXsurxZxhz0F4Oe5T2EvV7UQZNQYBro2m83EiB4xRC2n7w7i/Uz+AV2czcROdXufYEO8mOP++tklcQ/0EUh5Bwo5lKtT0Do85rKEkErUGrMXv12uzhFqlYQKb2FaKO14DFMYChRMqApEQbQH7fxDIaMSeGO9/Hau3KMR196nl+UF3TNb4qIe+7ACG5rVnXetAnq7oh9TwXztfum7bYp5mjD4BywxSB74EO6Ct8f67S0Kf1fQ1YiIcpcnFtyoQJuE3Jy6PWPSArROTRze+CAUG+24eZaCv4iCvSb77/qM44TZa3ovZgDT72qAblRcosoaEe9WPM36LmbooeLuQyD2CGxGqZ1dB6wYwrhNwaCA6BDQwNIeQR0edzKBwkqy7utyOC0Gtt+SIRA0sb6KHwgnSuCnwtdIg1LvXrvmmTPV3mScqdOHNeVxzIjwS98MlRoRFP3Cc7pIV5tK/qhDdl5ypwIHo68UiRZ2N4G2oXbwPfKXSxaB6OmWblAAaOXrvUlN/18UesE8GVwJjYj0icFq0o03NLnvuxOxE/5S7Amep94Nu2se/IEowbUJzyVQQxDuVU52uvGWvq2hQmTccQ/2P+AYZw4zUhWnw7AmpU3SuXbdaIh0WoanwX9h5z/+9sgdAyxoj84FPeqe2GYEhYgz8khKzMeOU6Jdgoer+sbOAuoA//gOHnnyuh7/LI5i43q6uSOCt2EIRgKINM8XkduRhMrEWCXiLDij0ByaBw8xVNCsX/LpfJaMdGb9tvOr1un/u1O+OjGZT6e9F34SnpXWBlwA7OF9nOPQd7laHWiFv2FHT7uvMinKxxnlRc7WDVJLWfHYzTe98DjhJusFoFzza+YO0uSoYl0vYX2fbndcG952SeOfxiXDdmUT44mRX8p5XbkCdAwsWoK8bJHI4yXar0KrDkuwt8kjx3PIqJPthqaGNQVR6c1UiVcd0bHdEY6yYmm9LydNs0of7XkO9q9ZBaku8An6GDCHcvW3ZhT6fIfV21VGBOcUO0F5/iN3VS7yJZ0dsXxadA1DPWhxGZB4klJo/QYl5kPtMsXsQYIknHHELKryXkn7B6EEQ//S7A8h1a5Zi63LVZgPLTH8QY8mla/e9Yhgzai/K7iT0BMd4gtpVYH5dzS7I1DxNxCCJjXZUsxYd11k3X87ai6swgcs3vDVMsfrvBX89XcqgrlHuM+a50+S0gVyznXnhAk8gzX3LwZwL8vHDp9/VM1unnpKoV6voVC9FUKl3qSrkYQDgYHdBSrED27tKoNmBRddx4JE366SQBLbwQ4TjGG4JbKt3rmZE25grLfHZFZoHEoEiPWEEr1qEUryHJLLC/t9fWsqAUS18iNgbJMR2st4n5+/h9D7C8htXuVau7XRcBCtp8QbpeqZihByD2hAkjr9vFa1sNR1GfcvBxk74VgSN6+UM1aBDOFFXU3wKprQIW43xgww9pNhEWz8Ynk1YZMi9WF+J5NRnVAXhteYnLBR1ZwJ7YDwZjLvKWt8nFq+4ImrasgPw61nLwdqVMBHadKn1bXl5tFo+vaEsvUDSZk4TKtTK94l8FwkeHACl0ZvBfkFchSpi2+Jcp/16aZJXYVnJ8LIEpSDMXTLd2Vm38A8rdRagXHML69Nu1LmnZaX+aypjrNiMWzQLZgoUa8CUURE5EEwWjAyMA4GCiqGJAIBAQEBAgEFAAQg7SOGeA0QH+x9UFk23Aavfx9wAcDEe4SSYUMzbII2yXwEICNf3c86197cxatAAqLHsyn8aXciXWpPmuDSWUqtq4FWAgInEA==\"\n  },\n  \"key05\" : {\n    \"name\" : \"osch_2_12345678.pfx\",\n    \"pin\"  : \"12345678\",\n    \"key\"  : \"MIIIIwIBAzCCB8AGCSqGSIb3DQEHAaCCB7EEggetMIIHqTCCAZMGCSqGSIb3DQEHAaCCAYQEggGAMIIBfDCCAXgGCyqGSIb3DQEMCgECoIIBNDCCATAwgbAGCSqGSIb3DQEFDTCBojBDBgkqhkiG9w0BBQwwNgQggF9mF+QGbnwxtPhQ45pqJjcX5ud7R+xCVll9K8hEV/8CAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAixIYA/nlnM4wRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BAR7+EahDvtjrxReq9h1nEbAJodZYFYD2h7xm6TO7t8o/G7U0jigJklgTmJmLdw7ut1T/mIJke8NI1pB+6IeEEGsCNDNkBc5gWy8vv3ZUJKT/aP4sy5udqVCNyHU8OOxX0nc40rURoR3zMmXc6Y3G4C3NYkXcEzt1SIHrDRZMTEwLwYJKoZIhvcNAQkVMSIEIDPocEDN9OhJlahO55kT7oOR5JrJHEo3zuBz+59FUWDPMIIGDgYJKoZIhvcNAQcGoIIF/zCCBfsCAQAwggX0BgkqhkiG9w0BBwEwgbAGCSqGSIb3DQEFDTCBojBDBgkqhkiG9w0BBQwwNgQgPLd2rzL/WsihfX2TC3Au/XmH3KOfs+plILUJcRuv/MMCAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAj0GjUu/lnLewRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BICCBTJcenn9GCH0K/Xkm+0rq2Q5B0qB9L0JiB76V5GWE8c2VSZnZ9ye2dtj4kTv2/g72aB5ZokTsl+F4VdqbJ6woZf60qKpe9QrgTvERw8MiDOUZkmiBRgdJSuVEdxcjbqzmA0PIW8INDa5w0GxbMiarh8vao2c1hGQTDuZwIrQ25cpJThcVta6V/zKO77intBLTuFT1BuMCmp+nabtBJEhOf3KKPIkOwccHmGqTjJgRnHSsbOgcprt8AUw1lhTTRsagC1gt5IVqhxICRbwXO3mXpKFVUOHc2Yf/abYb2kTooDiha4wcjBWztz5k2hM4AUFJ7/D50hCQrlD78LaOXfMidVJ58naGTXJU+8b0spTh/7QpX+/ltvve5P0oRZHKg1gAkZmgYbo3gpfULG9Rwj5TNmTdDo0Da97jysGsqTeqFzn7vgqTIcJ4WhyvMw4hvvgDBXyWVaT8bTVs3NuYX45sQtoamWH6fw5SnCn6srlDT7yuLnHzT3mxipR+g25BqsVhIuk/V2kQp4e5bBqzcKzKmhrzv00qs5XS/ndD4nwRUUW/MgFXEbpA4Cn4ZiKMJX9PQ/vjcP3YGntLUIA7e/IzKm7rDP1mrks1YyDqyGXxcw7pK8K4ScE38v4N3fuZrNXoXgX2dPZYiEE/bU1wyop2wYpV/O/+cq9XL+GKUurW4BolWEop46WzmnOmP0T4wcCSswHpQ65xy3ZyRlwJgzP5kHv+nUiA1pPrY8TSdcDUogAwZjva77kWXz+qf/7fEw5K8tf3Bsqnx4ei2X/rOYexC2QOM8O78k0199WS3+SdNsClAcQFun5gMhW7TtHwRzgrulr8ImfmnCvhy97z78h+E5puiXwZbdI01CCqF3NNbvyUXnxhZ9pPR7btPFiOImyffNtU8yg6tMJqkNomqnKnBatGP5r47hQjZsUt/CR+Tsgez2p/Xh1tpwfuGN26I96s79juAZesclw9xOpczOOgh5CKzFdGgAg8y6h7PUPqENNh4a+sJXNHX7P6LSV6GG6MDf8o6PiKCQBHj5b0o6TuSVQr1L3MT4oOBr6jvjOjtwYBMqWGcGvmBy/Pt1dDfwk/tgf3NmHTA7lvTt9+CgV/lxq6xiJUBwlNBYk3toVKw85cHo5N4Y5P5sD5Hu1PwUXyeRcfEDz9kPYjtO+8vaFAr3Q2GVP8DZLhSws5hQ8MlawxSkrYTaVr/Oz5l2Gbe+nlyJWQ1vlUjRpgzILxtZdJF9oHFLY/gewDhw5kzW+W9FYy0xL5rKWO5OVZEYPWDa9YTFsCWrf+e7fiwsx+I4KhaHtJAKkwfhmHMI2RR1FeVij+ccNeEkOZrk8ynGk1sjxvkbnFRTd5/oNa30PeoHYqojMAKIMgq0KGb5zMIW77a52Uz9xz9As5vQrP75+UdhEMlO9GbjTbiAMPGp+9E92Ew22OIJvyvb//6wAo9jy0QW3ygaJfA7REWPG6q4VGCqmpinIgslXyCqpIeCi+z/Pa8tU/eWBvlH1p/MOs4J3L5FCUiC+T2W804tMw0JS9rpWzuv1Sh/0i2ZHtLfjkVGqhcF5eh4nZE6HDL7PW+n+BqRF5yZOTMUmlAyfGJpWhI+Ql3n2G+PVnHksTEaqxBK5TCNVFSMisKmEKsLqvCF8ijIOmEu3UrcNkmzbpiTnZXmy1u2cLFKopFM/4E04OB+84U0khVd1yBzpRT+ItTyKFEPvQHRZPVpxm3RJVyf0jywsZG9Sf/d727An1apCY1Jip8ZroP1oaTOffs5TzbmxlMAYAX1dMFowMjAOBgoqhiQCAQEBAQIBBQAEIL8jDsLQsOqtLosrutkrxmTFqIR3QH1wYjTLxoWP6uZ+BCC/McjITKMkst9bzqjXwOK+uzcMKO4ow6yyMCeHem7aMwICJxA=\"\n  },\n  \"key06\" : {\n    \"name\" : \"tax_Key_6_123.dat\",\n    \"pin\"  : \"123\",\n    \"key\"  : \"MIIE4wIBAzCCBIAGCSqGSIb3DQEHAaCCBHEEggRtMIIEaTCCBGUGCSqGSIb3DQEHAaCCBFYEggRSMIIETjCCAfIGCyqGSIb3DQEMCgECoIIBrjCCAaowgbAGCSqGSIb3DQEFDTCBojBDBgkqhkiG9w0BBQwwNgQgIQ1qyY+b/oXXGPAHsPLgnz7AJ0BbSpklcMA3rv+jqrACAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAg0PxSOXl6krgRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BASB9JROVWnLRAy5owa6RbP0L7q9WetHXqU/GTprgEKRKRzhoNQC1VV+ze1syd8UpuLSF1ddI974zk/qehx5cFPVu9PzIcehqIyP2vzMbSge6GGiLC+iWL9ZAW8X8sonP47xN+1KMIJpk2RRT0nsm04Y5ZtoCKd0BtyltfjxwWTuTDWt6C9/PBeqvI6Ih5I2/ae1xxiUal2E27zJXKCirfWw6a6+d8wBRpRFWjT/PUlwj/vnYfcDwg9SoPK6gILGPl9n/8pvlPdvaj8dKD3Zrt/zPqn7OuP2laflJnhyhCZFPmclylY8e08fV+6FeJoYF3zKfZXKrd0xMTAvBgkqhkiG9w0BCRUxIgQgadQmNfUJp1zfVPE8kdyHbkPg+Haz7bmhuhJuNi/zxWQwggJUBgsqhkiG9w0BDAoBAqCCAhAwggIMMIGwBgkqhkiG9w0BBQ0wgaIwQwYJKoZIhvcNAQUMMDYEII8XhSNvWToCgIkA8P4EjwlYS0a+X2q3jfkaP+VgUt7BAgInEDAOBgoqhiQCAQEBAQECBQAwWwYLKoYkAgEBAQEBAQMwTAQIeZTIYswYRm4EQKnW60XxPHCCgMSWeyMfXq32WOukwDcpHTjZa/Alyk4X+OlyDcYVtDool18Lwd6jZDi1ZOosF5/QEj5tuPrFeQQEggFVTYJxoPRSaqaPNgIT3FyP5zAxxXH1wOXcIkZJZDuxHj4TQu9O3YF/UgKAO/k5KVxhqAlcXZdFi+Z2fgDY2dzwSjALFsZr9L+WLftTLlnLAoSFXmDIXrk86/7tRSZPXUlVogKX+nCAayWeEgvWTlnruoaxbtPuA22TJTUUh5dRbM1YhK7N/bQPbrF5Ob3qnG64p1la3em3cStW1D9Ost+3/sfnMskpAVPYfn9K8NLWAwBlo1wRixJABdxbvR/t0ED+HxdE6CzOar6NE9IOu5I4xIsrEduP4/JxrD7Ueg3YuW3rpP9YMBbUsD9IVG1dd8+ovFYd8wGS57qM648fluCaY3uLIdB/n976P+IWOPOUoiPGuUWIeiuuyf/IpNqzcUrABA+CfZDsJuoSAWDW7cZrf9qnueh0OnHiRGymQSLc83hFbRBUGF3iI3r545bYuAhDzvFX3pAxMTAvBgkqhkiG9w0BCRUxIgQgOvaSpVjOdH5PmoFNPfWJyuaTYMQmYquEF+ORH3y2EXMwWjAyMA4GCiqGJAIBAQEBAgEFAAQgsyr70bHd/jHISUMSvLEvgpPpd0Fwp4yXBSEzEmCSSngEIDdB12a89V1rW7J8xz1eW6Y3yHeup43HjlfLyb2do06XAgInEA==\"\n  },\n  \"key07\" : {\n    \"name\" : \"treasury_certificate_20200427105358479_E.crt\",\n    \"pin\"  : \"E\",\n    \"key\"  : \"MIIE5zCCBI+gAwIBAgICVTswDQYLKoYkAgEBAQEDAQEwgeMxVjBUBgNVBAMMTdCa0LLQsNC70ZbRhNGW0LrQvtCy0LDQvdC40Lkg0L3QsNC00LDQstCw0Ycg0JXQlNCfICLQmtCw0LfQvdCw0YfQtdC50YHRgtCy0L4iMRkwFwYDVQQFExBVQS0zNzU2NzY0Ni0yMDIwMQswCQYDVQQGEwJVQTERMA8GA1UEBwwI0JrQuNGX0LIxTjBMBgNVBAoMRdCU0LXRgNC20LDQstC90LAg0LrQsNC30L3QsNGH0LXQudGB0YzQutCwINGB0LvRg9C20LHQsCDQo9C60YDQsNGX0L3QuDAeFw0yMDA0MjcwNzIxMThaFw0yMjA0MjcwNzIxMThaMIG2MQswCQYDVQQGEwJVQTERMA8GA1UEBwwI0JrQuNGX0LIxHjAcBgNVBCoMFdCa0LvRjtGHINCh0LDQudGE0LXRgDEZMBcGA1UEBAwQ0KLQtdGB0YLQvtCy0LjQuTEVMBMGA1UECgwM0KHQsNC50YTQtdGAMREwDwYDVQQFEwgwMDAxMDQyMTEvMC0GA1UEAwwm0KLQtdGB0YLQvtCy0LjQuSDQmtC70Y7RhyDQodCw0LnRhNC10YAwgZ0wYAYLKoYkAgEBAQEDAQEwUQYNKoYkAgEBAQEDAQECCQRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BAM5AAQ2v+OCq1ppjoP4H4NDSk+xvVi7Ero613okOm4O6dnT+5WMZSAqPpqhmBDos7not9vSdratpoR8o4ICFDCCAhAwKwYDVR0jBCQwIoAgBz3Xz4LB+zd4DssnNzcDZti/QmS/yxVDSQ6M4++Rko8wKQYDVR0OBCIEIBg7mGpLZzstRxB3bGbrm+e5udSbDI82/cBLGGJyN4/0MA4GA1UdDwEB/wQEAwIDCDBDBgNVHQkEPDA6MBoGDCqGJAIBAQELAQQCATEKEwgwMTIzNDU2NzAcBgwqhiQCAQEBCwEEAQExDBMKMDAwMDAwMDAwMjAUBgNVHSUEDTALBgkqhiQCAQEBAwkwGQYDVR0gAQH/BA8wDTALBgkqhiQCAQEBAgIwHgYIKwYBBQUHAQMBAf8EDzANMAsGCSqGJAIBAQECATBCBgNVHR8EOzA5MDegNaAzhjFodHRwOi8vY2EudHJlYXN1cnkuZ292LnVhL2NhL3Jldm9rZWRfbGlzdERTVFUuY3JsMHAGCCsGAQUFBwEBBGQwYjArBggrBgEFBQcwAYYfaHR0cDovL2NhLnRyZWFzdXJ5Lmdvdi51YTo0MzIyMjAzBggrBgEFBQcwAoYnaHR0cDovL2NhLnRyZWFzdXJ5Lmdvdi51YS9jYS9jYWRzdHUuY3J0MDsGCCsGAQUFBwELBC8wLTArBggrBgEFBQcwA4YfaHR0cDovL2NhLnRyZWFzdXJ5Lmdvdi51YTo0MzIyMTAdBgNVHREEFjAUgRJpbmZvQGNpcGhlci5jb20udWEwDQYLKoYkAgEBAQEDAQEDQwAEQBfIXqu5yd2rENwfrfpqmdeG41YJLus/zDod8PnuP7I1F3lC9kXtaMNwNEMIyvgrCbE0lsBwelJj+2Xia1aoxTA=\"\n  },\n  \"key08\" : {\n    \"name\" : \"treasury_certificate_20200427105402098_DS.crt\",\n    \"pin\"  : \"DS\",\n    \"key\"  : \"MIIE0jCCBHqgAwIBAgICVTwwDQYLKoYkAgEBAQEDAQEwgeMxVjBUBgNVBAMMTdCa0LLQsNC70ZbRhNGW0LrQvtCy0LDQvdC40Lkg0L3QsNC00LDQstCw0Ycg0JXQlNCfICLQmtCw0LfQvdCw0YfQtdC50YHRgtCy0L4iMRkwFwYDVQQFExBVQS0zNzU2NzY0Ni0yMDIwMQswCQYDVQQGEwJVQTERMA8GA1UEBwwI0JrQuNGX0LIxTjBMBgNVBAoMRdCU0LXRgNC20LDQstC90LAg0LrQsNC30L3QsNGH0LXQudGB0YzQutCwINGB0LvRg9C20LHQsCDQo9C60YDQsNGX0L3QuDAeFw0yMDA0MjcwNzIxMjBaFw0yMjA0MjcwNzIxMjBaMIG2MQswCQYDVQQGEwJVQTERMA8GA1UEBwwI0JrQuNGX0LIxHjAcBgNVBCoMFdCa0LvRjtGHINCh0LDQudGE0LXRgDEZMBcGA1UEBAwQ0KLQtdGB0YLQvtCy0LjQuTEVMBMGA1UECgwM0KHQsNC50YTQtdGAMREwDwYDVQQFEwgwMDAxMDQyMTEvMC0GA1UEAwwm0KLQtdGB0YLQvtCy0LjQuSDQmtC70Y7RhyDQodCw0LnRhNC10YAwgYgwYAYLKoYkAgEBAQEDAQEwUQYNKoYkAgEBAQEDAQECBgRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BAMkAAQhWg1+sh24ImYL9Uiq8pH+MdaD+iKtDA6zhuQu1kRg6VkAo4ICFDCCAhAwKwYDVR0jBCQwIoAgBz3Xz4LB+zd4DssnNzcDZti/QmS/yxVDSQ6M4++Rko8wKQYDVR0OBCIEIN8zrIPSl15lbP0uSybCq5D01YtQNeYgLGJ7f9tLZc/eMA4GA1UdDwEB/wQEAwIGwDBDBgNVHQkEPDA6MBoGDCqGJAIBAQELAQQCATEKEwgwMTIzNDU2NzAcBgwqhiQCAQEBCwEEAQExDBMKMDAwMDAwMDAwMjAUBgNVHSUEDTALBgkqhiQCAQEBAwkwGQYDVR0gAQH/BA8wDTALBgkqhiQCAQEBAgIwHgYIKwYBBQUHAQMBAf8EDzANMAsGCSqGJAIBAQECATBCBgNVHR8EOzA5MDegNaAzhjFodHRwOi8vY2EudHJlYXN1cnkuZ292LnVhL2NhL3Jldm9rZWRfbGlzdERTVFUuY3JsMHAGCCsGAQUFBwEBBGQwYjArBggrBgEFBQcwAYYfaHR0cDovL2NhLnRyZWFzdXJ5Lmdvdi51YTo0MzIyMjAzBggrBgEFBQcwAoYnaHR0cDovL2NhLnRyZWFzdXJ5Lmdvdi51YS9jYS9jYWRzdHUuY3J0MDsGCCsGAQUFBwELBC8wLTArBggrBgEFBQcwA4YfaHR0cDovL2NhLnRyZWFzdXJ5Lmdvdi51YTo0MzIyMTAdBgNVHREEFjAUgRJpbmZvQGNpcGhlci5jb20udWEwDQYLKoYkAgEBAQEDAQEDQwAEQLCmCjXEuKNVNyP0/1uzvcwniaoe/Nd6M/LQthP2hoAtUwVoyjxb2lTIMXmJuDrV24ltSd68XkwQLqziHvcWnj4=\"\n  },\n  \"key09\" : {\n    \"name\" : \"treasury_nocert_12345678.pfx\",\n    \"pin\"  : \"12345678\",\n    \"key\"  : \"MIIDnQIBAzCCAzoGCSqGSIb3DQEHAaCCAysEggMnMIIDIzCCAx8GCSqGSIb3DQEHAaCCAxAEggMMMIIDCDCCAXUGCyqGSIb3DQEMCgECoIH/MIH8MIGwBgkqhkiG9w0BBQ0wgaIwQwYJKoZIhvcNAQUMMDYEIA5jF4NzuLspgAoRZZAlFuo4ajv5dyWFZaTe8BjMZpkQAgInEDAOBgoqhiQCAQEBAQECBQAwWwYLKoYkAgEBAQEBAQMwTAQIqijU2JaWfOIEQKnW60XxPHCCgMSWeyMfXq32WOukwDcpHTjZa/Alyk4X+OlyDcYVtDool18Lwd6jZDi1ZOosF5/QEj5tuPrFeQQERwoiJIdvjiMwn9xm0T/imD8JWOeO8CiTV7eF5j+j74K02tBacKduEgoY/LChvZON7eCVbajXOJc+baMOA2RX2RQid6GsTH4eMWQwMQYJKoZIhvcNAQkUMSQeIgBkAHMAdAB1AFMAaQBnAG4AXwBkADIAOQA3AGEAMQBiADQwLwYJKoZIhvcNAQkVMSIEIN8zrIPSl15lbP0uSybCq5D01YtQNeYgLGJ7f9tLZc/eMIIBiwYLKoZIhvcNAQwKAQKgggEWMIIBEjCBsAYJKoZIhvcNAQUNMIGiMEMGCSqGSIb3DQEFDDA2BCCuFczOYCN5IlZccaJewfkf/TrtINoqD9ymCzeqIbgTMgICJxAwDgYKKoYkAgEBAQEBAgUAMFsGCyqGJAIBAQEBAQEDMEwECPPFKfz9a4kMBECp1utF8TxwgoDElnsjH16t9ljrpMA3KR042WvwJcpOF/jpcg3GFbQ6KJdfC8Heo2Q4tWTqLBef0BI+bbj6xXkEBF0AUbvami5ZAlN2EIMnZt2x+cDpgWN/wP8D8QBCLiYZYCZZnEak4iZKei8KgGYWW8lHk5wtTUaynqLGGFwIULOzTFsLP8jvKGVZBdGATC3+G6aFLhjOb6mFcroC1SIxYjAvBgkqhkiG9w0BCRQxIh4gAGQAcwB0AHUARQBuAGMAXwBlAGIANgA2ADkAMwAwAGYwLwYJKoZIhvcNAQkVMSIEIBg7mGpLZzstRxB3bGbrm+e5udSbDI82/cBLGGJyN4/0MFowMjAOBgoqhiQCAQEBAQIBBQAEIM9w+aa+mccZqzdxIGf6jOE1h6u9BHCjFNNvfKshDXUzBCA+jm2/oXTXJCyxESuyUNTMn+xLPj+ejx0aEgKhB5j3mAICJxA=\"\n  },\n  \"key10\" : {\n    \"name\" : \"uss_Key_6_123456.dat\",\n    \"pin\"  : \"123456\",\n    \"key\"  : \"MIIE4wIBAzCCBIAGCSqGSIb3DQEHAaCCBHEEggRtMIIEaTCCBGUGCSqGSIb3DQEHAaCCBFYEggRSMIIETjCCAfIGCyqGSIb3DQEMCgECoIIBrjCCAaowgbAGCSqGSIb3DQEFDTCBojBDBgkqhkiG9w0BBQwwNgQgIQ1qyY+b/oXXGPAHsPLgnz7AJ0BbSpklcMA3rv+jqrACAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAg0PxSOXl6krgRAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BASB9JROVWnLRAy5owa6RbP0L7q9WetHXqU/GTprgEKRKRzhoNQC1VV+ze1syd8UpuLSF1ddI974zk/qehx5cFPVu9PzIcehqIyP2vzMbSge6GGiLC+iWL9ZAW8X8sonP47xN+1KMIJpk2RRT0nsm04Y5ZtoCKd0BtyltfjxwWTuTDWt6C9/PBeqvI6Ih5I2/ae1xxiUal2E27zJXKCirfWw6a6+d8wBRpRFWjT/PUlwj/vnYfcDwg9SoPK6gILGPl9n/8pvlPdvaj8dKD3Zrt/zPqn7OuP2laflJnhyhCZFPmclylY8e08fV+6FeJoYF3zKfZXKrd0xMTAvBgkqhkiG9w0BCRUxIgQgadQmNfUJp1zfVPE8kdyHbkPg+Haz7bmhuhJuNi/zxWQwggJUBgsqhkiG9w0BDAoBAqCCAhAwggIMMIGwBgkqhkiG9w0BBQ0wgaIwQwYJKoZIhvcNAQUMMDYEII8XhSNvWToCgIkA8P4EjwlYS0a+X2q3jfkaP+VgUt7BAgInEDAOBgoqhiQCAQEBAQECBQAwWwYLKoYkAgEBAQEBAQMwTAQIeZTIYswYRm4EQKnW60XxPHCCgMSWeyMfXq32WOukwDcpHTjZa/Alyk4X+OlyDcYVtDool18Lwd6jZDi1ZOosF5/QEj5tuPrFeQQEggFVTYJxoPRSaqaPNgIT3FyP5zAxxXH1wOXcIkZJZDuxHj4TQu9O3YF/UgKAO/k5KVxhqAlcXZdFi+Z2fgDY2dzwSjALFsZr9L+WLftTLlnLAoSFXmDIXrk86/7tRSZPXUlVogKX+nCAayWeEgvWTlnruoaxbtPuA22TJTUUh5dRbM1YhK7N/bQPbrF5Ob3qnG64p1la3em3cStW1D9Ost+3/sfnMskpAVPYfn9K8NLWAwBlo1wRixJABdxbvR/t0ED+HxdE6CzOar6NE9IOu5I4xIsrEduP4/JxrD7Ueg3YuW3rpP9YMBbUsD9IVG1dd8+ovFYd8wGS57qM648fluCaY3uLIdB/n976P+IWOPOUoiPGuUWIeiuuyf/IpNqzcUrABA+CfZDsJuoSAWDW7cZrf9qnueh0OnHiRGymQSLc83hFbRBUGF3iI3r545bYuAhDzvFX3pAxMTAvBgkqhkiG9w0BCRUxIgQgOvaSpVjOdH5PmoFNPfWJyuaTYMQmYquEF+ORH3y2EXMwWjAyMA4GCiqGJAIBAQEBAgEFAAQgsyr70bHd/jHISUMSvLEvgpPpd0Fwp4yXBSEzEmCSSngEIDdB12a89V1rW7J8xz1eW6Y3yHeup43HjlfLyb2do06XAgInEA==\"\n  }\n}\n",
        "output": "json",
        "x": 560,
        "y": 60,
        "wires": [
            [
                "67ab5206.d7fab4"
            ]
        ]
    },
    {
        "id": "67ab5206.d7fab4",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "Headers",
        "func": "msg.headers = {};\n\nmsg.headers['Accept-Encoding'] = 'gzip,deflate';\nmsg.headers['Content-Type'] = 'application/json';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 700,
        "y": 60,
        "wires": [
            [
                "9ac3f19e.c84c08",
                "2c91ffb7.c44f08"
            ]
        ]
    },
    {
        "id": "9ac3f19e.c84c08",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "Set key",
        "func": "var key6dat =  \"MIIDrjAcBgwrBgEEAYGXRgEBAQIwDAQEMHIBNQQEy2CV6gSCA4weBTVMT+/zra71HJ1s8Ko3CwF1olOZmVt+9tnGZ4QdZbdtHFHcBEhhIAEnKGkpyxcyjHgegfnTSuPL53fhaOLi2B+aIc59v+O3J5O4oKE9LiPiZVYQgHXaKHZWyi9JNTLcSGxEvejer4VRfq7DlBmQVqMay3ULxK1tHCpm5pxfQ2JN3KUbiPPL5kiau1at/w33UPxItVtyOO9mBTpcTqntv6W35yMwMoo2H9zWuSrEWGSOOJOAlUtLTqdkk78F50gvXgN9eNZgINjLKui6YhTsdabYpfnRRQvKqRkaxR59yqoAofnjxL2WUDyqzJHQrXPdm9464qJyqnV9j5Se67wY3V7H+2GTWxlKRUch+VYvlsCPZqw0y6Gk0aP3ZdiTddHC4w19NWwI7adt6J++s4xubuvnDM9qZ/SHZ69wGpcgOw8H9TFhxVLQDZ7Ng3QsKT+1JMhDyJajzwsR8kJUcAhNLgx21aYLOjPdXsf7YZNbGcgIz0sn6NU2xqvwERI+uRdZHOKKlrfprk/MMxo5HQJCN35vaXQ4poXuiR2L1stYXDw4MbIbhoLcJCiL6MLJyxOxNe0ZU33bKgDIJBMYi37pC3EM01rGy7vDKfMbVSPVYo8VOU+jWbhFy7FoYZiI3hw3zCNzqzxBqzBWteRZZyS9ynyXtZ+KDcqRKM02wywQjYc2Y2dwtYFJTh6jeWjIWLmDkTeJv6MXj4yN02su0VTbjI3Tay7RVNuMjdNrLtFU22CY8OOKX5Y7U2pZ36T3Gu8h4xhd8ePUgvKJz5q/oQ3DhwWBs2ZrSjxrtDGtHe+E/G37wXgX3KgXKG6S+1MzNfBf6f7+yq6pPjOkJkR2tIFKpjegLvskNQMFCIfbb9S8lCdj8d6ynE3mw1uyNzdpVfyj6XLPMjzC8baY5NGid5f1oRGHp/6In5pLDUKZc06xxobSrUJMoCQtiCtlDpqoaw63nDtcUc5vA9lKLWFyU9fC1BwUPKm9HJxteH5slsbBFPbnfmQ/fqLs0vXugVZaDtOPRL99E8vsCNb0Tr6MpJmEkPp0Onkol6FKiFDls0/0aGdCTuu7FTK7KPbnFfmFFYPtVIzVeX6iD8AXKhC/I47Fw0GEgv5yzftSamEyjbM49GSAS/WnlanU+J3SnUVUHZjpb973ifVk9h5uc3bzeqBuWn1OQCRRA/5FgSVh7T5I56Z6Kp+Kj3GTr1FIXw==\"\nvar rudichpfx  = \"MIIHhQIBAzCCBzIGCSqGSIb3DQEHAaCCByMEggcfMIIHGzCCBxcGCSqGSIb3DQEHAaCCBwgEggcEMIIHADCCAWUGCyqGSIb3DQEMCgECoIHvMIHsMIGgBgkqhkiG9w0BBQ0wgZIwMwYJKoZIhvcNAQUMMCYEEMb36/Cowwm6/oGuM3XoTbsCAicQMA4GCiqGJAIBAQEBAQIFADBbBgsqhiQCAQEBAQEBAzBMBAhJM2UjqBRQ/ARAqdbrRfE8cIKAxJZ7Ix9erfZY66TANykdONlr8CXKThf46XINxhW0OiiXXwvB3qNkOLVk6iwXn9ASPm24+sV5BARHXdMD3AjydOSJ6lMUSY1OQmvuGhHrDxvvKINcSGsz+GyZo+IMToOeHJcJPVqXYBfAfZhHYzMUk8sqfOyqjGGFGTkguIML6f0xZDAxBgkqhkiG9w0BCRQxJB4iAGQAcwB0AHUAUwBpAGcAbgBfAGQAMgBiADAAYQA0ADcAZDAvBgkqhkiG9w0BCRUxIgQgnIOwRqNbefeyO83GsaYsLtwdryl1u4dWHrhlBVQ5WCswggWTBgsqhkiG9w0BDAoBA6CCBU8wggVLBgoqhkiG9w0BCRYBoIIFOwSCBTcwggUzMIIE26ADAgECAgIgUjANBgsqhiQCAQEBAQMBATCB+DEZMBcGA1UEBRMQVUEtMjM2OTcyODAtMjAxOTEoMCYGA1UECgwfSm9pbnQtU3RvY2sgQmFuayBVS1JHQVNCQU5LIFBBVDF/MH0GA1UEAwx20KbQtdC90YLRgCDRgdC10YDRgtC40YTRltC60LDRhtGW0Zcg0LrQu9GO0YfRltCyINCQ0JHCq9Cj0JrQoNCT0JDQl9CR0JDQndCawrsvVWtyYWluZSwgSm9pbnQtU3RvY2sgQmFuayBVS1JHQVNCQU5LIFBBVDEOMAwGA1UEBwwFS2lldiAxCzAJBgNVBAYTAlVBMRMwEQYDVQQLDApVa3JnYXNiYW5rMB4XDTIwMDQxNjExMTU0N1oXDTIxMDQxNjExMTU0N1owggEbMRUwEwYDVQQtDAxpdGlueV84NTAwODcxCzAJBgNVBAYTAlVBMRkwFwYDVQQIDBDQmtC40ZfQstGB0YzQutCwMREwDwYDVQQHDAjQmtC40ZfQsjEPMA0GA1UEKgwG0IYu0J4uMQ8wDQYDVQQrDAbQhi7Qni4xEzARBgNVBAQMCtCg0YPQtNGW0YcxMTAvBgNVBAoMKNCd0JDQmiAi0J3QsNGE0YLQvtCz0LDQtyDQo9C60YDQsNCH0L3QuCIxETAPBgNVBAsMCNGC0LXRgdGCMREwDwYDVQQFEwgwMDAwOTQ0NzE3MDUGA1UEAwwu0KDRg9C00ZbRhyDQhtCz0L7RgCDQntC70LXQutGB0LDQvdC00YDQvtCy0LjRhzCBiDBgBgsqhiQCAQEBAQMBATBRBg0qhiQCAQEBAQMBAQIGBECp1utF8TxwgoDElnsjH16t9ljrpMA3KR042WvwJcpOF/jpcg3GFbQ6KJdfC8Heo2Q4tWTqLBef0BI+bbj6xXkEAyQABCGt4v8FFMGTA0MUZ7i9oEhwkaq3HQfWOzPqDs4LHanH3ACjggH6MIIB9jArBgNVHSMEJDAigCCuq0AARn2o+0hkfuGC0FHLRUvS7pboaT7jPw5QxI/qSjApBgNVHQ4EIgQgnIOwRqNbefeyO83GsaYsLtwdryl1u4dWHrhlBVQ5WCswDgYDVR0PAQH/BAQDAgbAMEMGA1UdCQQ8MDowGgYMKoYkAgEBAQsBBAIBMQoTCDIwMDc3NzIwMBwGDCqGJAIBAQELAQQBATEMEwoyNzk5NDAxOTEyMBkGA1UdIAEB/wQPMA0wCwYJKoYkAgEBAQICMB4GCCsGAQUFBwEDAQH/BA8wDTALBgkqhiQCAQEBAgEwQQYDVR0fBDowODA2oDSgMoYwaHR0cDovL2NhLnVrcmdhc2JhbmsuY29tL2NhL3Jldm9rZWRfbGlzdERTVFUuY3JsMGoGCCsGAQUFBwEBBF4wXDAmBggrBgEFBQcwAYYaaHR0cDovL29jc3AudWtyZ2FzYmFuay5jb20wMgYIKwYBBQUHMAKGJmh0dHA6Ly9jYS51a3JnYXNiYW5rLmNvbS9jYS9DQURTVFUuY3J0MDoGCCsGAQUFBwELBC4wLDAqBggrBgEFBQcwA4YeaHR0cDovL3RzcC51a3JnYXNiYW5rLmNvbTo4MDgwMCEGA1UdEQQaMBiBFmlydWRpY2hAdWtyZ2FzYmFuay5jb20wDQYLKoYkAgEBAQEDAQEDQwAEQFahYu3MXNAOS3LAMm7+l6DVoC6HpihcLfj7HQxesPogj0jhgr1B6hnWG7UThGzomB3WZMW/E16W9yeSknPtVwIxMTAvBgkqhkiG9w0BCRUxIgQgnIOwRqNbefeyO83GsaYsLtwdryl1u4dWHrhlBVQ5WCswSjAyMA4GCiqGJAIBAQEBAgEFAAQgQDJFUHrV0rpmI4/rCQMiVwNyLFjzuUFTtiWs4QSnhNsEEKIhLTIXE+6Pn3rnmlpiSOACAicQ\";\n\nmsg.key = msg.keys.key01.key;   \nmsg.pin = msg.keys.key01.pin;  \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 840,
        "y": 60,
        "wires": [
            [
                "6724cc3e.1b3614"
            ]
        ]
    },
    {
        "id": "2c91ffb7.c44f08",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 20,
        "wires": []
    },
    {
        "id": "21e79c4b.c938f4",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "To Base64",
        "func": "// https://stackabuse.com/encoding-and-decoding-base64-strings-in-node-js/\n\nvar data = msg.xml.bodys;\nlet buff = new Buffer(data);\nlet base64data = buff.toString('base64');\nmsg.data  = base64data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 150,
        "y": 680,
        "wires": [
            [
                "923f5aa5.96c5d"
            ]
        ]
    },
    {
        "id": "923f5aa5.96c5d",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "To Sign Data",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"Certificate\": \"{{{key}}}\",\n    \"Pin\": \"{{{pin}}}\",\n    \"SigType\": \"cades-x-ts-signtime-ocsp-stdua\",\n    \"Data\": \"{{{data}}}\"\n}",
        "output": "json",
        "x": 150,
        "y": 720,
        "wires": [
            [
                "2310408e.b1f818"
            ]
        ]
    },
    {
        "id": "729a785f.b9e798",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Data b64",
        "field": "data",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "PCEtLQppbi5vcGVyYXRpb24gCk9wZXJhdGlvbgoxINCe0YLQv9GA0LDQstC60LAKMiDQn9C+0LvRg9GH0LXQvdC40LUgINCS0YvQv9C70LDRgtCwCiAgICAxINC/0YDQvtCy0L7QtNC60LAgCiAgICDQlNGCIDI4MDkgKGFjY19kaXJlY3Rpb249MCkg0JrRgiAxMDAyIAozINCQ0L3QvdGD0LvQuNGA0L7QstCw0L3QuNC1CjQg0JLQvtC30LLRgNCw0YIKICAgIDIg0L/RgNC+0LLQvtC00LrQuAogICAg0JTRgiAyODA5INCa0YIgMTAwMiAoYWNjX2RpcmVjdGlvbj0xKSDQotC10LvQvgogICAg0JTRgiAyODA5INCa0YIgMTAwMiAoYWNjX2RpcmVjdGlvbj0xKSDQmtC+0LzQuNGB0YHQuNGPCi0tPgo8IS0tCk1vbmlrZXIJICAgICAgICAgICAgICAgIEZsYWcJQnJhbmNoSWQKMjgwOTU0NjAxLjk4MC4wNTAJICAgIDAJICAgIDEwMDA1NTAgINC00LvRjyDQstC40L/Qu9Cw0YLQuCDQv9C10YDQtdC60LDQt9GDINGDINCz0YDQuNCy0L3RliAKMjgwOTY0NjI5NzgxLjk4MC4wNTAJMQkgICAgMTAwMDU1MCAg0L/QvtCy0LXRgNC90LXQvdC90Y8g0LrQvtC80ZbRgdGW0Zcg0YMg0LPRgNC40LLQvdGWCjEwMDI3NDI0MS45ODAuMDUwICAgICAgICAgICAgICAgMTAwMDU1MCAg0JHQsNC90LrQvdC+0YLQuCDRgtCwINC80L7QvdC10YLQuCDQsiDQutCw0YHRliwg0JLihJYwNTAKLS0+Cgo8P3htbCB2ZXJzaW9uPSIxLjAiIGVuY29kaW5nPSJ1dGYtOCI/Pgo8c29hcDpFbnZlbG9wZSB4bWxuczpzb2FwPSJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy9zb2FwL2VudmVsb3BlLyIgeG1sbnM6eHNpPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYS1pbnN0YW5jZSIgeG1sbnM6eHNkPSJodHRwOi8vd3d3LnczLm9yZy8yMDAxL1hNTFNjaGVtYSI+CiAgICA8c29hcDpCb2R5PgogICAgICAgIDxSZWdpc3Rlck9wZXJhdGlvbiB4bWxucz0iaHR0cDovL3d3dy51a3JnYXNiYW5rLmNvbSI+CiAgICAgICAgICAgIDxUcmFuc2ZlcklkPjQ2ODMzNzM0PC9UcmFuc2ZlcklkPgogICAgICAgICAgICA8VHJhbnNmZXJOdW1iZXI+NDA1MDUxODQ8L1RyYW5zZmVyTnVtYmVyPgogICAgICAgICAgICA8U3lzdGVtQ29kZT5tZzwvU3lzdGVtQ29kZT4KICAgICAgICAgICAgPFN5c3RlbU5hbWU+TW9uZXlHcmFtPC9TeXN0ZW1OYW1lPgogICAgICAgICAgICA8T3BlcmF0aW9uPjI8L09wZXJhdGlvbj4KICAgICAgICAgICAgPFR5cGU+MTwvVHlwZT4KICAgICAgICAgICAgPE9wZXJhdGlvbkRhdGU+MjAyMS0wMi0wNFQxMDo1Mzo0MCswMjowMDwvT3BlcmF0aW9uRGF0ZT4KICAgICAgICAgICAgPFBheW91dERhdGU+MjAyMS0wMi0wNFQxMDo1MToyOSswMjowMDwvUGF5b3V0RGF0ZT4KICAgICAgICAgICAgPE9wZXJhdGlvbkNhc2hEZXNrPjA8L09wZXJhdGlvbkNhc2hEZXNrPgogICAgICAgICAgICA8QUJTRGF0ZT4yMDIxLTAyLTA0VDAwOjAwOjAwKzAyOjAwPC9BQlNEYXRlPgogICAgICAgICAgICA8IS0tIDI4MDkgLSAxMDAyIDAgLS0+CiAgICAgICAgICAgIDxUcmFuc2ZlckFtb3VudD4yMDAuMDAwPC9UcmFuc2ZlckFtb3VudD4KICAgICAgICAgICAgPEZyb21Db3VudHJ5Pjg0MDwvRnJvbUNvdW50cnk+CiAgICAgICAgICAgIDxUb0NvdW50cnk+ODA0PC9Ub0NvdW50cnk+CiAgICAgICAgICAgIDxUcmFuc2ZlctChdXJyZW5jeT45ODA8L1RyYW5zZmVy0KF1cnJlbmN5PgogICAgICAgICAgICA8UG9pbnRCYW5rPjEwMDAwMTc8L1BvaW50QmFuaz4KICAgICAgICAgICAgPFBvaW50U1c+R0FTQjAyMDQ8L1BvaW50U1c+CiAgICAgICAgICAgIDxVc2VyTG9naW4+bm5pbG9zaDwvVXNlckxvZ2luPgogICAgICAgICAgICA8VXNlck5hbWU+0J3RltC70L7RiCDQndGW0LrQvtC70LXRgtGCINCi0ZbQsdC10YDRltGX0LLQvdCwPC9Vc2VyTmFtZT4KICAgICAgICAgICAgPFVzZXJJRD4xMzQ4MTwvVXNlcklEPgogICAgICAgICAgICA8U2VuZGVyPgogICAgICAgICAgICAgICAgPExhc3ROYW1lPlBPUE9WQTwvTGFzdE5hbWU+CiAgICAgICAgICAgICAgICA8Rmlyc3ROYW1lPlNWSVRMQU5BPC9GaXJzdE5hbWU+CiAgICAgICAgICAgIDwvU2VuZGVyPgogICAgICAgICAgICA8UmVjZWl2ZXI+CiAgICAgICAgICAgICAgICA8TGFzdE5hbWU+RElUWUFUS0lOPC9MYXN0TmFtZT4KICAgICAgICAgICAgICAgIDxGaXJzdE5hbWU+RElOSVM8L0ZpcnN0TmFtZT4KICAgICAgICAgICAgICAgIDxSZXNpZGVuY3k+dHJ1ZTwvUmVzaWRlbmN5PgogICAgICAgICAgICAgICAgPERvY3VtZW50TmFtZT7Qn9Cw0YHQv9C+0YDRgjwvRG9jdW1lbnROYW1lPgogICAgICAgICAgICAgICAgPERvY3VtZW50U2VyaWVzPkNFPC9Eb2N1bWVudFNlcmllcz4KICAgICAgICAgICAgICAgIDxEb2N1bWVudE51bWJlcj43NjEzMjE8L0RvY3VtZW50TnVtYmVyPgogICAgICAgICAgICAgICAgPERvY3VtZW50SXNzdWVEYXRlPjIwMTYtMDgtMjY8L0RvY3VtZW50SXNzdWVEYXRlPgogICAgICAgICAgICAgICAgPERvY3VtZW50SXNzdWVkQnk+SVZBTk8tRlJBTktJVlNLWU0gTVY8L0RvY3VtZW50SXNzdWVkQnk+CiAgICAgICAgICAgICAgICA8RGF0ZW9mQmlydGg+MTk4Ni0wMi0wNTwvRGF0ZW9mQmlydGg+CiAgICAgICAgICAgIDwvUmVjZWl2ZXI+CiAgICAgICAgPC9SZWdpc3Rlck9wZXJhdGlvbj4KICAgIDwvc29hcDpCb2R5Pgo8L3NvYXA6RW52ZWxvcGU+CgoKPD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHNvYXA6RW52ZWxvcGUgeG1sbnM6c29hcD0iaHR0cDovL3NjaGVtYXMueG1sc29hcC5vcmcvc29hcC9lbnZlbG9wZS8iIHhtbG5zOnhzaT0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEtaW5zdGFuY2UiIHhtbG5zOnhzZD0iaHR0cDovL3d3dy53My5vcmcvMjAwMS9YTUxTY2hlbWEiPgogICAgPHNvYXA6Qm9keT4KICAgICAgICA8UmVnaXN0ZXJPcGVyYXRpb24geG1sbnM9Imh0dHA6Ly93d3cudWtyZ2FzYmFuay5jb20iPgogICAgICAgICAgICA8VHJhbnNmZXJJZD40NjYzNTI1ODwvVHJhbnNmZXJJZD4KICAgICAgICAgICAgPFRyYW5zZmVyTnVtYmVyPjE2NDA5OTQyPC9UcmFuc2Zlck51bWJlcj4KICAgICAgICAgICAgPFN5c3RlbUNvZGU+bWc8L1N5c3RlbUNvZGU+CiAgICAgICAgICAgIDxTeXN0ZW1OYW1lPk1vbmV5R3JhbTwvU3lzdGVtTmFtZT4KICAgICAgICAgICAgPE9wZXJhdGlvbj40PC9PcGVyYXRpb24+CiAgICAgICAgICAgIDxUeXBlPjE8L1R5cGU+CiAgICAgICAgICAgIDxPcGVyYXRpb25EYXRlPjIwMjEtMDEtMjhUMTU6NDI6NTIrMDI6MDA8L09wZXJhdGlvbkRhdGU+CiAgICAgICAgICAgIDxTZW5kRGF0ZT4yMDIxLTAxLTIwVDEzOjA4OjU1KzAyOjAwPC9TZW5kRGF0ZT4KICAgICAgICAgICAgPE9wZXJhdGlvbkNhc2hEZXNrPjA8L09wZXJhdGlvbkNhc2hEZXNrPgogICAgICAgICAgICA8QUJTRGF0ZT4yMDIxLTAxLTI4VDAwOjAwOjAwKzAyOjAwPC9BQlNEYXRlPgogICAgICAgICAgICA8IS0tIDEwMDIgLSAyODA5IDAgPz8/IC0tPgogICAgICAgICAgICA8VHJhbnNmZXJBbW91bnQ+MjAwLjAwMDwvVHJhbnNmZXJBbW91bnQ+CiAgICAgICAgICAgIDxGcm9tQ291bnRyeT44MDQ8L0Zyb21Db3VudHJ5PgogICAgICAgICAgICA8VG9Db3VudHJ5Pjg0MDwvVG9Db3VudHJ5PgogICAgICAgICAgICA8VHJhbnNmZXLQoXVycmVuY3k+OTgwPC9UcmFuc2ZlctChdXJyZW5jeT4KICAgICAgICAgICAgPENvbW1pc3Npb25BbW91bnQ+MTAuMDAwPC9Db21taXNzaW9uQW1vdW50PgogICAgICAgICAgICA8Q29tbWlzc2lvbtChdXJyZW5jeT45ODA8L0NvbW1pc3Npb27QoXVycmVuY3k+CiAgICAgICAgICAgIDwhLS0gMTAwMiAtIDI4MDkgMSAtLT4KICAgICAgICAgICAgPENvbW1pc3Npb25BbW91bnRFcT4xMC4wMDA8L0NvbW1pc3Npb25BbW91bnRFcT4KICAgICAgICAgICAgPFBvaW50QmFuaz4xMDAwNTUwPC9Qb2ludEJhbms+CiAgICAgICAgICAgIDxQb2ludFNXPkdBU0IwMjU4PC9Qb2ludFNXPgogICAgICAgICAgICA8VXNlckxvZ2luPm5uaWxvc2g8L1VzZXJMb2dpbj4KICAgICAgICAgICAgPFVzZXJOYW1lPtCd0ZbQu9C+0Ygg0J3RltC60L7Qu9C10YLRgiDQotGW0LHQtdGA0ZbRl9Cy0L3QsDwvVXNlck5hbWU+CiAgICAgICAgICAgIDxVc2VySUQ+MTM0ODE8L1VzZXJJRD4KICAgICAgICAgICAgPFNlbmRlcj4KICAgICAgICAgICAgICAgIDxMYXN0TmFtZT5LVkFTSElMQVZBPC9MYXN0TmFtZT4KICAgICAgICAgICAgICAgIDxGaXJzdE5hbWU+WVVMSVlBPC9GaXJzdE5hbWU+CiAgICAgICAgICAgICAgICA8UmVzaWRlbmN5PnRydWU8L1Jlc2lkZW5jeT4KICAgICAgICAgICAgICAgIDxEb2N1bWVudE5hbWU+0J/QsNGB0L/QvtGA0YI8L0RvY3VtZW50TmFtZT4KICAgICAgICAgICAgICAgIDxEb2N1bWVudFNlcmllcz5DVDwvRG9jdW1lbnRTZXJpZXM+CiAgICAgICAgICAgICAgICA8RG9jdW1lbnROdW1iZXI+MjEwNDcxPC9Eb2N1bWVudE51bWJlcj4KICAgICAgICAgICAgICAgIDxEb2N1bWVudElzc3VlRGF0ZT4yMDEwLTA4LTA1PC9Eb2N1bWVudElzc3VlRGF0ZT4KICAgICAgICAgICAgICAgIDxEYXRlb2ZCaXJ0aD4xOTg0LTExLTI4PC9EYXRlb2ZCaXJ0aD4KICAgICAgICAgICAgPC9TZW5kZXI+CiAgICAgICAgICAgIDxSZWNlaXZlcj4KICAgICAgICAgICAgICAgIDxMYXN0TmFtZT5EQU5FTElBPC9MYXN0TmFtZT4KICAgICAgICAgICAgICAgIDxGaXJzdE5hbWU+VEFNQVJJPC9GaXJzdE5hbWU+CiAgICAgICAgICAgIDwvUmVjZWl2ZXI+CiAgICAgICAgPC9SZWdpc3Rlck9wZXJhdGlvbj4KICAgIDwvc29hcDpCb2R5Pgo8L3NvYXA6RW52ZWxvcGU+Cg==",
        "output": "str",
        "x": 1340,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "72cc9735.11965",
        "type": "http request",
        "z": "e72aed43.e4b9b8",
        "name": "UMCA kv-v-nr-it-t:25989/sign",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://localhost:25989/sign",
        "tls": "281c65ac.15c112",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 380,
        "y": 680,
        "wires": [
            [
                "cda3e9ea.c9b39"
            ]
        ],
        "info": "https://a4.oree.com.ua/index.php/bank_ws/upload\n\nhttps://94.131.247.4/index.php/bank_ws/upload\nhttps://94.131.247.4/Service.svc.xml\nhttps://94.131.247.4/upload.xsd\n\n94.131.247.4 a4.oree.com.ua\n"
    },
    {
        "id": "cda3e9ea.c9b39",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "sign",
        "func": "var ret = {\n    sign : msg.payload,\n    len : msg.payload.length\n}\nif( (typeof msg.payload === 'string') ) {\n    ret.result = \"ok\";    \n} else {\n    ret.result = \"error\";     \n}\nmsg.sign = ret;\nmsg.payload = ret;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 590,
        "y": 720,
        "wires": [
            [
                "58a9b451.568594",
                "5f133a30.77bb44"
            ]
        ]
    },
    {
        "id": "2310408e.b1f818",
        "type": "http request",
        "z": "e72aed43.e4b9b8",
        "name": "UMCA kv-v-nr-it-t:25999/sign",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://localhost:25999/sign",
        "tls": "281c65ac.15c112",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 380,
        "y": 720,
        "wires": [
            [
                "cda3e9ea.c9b39"
            ]
        ],
        "info": "https://a4.oree.com.ua/index.php/bank_ws/upload\n\nhttps://94.131.247.4/index.php/bank_ws/upload\nhttps://94.131.247.4/Service.svc.xml\nhttps://94.131.247.4/upload.xsd\n\n94.131.247.4 a4.oree.com.ua\n"
    },
    {
        "id": "58a9b451.568594",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 770,
        "y": 700,
        "wires": []
    },
    {
        "id": "7a956dc9.d35e5c",
        "type": "switch",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "property": "payload.result",
        "propertyType": "msg",
        "rules": [
            {
                "t": "else"
            },
            {
                "t": "eq",
                "v": "ok",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 130,
        "y": 780,
        "wires": [
            [
                "936101dd.12ae18"
            ],
            [
                "f4115f69.0d81"
            ]
        ]
    },
    {
        "id": "fa840cba.1aa158",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "headers",
        "func": "msg.headers = {};\n\n//msg.headers['qes'] = msg.payload.sign;\n//msg.headers['Content-Type'] = 'application/soap+xml';\nmsg.headers['Accept-Encoding'] = 'gzip,deflate';\nmsg.headers['Content-Type'] = 'application/soap+xml;charset=UTF-8;action=\"http://oree.com.ua/etsua/soapsvc/BankLimits/Upload\"';\n\n//application/soap+xml;charset=UTF-8;action=\"http://oree.com.ua/etsua/soapsvc/BankLimits/Upload\"\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 460,
        "y": 900,
        "wires": [
            [
                "f952fba6.805db8"
            ]
        ]
    },
    {
        "id": "936101dd.12ae18",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "none",
        "func": "//node.error(\"Sign error\", msg);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 780,
        "wires": [
            [
                "74e61a24.2d5444"
            ]
        ]
    },
    {
        "id": "f952fba6.805db8",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "to OREE",
        "func": "msg.payload = msg.oree.xml;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 600,
        "y": 900,
        "wires": [
            [
                "bd27fbe8.6f1b5",
                "6d1812df.61b22c"
            ]
        ]
    },
    {
        "id": "74e61a24.2d5444",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 780,
        "wires": []
    },
    {
        "id": "bd27fbe8.6f1b5",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 900,
        "wires": []
    },
    {
        "id": "37a89188.997eae",
        "type": "http request",
        "z": "e72aed43.e4b9b8",
        "name": "DEV OREE",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://212.1.116.41/index.php/bank_ws/upload",
        "tls": "281c65ac.15c112",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 770,
        "y": 980,
        "wires": [
            [
                "5a213ace.a5e244",
                "36f39021.399c2"
            ]
        ],
        "info": "https://a4.oree.com.ua/index.php/bank_ws/upload\n\nhttps://94.131.247.4/index.php/bank_ws/upload\nhttps://94.131.247.4/Service.svc.xml\nhttps://94.131.247.4/upload.xsd\n\nNew\nukrgaz\nWFtCRyFJt3\nhttps://212.1.116.41/index.php/bank_ws/upload\nhttps://212.1.116.41/Service.svc.xml\nhttps://212.1.116.41/upload.xsd\n\n\n"
    },
    {
        "id": "937b6f97.562c38",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1150,
        "y": 940,
        "wires": []
    },
    {
        "id": "8dec0d1c.454768",
        "type": "http request",
        "z": "e72aed43.e4b9b8",
        "name": "PRO OREE",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://a4.oree.com.ua/index.php/bank_ws/upload",
        "tls": "e0d54f8c.ab7428",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 770,
        "y": 940,
        "wires": [
            [
                "5a213ace.a5e244"
            ]
        ],
        "info": "https://a4.oree.com.ua/index.php/bank_ws/upload\n\nhttps://94.131.247.4/index.php/bank_ws/upload\nhttps://94.131.247.4/Service.svc.xml\nhttps://94.131.247.4/upload.xsd\n"
    },
    {
        "id": "507cb618.f64378",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "wss auth",
        "field": "auth",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"login\" : \"ukrgaz\",\n    \"passw\" : \"WFtCRyFJt3\",\n    \"token\" : \"3D8E495A71D1035BD516125380512321\"\n}",
        "output": "json",
        "x": 140,
        "y": 320,
        "wires": [
            [
                "d020f6b.0ca9b08",
                "d8d63efa.1705e"
            ]
        ]
    },
    {
        "id": "54964061.c8da38",
        "type": "xmlc14n",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "x": 145,
        "y": 540,
        "wires": [
            [
                "7b41cca7.3c2af4",
                "fe47e86c.3905",
                "4a67b7f0.abb65"
            ]
        ]
    },
    {
        "id": "674c3d83.2d6aec",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Test",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<soap:Envelope xmlns:ns=\"http://oree.com.ua/etsua/soapsvc/bankaccountstatus/2020/09\" xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\">\n   <soap:Header><wsse:Security soap:mustUnderstand=\"true\" xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\" xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\"><wsse:UsernameToken wsu:Id=\"UsernameToken-3D8E495A71D1035BD516125380512321\"><wsse:Username>ukrgaz</wsse:Username><wsse:Password Type=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText\">WFtCRyFJt3</wsse:Password></wsse:UsernameToken></wsse:Security></soap:Header>\n   <soap:Body>\n      <ns:UploadRequest>\n         <!--Optional:-->\n         <ns:BANKLIMITS answer-required=\"true\" date-time=\"2020-10-26T18:51:13Z \" dtd-release=\"1\" dtd-version=\"1\" id=\"5654\" message-code=\"301\">\n            <!--Optional:-->\n            <ns:SenderIdentification coding-scheme=\"NAME\" id=\"UGB\"/>\n            <!--Optional:-->\n            <ns:ReceiverIdentification coding-scheme=\"EIC\" id=\"62X-OPERRYNKU--3\"/>\n            <!--Optional:-->\n            <ns:Limits date=\"2020-10-26T18:51:13Z\" title=\"FinancialLimit\">\n               <!--Zero or more repetitions:-->\n               <ns:Participant bankAccountId=\"1\" bankCode=\"320478\" dic=\"1\" ean=\"1\" edrpou=\"23697280\" eic=\"0\" iban=\"UA133204780000026007924864736\" ic=\"1\" name=\"  \" particId=\"1\">\n                  <!--Zero or more repetitions:-->\n                  <ns:DataGroups>\n                     <!--Optional:-->\n                     <ns:TotalsData>\n                        <!--Zero or more repetitions:-->\n                        <ns:Data currency=\"UAH\" type=\"limit\" value=\"1121.42\"/>\n                     </ns:TotalsData>\n                  </ns:DataGroups>\n               </ns:Participant>\n            </ns:Limits>\n         </ns:BANKLIMITS>\n      </ns:UploadRequest>\n   </soap:Body>\n</soap:Envelope>",
        "output": "str",
        "x": 1340,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "b995851f.a8bad",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 400,
        "wires": []
    },
    {
        "id": "d020f6b.0ca9b08",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 260,
        "wires": []
    },
    {
        "id": "e2ed95c5.dd993",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "data example",
        "field": "dataexample",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[\n    {\n        \"participant\" : {\n                        \"bankAccountId\" : \"1\" ,\n                        \"bankCode\" : \"320478\" ,\n                        \"dic\" : \"1\" ,\n                        \"ean\" : \"1\" ,\n                        \"edrpou\" : \"23697280\" ,\n                        \"eic\" : \"0\" ,\n                        \"iban\" : \"UA133204780000026007924864736\" ,\n                        \"ic\" : \"1\" ,\n                        \"name\" : \"  \" ,\n                        \"particId\" : \"1\",\n\n                        \"data\" : {\n                            \"currency\" : \"UAH\" ,\n                            \"type\" : \"limit\" ,\n                            \"value\" : \"1121.42\"\n                        }\n        }\n    },\n    {\n        \"participant\" : {\n                        \"bankAccountId\" : \"1\" ,\n                        \"bankCode\" : \"320478\" ,\n                        \"dic\" : \"1\" ,\n                        \"ean\" : \"1\" ,\n                        \"edrpou\" : \"23697280\" ,\n                        \"eic\" : \"0\" ,\n                        \"iban\" : \"UA133204780000026007924864736\" ,\n                        \"ic\" : \"1\" ,\n                        \"name\" : \"  \" ,\n                        \"particId\" : \"1\",\n                        \n                        \"data\" : {\n                            \"currency\" : \"UAH\" ,\n                            \"type\" : \"limit\" ,\n                            \"value\" : \"4312.42\"\n                        }\n        }\n    }\n]",
        "output": "json",
        "x": 720,
        "y": 200,
        "wires": [
            [
                "f3e0dc84.9f12e"
            ]
        ]
    },
    {
        "id": "bfd9dfb.768a02",
        "type": "split",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 275,
        "y": 420,
        "wires": [
            [
                "4523cd34.a6f9a4",
                "145708f1.80345f"
            ]
        ]
    },
    {
        "id": "1ce4859f.aab0b2",
        "type": "join",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 570,
        "y": 420,
        "wires": [
            [
                "1b7fc77d.a40749"
            ]
        ]
    },
    {
        "id": "10574d3f.70ad33",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "data ->",
        "func": "msg.payload = msg.data;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 420,
        "wires": [
            [
                "bfd9dfb.768a02"
            ]
        ]
    },
    {
        "id": "4523cd34.a6f9a4",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Body",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            <ns:Participant \n                        bankAccountId=\"{{payload.participant.bankAccountId}}\" \n                        bankCode=\"{{payload.participant.bankCode}}\" \n                        dic=\"{{payload.participant.dic}}\" \n                        ean=\"{{payload.participant.ean}}\" \n                        edrpou=\"{{payload.participant.edrpou}}\" \n                        eic=\"{{payload.participant.eic}}\" \n                        iban=\"{{payload.participant.iban}}\" \n                        ic=\"{{payload.participant.ic}}\" \n                        name=\"{{payload.participant.name}}\" \n                        particId=\"{{payload.participant.particId}}\">\n                        <ns:DataGroups>\n                            <ns:TotalsData>\n                            <ns:Data \n                                currency=\"{{payload.participant.data.currency}}\" \n                                type=\"{{payload.participant.data.type}}\" \n                                value=\"{{payload.participant.data.value}}\"/>\n                            </ns:TotalsData>\n                        </ns:DataGroups>\n            </ns:Participant>\n",
        "output": "str",
        "x": 420,
        "y": 420,
        "wires": [
            [
                "1ce4859f.aab0b2"
            ]
        ]
    },
    {
        "id": "145708f1.80345f",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 380,
        "wires": []
    },
    {
        "id": "1b7fc77d.a40749",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "all body",
        "func": "var out = \"\";\nfor (var o of msg.payload )\n{\n   out += o;\n}\nmsg.payload = out;\nmsg.xml.body = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 140,
        "y": 460,
        "wires": [
            [
                "ca70381c.78ded"
            ]
        ]
    },
    {
        "id": "a1a28a62.10d2f8",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "~/oree-out.xml",
        "filename": "/home/sdv/devel/node-js/workings/projects/ugb-vuejs-meest/src/bankid/exam/oree-out.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 820,
        "y": 400,
        "wires": [
            [
                "b995851f.a8bad"
            ]
        ]
    },
    {
        "id": "ca70381c.78ded",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Body All",
        "field": "xml.body",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.btop}}}\n{{{xml.body}}}\n{{{xml.bfoot}}}",
        "output": "str",
        "x": 430,
        "y": 460,
        "wires": [
            [
                "69e9126f.57d5bc",
                "72beb55f.8de584"
            ]
        ]
    },
    {
        "id": "7b72f994.1802b",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1240,
        "wires": [
            [
                "35930724.eb1838"
            ]
        ]
    },
    {
        "id": "c01bfe2f.5339a8",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1240,
        "wires": []
    },
    {
        "id": "faf8df09.cd731",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "mustache",
        "func": "m = global.get('mustache');\n\nvar data = msg.data;\nvar temp = msg.temp;\nvar out = \"\";\nfor (var o of data) {\n     var payload = {};\n     payload.payload = o;\n     out += m.render(temp, payload);\n}\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 620,
        "y": 1240,
        "wires": [
            [
                "c01bfe2f.5339a8"
            ]
        ]
    },
    {
        "id": "35930724.eb1838",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "data",
        "field": "data",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[\n    {\n        \"participant\" : {\n                        \"bankAccountId\" : \"1\" ,\n                        \"bankCode\" : \"320478\" ,\n                        \"dic\" : \"1\" ,\n                        \"ean\" : \"1\" ,\n                        \"edrpou\" : \"23697280\" ,\n                        \"eic\" : \"0\" ,\n                        \"iban\" : \"UA133204780000026007924864736\" ,\n                        \"ic\" : \"1\" ,\n                        \"name\" : \"  \" ,\n                        \"particId\" : \"1\",\n\n                        \"data\" : {\n                            \"currency\" : \"UAH\" ,\n                            \"type\" : \"limit\" ,\n                            \"value\" : \"1121.42\"\n                        }\n        }\n    },\n    {\n        \"participant\" : {\n                        \"bankAccountId\" : \"1\" ,\n                        \"bankCode\" : \"320478\" ,\n                        \"dic\" : \"1\" ,\n                        \"ean\" : \"1\" ,\n                        \"edrpou\" : \"23697280\" ,\n                        \"eic\" : \"0\" ,\n                        \"iban\" : \"UA133204780000026007924864736\" ,\n                        \"ic\" : \"1\" ,\n                        \"name\" : \"  \" ,\n                        \"particId\" : \"1\",\n                        \n                        \"data\" : {\n                            \"currency\" : \"UAH\" ,\n                            \"type\" : \"limit\" ,\n                            \"value\" : \"4312.42\"\n                        }\n        }\n    }\n]",
        "output": "json",
        "x": 290,
        "y": 1240,
        "wires": [
            [
                "bc77a998.36818"
            ]
        ]
    },
    {
        "id": "bc77a998.36818",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "temp",
        "field": "temp",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "                \n            <ns:Participant \n                        bankAccountId=\"{{payload.participant.bankAccountId}}\" \n                        bankCode=\"{{payload.participant.bankCode}}\" \n                        dic=\"{{payload.participant.dic}}\" \n                        ean=\"{{payload.participant.ean}}\" \n                        edrpou=\"{{payload.participant.edrpou}}\" \n                        eic=\"{{payload.participant.eic}}\" \n                        iban=\"{{payload.participant.iban}}\" \n                        ic=\"{{payload.participant.ic}}\" \n                        name=\"{{payload.participant.name}}\" \n                        particId=\"{{payload.participant.particId}}\">\n                <ns:DataGroups>\n                     <ns:TotalsData>\n                        <ns:Data \n                            currency=\"{{payload.participant.data.currency}}\" \n                            type=\"{{payload.participant.data.type}}\" \n                            value=\"{{payload.participant.data.value}}\"/>\n                     </ns:TotalsData>\n                </ns:DataGroups>\n            </ns:Participant>\n               ",
        "output": "str",
        "x": 450,
        "y": 1240,
        "wires": [
            [
                "faf8df09.cd731",
                "57f5ebb7.3ae6e4"
            ]
        ]
    },
    {
        "id": "57f5ebb7.3ae6e4",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 1280,
        "wires": []
    },
    {
        "id": "71cc1cc8.82d3a4",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "~/oree-temp.xml",
        "filename": "/home/sdv/devel/node-js/workings/projects/ugb-vuejs-meest/src/bankid/exam/oree-temp.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 660,
        "y": 1320,
        "wires": [
            [
                "c01bfe2f.5339a8"
            ]
        ]
    },
    {
        "id": "7b41cca7.3c2af4",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 330,
        "y": 580,
        "wires": []
    },
    {
        "id": "d8d63efa.1705e",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Top",
        "field": "xml.top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<soap:Envelope xmlns:ns=\"http://oree.com.ua/etsua/soapsvc/bankaccountstatus/2020/09\" xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\">",
        "output": "str",
        "x": 460,
        "y": 280,
        "wires": [
            [
                "84bee2b8.90a7c8"
            ]
        ]
    },
    {
        "id": "54661f67.8debf",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Foot",
        "field": "xml.foot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "</soap:Envelope>",
        "output": "str",
        "x": 680,
        "y": 320,
        "wires": [
            [
                "10574d3f.70ad33"
            ]
        ]
    },
    {
        "id": "84bee2b8.90a7c8",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Body top",
        "field": "xml.btop",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "   <soap:Body>\n      <ns:UploadRequest>\n         <ns:BANKLIMITS answer-required=\"true\" date-time=\"{{limits.date}}\" dtd-release=\"1\" dtd-version=\"1\" id=\"5654\" message-code=\"301\">\n            <ns:SenderIdentification coding-scheme=\"NAME\" id=\"UGB\"/>\n            <ns:ReceiverIdentification coding-scheme=\"EIC\" id=\"{{limits.id}}\"/>\n            <ns:Limits date=\"{{limits.date}}\" title=\"{{limits.title}}\">",
        "output": "str",
        "x": 690,
        "y": 280,
        "wires": [
            [
                "4083310.38bf4d"
            ]
        ]
    },
    {
        "id": "4083310.38bf4d",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Body Foot",
        "field": "xml.bfoot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            </ns:Limits>\n         </ns:BANKLIMITS>\n      </ns:UploadRequest>\n   </soap:Body>",
        "output": "str",
        "x": 480,
        "y": 320,
        "wires": [
            [
                "54661f67.8debf"
            ]
        ]
    },
    {
        "id": "72beb55f.8de584",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "to file",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 500,
        "wires": [
            [
                "ae7618f3.a453e"
            ]
        ]
    },
    {
        "id": "ae7618f3.a453e",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "filename": "1-oree-body.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 500,
        "wires": [
            [
                "f959eed6.bf482",
                "ad2903e3.e61518"
            ]
        ]
    },
    {
        "id": "f959eed6.bf482",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "f4115f69.0d81",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Head",
        "field": "xml.head",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "   <soap:Header><wsse:Security soap:mustUnderstand=\"true\" xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\" xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\">\n        <wsse:UsernameToken wsu:Id=\"UsernameToken-{{{auth.token}}}\">\n        <wsse:Username>{{{auth.login}}}</wsse:Username>\n        <wsse:Password Type=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText\">{{{auth.passw}}}</wsse:Password>\n        </wsse:UsernameToken></wsse:Security>\n        <qes>{{{sign.sign}}}</qes>\n    </soap:Header>",
        "output": "str",
        "x": 140,
        "y": 900,
        "wires": [
            [
                "b8dc6b1b.1f2778"
            ]
        ]
    },
    {
        "id": "f3e0dc84.9f12e",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "set limits",
        "field": "limits",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"date\" : \"{{workDate}}\",\n    \"id\" : \"62X-OPERRYNKU--3\",\n    \"title\" : \"FinancialLimit\"\n}",
        "output": "json",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "507cb618.f64378"
            ]
        ]
    },
    {
        "id": "b8dc6b1b.1f2778",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml All",
        "field": "oree.xml",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.top}}}\n{{{xml.head}}}\n{{{xml.bodyt}}}\n{{{xml.foot}}}",
        "output": "str",
        "x": 310,
        "y": 900,
        "wires": [
            [
                "df79c848.fcc6b8",
                "fa840cba.1aa158"
            ]
        ]
    },
    {
        "id": "df79c848.fcc6b8",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "to file",
        "func": "msg.payload = msg.oree.xml;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 960,
        "wires": [
            [
                "279a8d3c.0c76c2"
            ]
        ]
    },
    {
        "id": "279a8d3c.0c76c2",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "filename": "5-oree-out.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 300,
        "y": 960,
        "wires": [
            [
                "25519b6c.f82cb4"
            ]
        ]
    },
    {
        "id": "25519b6c.f82cb4",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 150,
        "y": 1000,
        "wires": []
    },
    {
        "id": "b5d32dcd.2e4728",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml All",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.top}}}{{{xml.bodyt}}}{{{xml.foot}}}",
        "output": "str",
        "x": 420,
        "y": 500,
        "wires": [
            [
                "54964061.c8da38",
                "408f2e50.7e40d"
            ]
        ]
    },
    {
        "id": "fe47e86c.3905",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "to file",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 620,
        "wires": [
            [
                "577ba368.d4c0ac"
            ]
        ]
    },
    {
        "id": "577ba368.d4c0ac",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "filename": "3-oree-x4n.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 620,
        "wires": [
            [
                "d340f5ec.289ed"
            ]
        ]
    },
    {
        "id": "d340f5ec.289ed",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 620,
        "wires": []
    },
    {
        "id": "1108e12d.3f672f",
        "type": "comment",
        "z": "e72aed43.e4b9b8",
        "name": "Init data",
        "info": "",
        "x": 90,
        "y": 20,
        "wires": []
    },
    {
        "id": "8aed538f.70f65",
        "type": "comment",
        "z": "e72aed43.e4b9b8",
        "name": "Make XML",
        "info": "",
        "x": 100,
        "y": 360,
        "wires": []
    },
    {
        "id": "d9a02c9.3e57b5",
        "type": "comment",
        "z": "e72aed43.e4b9b8",
        "name": "Sign XML",
        "info": "",
        "x": 100,
        "y": 640,
        "wires": []
    },
    {
        "id": "8fdc8f33.84544",
        "type": "comment",
        "z": "e72aed43.e4b9b8",
        "name": "Send XML",
        "info": "",
        "x": 100,
        "y": 860,
        "wires": []
    },
    {
        "id": "8fea18b4.3259c8",
        "type": "comment",
        "z": "e72aed43.e4b9b8",
        "name": "Prepare data + SQL",
        "info": "",
        "x": 110,
        "y": 160,
        "wires": []
    },
    {
        "id": "57c6e7be.9b8338",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "to sign",
        "func": "var out = msg.payload.replace('<soap:Envelope xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\"><soap:Body>','').replace('</soap:Body></soap:Envelope>','')\nout = out.replace(/&lt;/g,'<').replace(/&gt;/g,'>')\n\nmsg.xml.bodys = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 600,
        "wires": [
            [
                "21e79c4b.c938f4",
                "be92021b.9595d8"
            ]
        ]
    },
    {
        "id": "69e9126f.57d5bc",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "trim",
        "func": "var out = '';\n\nvar lines = msg.xml.body.split('\\n');\n\n    for (var line of lines) {\n            var trim = line.trim();\n            if( line.match(/^.*<.*$/) )\n                out += trim;\n            else \n                if(trim.length > 0)\n                out += (' '+line.trim());\n    }\n\nmsg.xml.bodyt = out;\nmsg.payload   = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 130,
        "y": 500,
        "wires": [
            [
                "d1f722e4.6ad118",
                "b5d32dcd.2e4728"
            ]
        ]
    },
    {
        "id": "d1f722e4.6ad118",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "to file",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 540,
        "wires": [
            [
                "67decd3c.87d5ec"
            ]
        ]
    },
    {
        "id": "67decd3c.87d5ec",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "filename": "2-oree-tr.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 730,
        "y": 540,
        "wires": [
            [
                "2641e2e6.d6beb6"
            ]
        ]
    },
    {
        "id": "2641e2e6.d6beb6",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 540,
        "wires": []
    },
    {
        "id": "be92021b.9595d8",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "to file",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "59603192.84d7c"
            ]
        ]
    },
    {
        "id": "59603192.84d7c",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "filename": "4-oree-x4s.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 660,
        "wires": [
            [
                "ce63afaa.1d2068"
            ]
        ]
    },
    {
        "id": "ce63afaa.1d2068",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 660,
        "wires": []
    },
    {
        "id": "408f2e50.7e40d",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "to file",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 570,
        "y": 580,
        "wires": [
            [
                "fe16782.daebd88"
            ]
        ]
    },
    {
        "id": "fe16782.daebd88",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "filename": "3-oree-tn4.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 740,
        "y": 580,
        "wires": [
            [
                "a7f010a7.37919"
            ]
        ]
    },
    {
        "id": "a7f010a7.37919",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 580,
        "wires": []
    },
    {
        "id": "4a67b7f0.abb65",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "norm",
        "func": "var out = msg.payload;\nout = out.replace(/&lt;/g,'<').replace(/&gt;/g,'>')\nmsg.xml.bodys = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "57c6e7be.9b8338"
            ]
        ]
    },
    {
        "id": "ba34be00.0f6098",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Body Fmt",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            <ns:Participant \n                        bankAccountId=\"{{payload.participant.bankAccountId}}\" \n                        bankCode=\"{{payload.participant.bankCode}}\" \n                        dic=\"{{payload.participant.dic}}\" \n                        ean=\"{{payload.participant.ean}}\" \n                        edrpou=\"{{payload.participant.edrpou}}\" \n                        eic=\"{{payload.participant.eic}}\" \n                        iban=\"{{payload.participant.iban}}\" \n                        ic=\"{{payload.participant.ic}}\" \n                        name=\"{{payload.participant.name}}\" \n                        particId=\"{{payload.participant.particId}}\">\n                        <ns:DataGroups>\n                            <ns:TotalsData>\n                            <ns:Data \n                                currency=\"{{payload.participant.data.currency}}\" \n                                type=\"{{payload.participant.data.type}}\" \n                                value=\"{{payload.participant.data.value}}\"/>\n                            </ns:TotalsData>\n                        </ns:DataGroups>\n            </ns:Participant>\n",
        "output": "str",
        "x": 1360,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "3e220ce5.ee8a8c",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "trim",
        "func": "var out = '';\n\nvar lines = msg.xml.body.split('\\n');\n\n    for (var line of lines) {\n            var trim = line.trim();\n            if( line.match(/^.*<.*$/) )\n                out += trim;\n            else \n                if(trim.length > 0)\n                out += (' '+line.trim());\n    }\n\nmsg.xml.bodyt = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 450,
        "y": 1380,
        "wires": [
            [
                "1e59faca.f6de05",
                "217d7faa.5d2b7"
            ]
        ]
    },
    {
        "id": "7ce96a94.c88cc4",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1380,
        "wires": [
            [
                "1c74b4b5.ecae5b"
            ]
        ]
    },
    {
        "id": "1c74b4b5.ecae5b",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "data",
        "field": "xml.body",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<soap:Envelope xmlns:ns=\"http://oree.com.ua/etsua/soapsvc/bankaccountstatus/2020/09\" xmlns:soap=\"http://www.w3.org/2003/05/soap-envelope\">\n   <soap:Header><wsse:Security soap:mustUnderstand=\"true\" xmlns:wsse=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd\" xmlns:wsu=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd\">\n        <wsse:UsernameToken wsu:Id=\"UsernameToken-3D8E495A71D1035BD516125380512321\">\n        <wsse:Username>ukrgaz</wsse:Username>\n        <wsse:Password Type=\"http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-username-token-profile-1.0#PasswordText\">WFtCRyFJt3</wsse:Password>\n        </wsse:UsernameToken></wsse:Security>\n        </soap:Header>\n   <soap:Body>\n      <ns:UploadRequest>\n         <ns:BANKLIMITS answer-required=\"true\" date-time=\"2020-10-26T18:51:13Z \" dtd-release=\"1\" dtd-version=\"1\" id=\"5654\" message-code=\"301\">\n            <ns:SenderIdentification coding-scheme=\"NAME\" id=\"UGB\"/>\n            <ns:ReceiverIdentification coding-scheme=\"EIC\" id=\"62X-OPERRYNKU--3\"/>\n            <ns:Limits date=\"2020-10-26T18:51:13Z\" title=\"FinancialLimit\">\n                \n            <ns:Participant \n                        bankAccountId=\"1\" \n                        bankCode=\"320478\" \n                        dic=\"1\" \n                        ean=\"1\" \n                        edrpou=\"23697280\" \n                        eic=\"0\" \n                        iban=\"UA133204780000026007924864736\" \n                        ic=\"1\" \n                        name=\"  \" \n                        particId=\"1\">\n                <ns:DataGroups>\n                     <ns:TotalsData>\n                        <ns:Data \n                            currency=\"UAH\" \n                            type=\"limit\" \n                            value=\"1121.42\"/>\n                     </ns:TotalsData>\n                </ns:DataGroups>\n            </ns:Participant>\n                               \n            <ns:Participant \n                        bankAccountId=\"1\" \n                        bankCode=\"320478\" \n                        dic=\"1\" \n                        ean=\"1\" \n                        edrpou=\"23697280\" \n                        eic=\"0\" \n                        iban=\"UA133204780000026007924864736\" \n                        ic=\"1\" \n                        name=\"  \" \n                        particId=\"1\">\n                <ns:DataGroups>\n                     <ns:TotalsData>\n                        <ns:Data \n                            currency=\"UAH\" \n                            type=\"limit\" \n                            value=\"4312.42\"/>\n                     </ns:TotalsData>\n                </ns:DataGroups>\n            </ns:Participant>\n               \n            </ns:Limits>\n         </ns:BANKLIMITS>\n      </ns:UploadRequest>\n   </soap:Body>\n</soap:Envelope>\n",
        "output": "str",
        "x": 290,
        "y": 1380,
        "wires": [
            [
                "3e220ce5.ee8a8c"
            ]
        ]
    },
    {
        "id": "1e59faca.f6de05",
        "type": "file",
        "z": "e72aed43.e4b9b8",
        "name": "~/oree-temp.xml",
        "filename": "oree-temp.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 680,
        "y": 1420,
        "wires": [
            [
                "217d7faa.5d2b7"
            ]
        ]
    },
    {
        "id": "217d7faa.5d2b7",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 1340,
        "wires": []
    },
    {
        "id": "61c71318.a253cc",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Xml Body No",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<ns:Participant bankAccountId=\"{{payload.participant.bankAccountId}}\"  bankCode=\"{{payload.participant.bankCode}}\"  dic=\"{{payload.participant.dic}}\"  ean=\"{{payload.participant.ean}}\"  edrpou=\"{{payload.participant.edrpou}}\"  eic=\"{{payload.participant.eic}}\"  iban=\"{{payload.participant.iban}}\"  ic=\"{{payload.participant.ic}}\"  name=\"{{payload.participant.name}}\"  particId=\"{{payload.participant.particId}}\">\n\t<ns:DataGroups>\n\t\t<ns:TotalsData>\n\t\t\t<ns:Data currency=\"{{payload.participant.data.currency}}\" type=\"{{payload.participant.data.type}}\" value=\"{{payload.participant.data.value}}\"/>\n\t\t</ns:TotalsData>\n\t</ns:DataGroups>\n</ns:Participant>\n",
        "output": "str",
        "x": 1350,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "5a213ace.a5e244",
        "type": "xml",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "property": "payload",
        "attr": "",
        "chr": "",
        "x": 970,
        "y": 940,
        "wires": [
            [
                "ee7d64b9.78635",
                "937b6f97.562c38"
            ]
        ]
    },
    {
        "id": "ee7d64b9.78635",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "simplify",
        "func": "\nfunction simplify(obj) {\n    if (Object.prototype.toString.call(obj) == \"[object Array]\") {\n        var out = []; \n        if (obj.length > 1) {\n            for (var i in obj) {\n                out[i] = simplify(obj[i]);\n            }\n            return out;\n        } else if (obj.length == 1) {\n            out = simplify(obj[0]);\n            return out;\n        } else {\n            return \"\";\n        }\n   } else if (Object.prototype.toString.call(obj) == \"[object Object]\") {\n       var out = {};\n       for (var property in obj) {\n           if( property === 'RESPONSE')\n               outProperty = property.toLowerCase();\n           else {\n               outProperty = property[0].toLowerCase();\n               outProperty = outProperty + property.substr(1, property.length);\n           }\n           out[outProperty] = simplify(obj[property]);\n       }\n        return out;\n    } else {\n        return obj;\n    }\n}\n\nfunction normaliseJsonObject(jsonObject, out, akey){\n    for(var key in jsonObject){\n        if (typeof jsonObject[key] === 'object') {\n            //console.log(\"o  \"+akey + \" \" + key);\n            if( key !== \"$\" ) {\n                out[key] = {};\n                normaliseJsonObject(jsonObject[key], out, key);\n            } else {\n                normaliseJsonObject(jsonObject[key], out, akey);\n            }\n            \n        } else{\n            //console.log(\"v  \"+akey + \" \" + key + \": \" + jsonObject[key]);\n            var skey = key;\n            if( key === \"_\")  skey = \"result\";\n            if( key !== \"$\" ) out[akey][skey] = jsonObject[key];\n        }\n    }\n};\n\nfunction transform_oree(aobj) {\n    var obj = aobj['response'];\n    var out = {};    \n    for (var property in obj) {\n        if (property === '$') {\n            for (var key in obj[property]) {\n                out[key] = obj[property][key];\n            }\n        } else {\n            out[property] = {};\n            for (var key in obj[property]) {\n                var okey = key;\n                if (key === '$') {\n                    for (var akey in obj[property][key]) {\n                        out[property][akey] = obj[property][key][akey];\n                    }\n                } else {\n                    if(key == '_') okey = 'result';                \n                    out[property][okey] = obj[property][key]; \n                }\n            }\n            \n        }\n    }\n    var ret = {\n        response : out\n    }\n    return ret;\n};\n\n//var input = msg.payload['soap:Envelope']['soap:Body'][0].RegisterOperation[0];\n\nvar tracksArray = msg.payload['env:Envelope']['env:Body'][0];\nvar temp = simplify(tracksArray);\ntemp = temp[\"ns2:UploadResponse\"];\nvar otemp = {};\n//temp =-normaliseJsonObject( temp, otemp )\notemp = transform_oree( temp );\nmsg.payload = otemp; //temp[\"ns2:UploadResponse\"];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 980,
        "y": 980,
        "wires": [
            [
                "937b6f97.562c38",
                "e91b4934.7eba08"
            ]
        ]
    },
    {
        "id": "98f155c3.6cdc3",
        "type": "link out",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "links": [
            "7fcb1885.dc3b9",
            "c6942b0a.3b454",
            "4041ec09.943164"
        ],
        "x": 895,
        "y": 840,
        "wires": []
    },
    {
        "id": "99797596.85aeb",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 760,
        "y": 840,
        "wires": [
            [
                "98f155c3.6cdc3"
            ]
        ]
    },
    {
        "id": "c6942b0a.3b454",
        "type": "link in",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "links": [
            "98f155c3.6cdc3"
        ],
        "x": 995,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "2d98a502.c9bf62",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "SQL",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "--select * from  dbo.UGB_MONOBANK(Date_Amount TDate)\ndeclare @Date_amount DAteTime\n\nset @Date_amount=(select m.Date_Amount from dbo.UGB_MONOBANK m)\n\ncreate table #rez(amountid int)\ninsert into #rez(amountid)\nselect distinct\nb.DebitId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.DebitId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\nunion all\nselect distinct\nb.CreditId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.CreditId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\n\nSELECT '1' AS bankAccountId\n     , '320478' AS bankCode\n     , '1' AS dic\n     , '1' AS ean\n     , c.StateCode AS edrpou\n     , '0' AS eic\n     , a.iban AS iban\n     , '1' AS ic\n     , c.name AS name\n     , '1' AS particId\n     , IIF(a.CurrencyTag = '', 'UAH', a.CurrencyTag) AS currency\n     , 'limit' AS type\n     , LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) AS value\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(select r.amountid from #rez r)\nORDER BY a.Id\n\n\nIf isnull((select count(1) from #rez),0)<>0\nbegin\ninsert into dbo.UGB_ENERGORINOK(Daydate,Created,IBAN,Name,Confirmed)\nselect\ndatediff(day,0,getdate()),\ngetdate(),\na.iban,\na.ShortName,\na.Confirmed\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(select r.amountid from #rez r)\nORDER BY a.Id\n\n\nend\n\nupdate m\nset m.Date_Amount=getdate()\nfrom dbo.UGB_MONOBANK m\n\ndrop table #rez\n",
        "output": "str",
        "x": 1750,
        "y": 100,
        "wires": [
            [
                "74b1f071.7fa848"
            ]
        ],
        "info": "--select * from  dbo.UGB_MONOBANK(Date_Amount TDate)\ndeclare @Date_amount DAteTime\n\nset @Date_amount=(select m.Date_Amount from dbo.UGB_MONOBANK m)\n\ncreate table #rez(amountid int)\ninsert into #rez(amountid)\nselect distinct\nb.DebitId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.DebitId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\nunion all\nselect distinct\nb.CreditId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.CreditId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\n\nSELECT '1' AS bankAccountId\n     , '320478' AS bankCode\n     , '1' AS dic\n     , '1' AS ean\n     , c.StateCode AS edrpou\n     , '0' AS eic\n     , a.iban AS iban\n     , '1' AS ic\n     , c.name AS name\n     , '1' AS particId\n     , IIF(a.CurrencyTag = '', 'UAH', a.CurrencyTag) AS currency\n     , 'limit' AS type\n     , LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) AS value\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(select r.amountid from #rez r)\nORDER BY a.Id\n\n\nupdate m\nset m.Date_Amount=getdate()\nfrom dbo.UGB_MONOBANK m\n\ndrop table #rez\n"
    },
    {
        "id": "4e457494.d886fc",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "SC PredProd",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 550,
        "y": 160,
        "wires": [
            [
                "f05945a6.23a29"
            ]
        ]
    },
    {
        "id": "48b93370.bb519c",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "SC Prod",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 540,
        "y": 120,
        "wires": [
            [
                "f05945a6.23a29"
            ]
        ]
    },
    {
        "id": "dce1e188.524d98",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "P/D",
        "func": "if(env.get(\"ENVIRONMENT\") !== undefined) \n    msg.workDir = env.get(\"ENVIRONMENT\").substring(0,3).toUpperCase();\n\nif (msg.workDir == \"PRO\") {\n    return [msg, null];\n} else if (msg.workDir == \"DEV\") {\n    return [null, msg];\n} ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 390,
        "y": 140,
        "wires": [
            [
                "48b93370.bb519c"
            ],
            [
                "4e457494.d886fc"
            ]
        ]
    },
    {
        "id": "9d85c594.5d4258",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 1440,
        "wires": [
            [
                "bd98e02c.6adeb"
            ]
        ]
    },
    {
        "id": "bd98e02c.6adeb",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "ENV",
        "func": "\nmsg.payload = env.get(\"ENVIRONMENT\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 310,
        "y": 1440,
        "wires": [
            [
                "594ab3a1.1f1d74"
            ]
        ]
    },
    {
        "id": "594ab3a1.1f1d74",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 1440,
        "wires": []
    },
    {
        "id": "6d1812df.61b22c",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "P/D",
        "func": "msg.workDir = 'LOC';\nif(env.get(\"ENVIRONMENT\") !== undefined) \n    msg.workDir = env.get(\"ENVIRONMENT\").substring(0,3).toUpperCase();\nif (msg.workDir == \"PRO\") {\n    return [msg, null];\n} else if (msg.workDir == \"DEV\") {\n    return [null, msg];\n} ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 580,
        "y": 960,
        "wires": [
            [
                "8dec0d1c.454768"
            ],
            [
                "37a89188.997eae"
            ]
        ]
    },
    {
        "id": "7e2adf28.3bc4c",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1620,
        "wires": [
            [
                "cc08a49a.0bbb28"
            ]
        ]
    },
    {
        "id": "cc08a49a.0bbb28",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/*\nSELECT '<Participant name=\"' + a.ClientName + '\" iban=\"' + a.IBAN + '\" edrpou=\"' + a.StateCode + '\" bankCode=\"300465\">' + '<DataGroups>\n<TotalsData>\n<Data value=\"' + LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) + '\" type=\"limit\" currency=\"' + CASE\n                                                                                             WHEN a.CurrencyTag = ''\n                                                                                             THEN 'UAH'\n                                                                                             ELSE a.CurrencyTag\n                                                                                         END + '\"/>\n</TotalsData>\n</DataGroups>\n</Participant>' AS XML_OUT\n*/\n\nSELECT a.ClientName ,  a.IBAN, a.StateCode \n , LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) \n , IIF( a.CurrencyTag = '', 'UAH', a.CurrencyTag) CurrencyTag\n\n\n\nFROM sv_Amounts a WITH(NOLOCK)\nWHERE a.Id IN\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328'\n\t, 'UA853204780000026025000003330'\n\t, 'UA423204780000026022000003333'\n\t, 'UA153204780000026025000003329'\n\t, 'UA603204780000026021000003334'\n\t, 'UA783204780000026020000003335'\n\t, 'UA293204780000026040924894075'\n\t, 'UA103204780000026008924894147'\n\t, 'UA883204780000026201131375159'\n\t, 'UA623204780000026080000179287'\n\t, 'UA773204780000026207131375153'\n\t, 'UA703204780000026084751101403'\n\t, 'UA773204780000026207131375153'\n\t, 'UA653204780000026033924899485'\n\t, 'UA313204780000026084751101038')\n    AND a.subcount = 0\n) \nORDER BY a.Id;\n\n/*\nSELECT * \n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328'\n\t, 'UA853204780000026025000003330')\n*/",
        "output": "str",
        "x": 280,
        "y": 1620,
        "wires": [
            [
                "846ac1af.b98c1"
            ]
        ]
    },
    {
        "id": "846ac1af.b98c1",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": 1,
        "x": 450,
        "y": 1620,
        "wires": [
            [
                "346e5593.74b7c2"
            ]
        ]
    },
    {
        "id": "346e5593.74b7c2",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 1620,
        "wires": []
    },
    {
        "id": "b7f32e35.45c16",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select\n'<Participant name=\"'+c.FullName+'\" iban=\"'+a.IBAN+'\" edrpou=\"'+c.StateCode+ '\" bankCode=\"300465\">'+\n'<DataGroups>\n<TotalsData>\n<Data value=\"'+ltrim(rtrim(cast(a.Confirmed as char)))+'\" type=\"limit\" currency=\"'+\ncase when a.CurrencyTag='' then 'UAH' else a.CurrencyTag end +'\"/>\n</TotalsData>\n</DataGroups>\n</Participant>'\n\nfrom Amounts a with (nolock) \njoin clients c with (nolock) on c.id=a.ClientId\nwhere  a.Id in\n(\nselect\na.id\nfrom amounts a with (nolock)\nwhere\na.iban in\n(\n'UA943204780000026026000003328',\n'UA853204780000026025000003330',\n'UA423204780000026022000003333',\n'UA153204780000026025000003329',\n'UA603204780000026021000003334',\n'UA783204780000026020000003335',\n'UA293204780000026040924894075',\n'UA103204780000026008924894147',\n'UA883204780000026201131375159',\n'UA623204780000026080000179287',\n'UA773204780000026207131375153',\n'UA703204780000026084751101403',\n'UA773204780000026207131375153',\n'UA653204780000026033924899485',\n'UA313204780000026084751101038'\n)\nand a.subcount=0\n)\n\norder by a.Id",
        "output": "str",
        "x": 280,
        "y": 1660,
        "wires": [
            [
                "846ac1af.b98c1"
            ]
        ]
    },
    {
        "id": "d990e6dc.789398",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1660,
        "wires": [
            [
                "b7f32e35.45c16"
            ]
        ]
    },
    {
        "id": "f05945a6.23a29",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "SQL retrans",
        "func": "function today(){\n    var currDate = new Date();\n    var ret = currDate.toISOString();\n    return ret;\n}\n\nmsg.workDate = today();\n\nvar out = [];\n\nfor (var o of msg.payload) {\n\n    var item = {\n        \"participant\": {\n            \"bankAccountId\": \"1\",\n            \"bankCode\": \"320478\",\n            \"dic\": \"1\",\n            \"ean\": \"1\",\n            \"edrpou\": o.edrpou,\n            \"eic\": \"0\",\n            \"iban\": o.iban,\n            \"ic\": \"1\",\n            \"name\": o.name,\n            \"particId\": \"1\",\n            \"data\": {\n                \"currency\": o.currency,\n                \"type\": \"limit\",\n                \"value\": o.value\n            }\n        }\n    };\n\n    out.push(item);\n}\n\nmsg.payload = out;\nmsg.data = out;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 770,
        "y": 140,
        "wires": [
            [
                "bea0652f.82f4c8",
                "33bb8e9e.06016a"
            ]
        ],
        "info": "msg.workDate ='2021-03-29T18:51:13Z'\n\nfunction today(){\n    var currDate = new Date();\n    out = currDate.toISOString();\n    return out;\n}\n\nmsg.workDate = today();\nmsg.payload = msg.workDate;\n\nreturn msg;"
    },
    {
        "id": "3be622a6.a45ea6",
        "type": "split",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 2150,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "7d2d5bbb.d42004",
        "type": "join",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": "false",
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "x": 920,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "7314e278.357564",
        "type": "comment",
        "z": "e72aed43.e4b9b8",
        "name": "End -----------------------------------------------------------------------------------------",
        "info": "",
        "x": 290,
        "y": 1080,
        "wires": []
    },
    {
        "id": "5de1de67.9b53e",
        "type": "comment",
        "z": "e72aed43.e4b9b8",
        "name": "Start -----------------------------------------------------------------------------------------",
        "info": "",
        "x": 270,
        "y": 220,
        "wires": []
    },
    {
        "id": "f5ee31fa.48dda",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1700,
        "wires": [
            [
                "b9f374b.221e208"
            ]
        ]
    },
    {
        "id": "b9f374b.221e208",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select \n1 as bankAccountId,\n320478 as bankCode,\n1 as dic,\n1 as ean,\nc.statecode as edrpou,\n0 as eic,\na.iban as iban,\n1 as ic,\nc.fullname as name,\n1 as particId,\ncase when a.CurrencyTag='' then 'UAH' else a.CurrencyTag end as currency,\n'limit' as limit,\na.Confirmed as value\n\n\nfrom Amounts a with(nolock)\njoin clients c with (nolock) \n on c.id=a.ClientId\nwhere a.iban in\n(\n'UA943204780000026026000003328',\n'UA853204780000026025000003330',\n'UA423204780000026022000003333',\n'UA153204780000026025000003329',\n'UA603204780000026021000003334',\n'UA783204780000026020000003335',\n'UA293204780000026040924894075',\n'UA103204780000026008924894147',\n'UA883204780000026201131375159',\n'UA623204780000026080000179287',\n'UA773204780000026207131375153',\n'UA703204780000026084751101403',\n'UA773204780000026207131375153',\n'UA653204780000026033924899485',\n'UA313204780000026084751101038'\n)\nand a.subcount=0\n ",
        "output": "str",
        "x": 280,
        "y": 1700,
        "wires": [
            [
                "846ac1af.b98c1"
            ]
        ]
    },
    {
        "id": "bfd46d6d.a2c3b8",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 116,
        "y": 2004,
        "wires": [
            [
                "4845fe49.7f682"
            ]
        ]
    },
    {
        "id": "4845fe49.7f682",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/*\n\"participant\" : {\n   \"bankAccountId\" : \"1\" ,\n   \"bankCode\" : \"320478\" ,\n   \"dic\" : \"1\" ,\n   \"ean\" : \"1\" ,\n   \"edrpou\" : \"23697280\" ,\n   \"eic\" : \"0\" ,\n   \"iban\" : \"UA133204780000026007924864736\" ,\n   \"ic\" : \"1\" ,\n   \"name\" : \"  \" ,\n   \"particId\" : \"1\",\n\n   \"data\" : {\n       \"currency\" : \"UAH\" ,\n       \"type\" : \"limit\" ,\n       \"value\" : \"1121.42\"\n   }\n }\n}\n*/\n\nSELECT '1' AS bankAccountId\n     , '320478' AS bankCode\n     , '1' AS dic\n     , '1' AS ean\n     , c.StateCode AS edrpou\n     , '0' AS eic\n     , a.iban AS iban\n     , '1' AS ic\n     , c.name AS name\n     , '1' AS particId\n     , IIF(a.CurrencyTag = '', 'UAH', a.CurrencyTag) AS currency\n     , 'limit' AS type\n     , LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) AS value\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038')\n    AND a.subcount = 0\n)\nORDER BY a.Id;\n\n/*\nSELECT * \n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328'\n\t, 'UA853204780000026025000003330')\n\t* FROM sv_Amounts\n*/\n/*\nSELECT '<Participant name=\"' + a.ClientName + '\" iban=\"' + a.IBAN + '\" edrpou=\"' + a.StateCode + '\" bankCode=\"300465\">' + '<DataGroups>\n<TotalsData>\n<Data value=\"' + LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) + '\" type=\"limit\" currency=\"' \n+ CASE\n    WHEN a.CurrencyTag = ''\n    THEN 'UAH'\n    ELSE a.CurrencyTag\n  END + '\"/>\n</TotalsData>\n</DataGroups>\n</Participant>' AS XML_OUT\n*/",
        "output": "str",
        "x": 296,
        "y": 2004,
        "wires": [
            [
                "3f62cecf.c397b2"
            ]
        ]
    },
    {
        "id": "3f62cecf.c397b2",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": 1,
        "x": 456,
        "y": 2004,
        "wires": [
            [
                "50e80d81.ddc3f4",
                "df01a8ff.57d988"
            ]
        ]
    },
    {
        "id": "d2626a1b.c6299",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 786,
        "y": 2004,
        "wires": []
    },
    {
        "id": "50e80d81.ddc3f4",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "trans",
        "func": "var out = [];\n\nfor (var o of msg.payload) {\n\n    var item = {\n        \"participant\": {\n            \"bankAccountId\": \"1\",\n            \"bankCode\": \"320478\",\n            \"dic\": \"1\",\n            \"ean\": \"1\",\n            \"edrpou\": o.edrpou,\n            \"eic\": \"0\",\n            \"iban\": o.iban,\n            \"ic\": \"1\",\n            \"name\": o.name,\n            \"particId\": \"1\",\n            \"data\": {\n                \"currency\": o.currency,\n                \"type\": \"limit\",\n                \"value\": o.value\n            }\n        }\n    };\n\n    out.push(item);\n}\n\nmsg.payload = out;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 606,
        "y": 2004,
        "wires": [
            [
                "d2626a1b.c6299"
            ]
        ]
    },
    {
        "id": "df01a8ff.57d988",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 506,
        "y": 2104,
        "wires": []
    },
    {
        "id": "36f39021.399c2",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 1020,
        "wires": []
    },
    {
        "id": "d70a37a7.7da1c8",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2180,
        "wires": [
            [
                "1729b9bc.1b7be6"
            ]
        ]
    },
    {
        "id": "1729b9bc.1b7be6",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Get lastRun",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nfrom dbo.UGB_MONOBANK m",
        "output": "str",
        "x": 290,
        "y": 2180,
        "wires": [
            [
                "3e740766.b31558"
            ]
        ]
    },
    {
        "id": "e67e167a.dbc9",
        "type": "switch",
        "z": "e72aed43.e4b9b8",
        "name": "sqlMode",
        "property": "sqlMode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1600,
        "y": 40,
        "wires": [
            [
                "c4bdf9fd.3590f8"
            ],
            [
                "2d98a502.c9bf62"
            ]
        ]
    },
    {
        "id": "c4bdf9fd.3590f8",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "SQL",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "/*\n\"participant\" : {\n   \"bankAccountId\" : \"1\" ,\n   \"bankCode\" : \"320478\" ,\n   \"dic\" : \"1\" ,\n   \"ean\" : \"1\" ,\n   \"edrpou\" : \"23697280\" ,\n   \"eic\" : \"0\" ,\n   \"iban\" : \"UA133204780000026007924864736\" ,\n   \"ic\" : \"1\" ,\n   \"name\" : \"  \" ,\n   \"particId\" : \"1\",\n\n   \"data\" : {\n       \"currency\" : \"UAH\" ,\n       \"type\" : \"limit\" ,\n       \"value\" : \"1121.42\"\n   }\n }\n}\n*/\n\nSELECT '1' AS bankAccountId\n     , '320478' AS bankCode\n     , '1' AS dic\n     , '1' AS ean\n     , c.StateCode AS edrpou\n     , '0' AS eic\n     , a.iban AS iban\n     , '1' AS ic\n     , c.name AS name\n     , '1' AS particId\n     , IIF(a.CurrencyTag = '', 'UAH', a.CurrencyTag) AS currency\n     , 'limit' AS type\n     , LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) AS value\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038')\n    AND a.subcount = 0\n)\nORDER BY a.Id;\n\n/*\nSELECT * \n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328'\n\t, 'UA853204780000026025000003330')\n\t* FROM sv_Amounts\n*/\n/*\nSELECT '<Participant name=\"' + a.ClientName + '\" iban=\"' + a.IBAN + '\" edrpou=\"' + a.StateCode + '\" bankCode=\"300465\">' + '<DataGroups>\n<TotalsData>\n<Data value=\"' + LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) + '\" type=\"limit\" currency=\"' \n+ CASE\n    WHEN a.CurrencyTag = ''\n    THEN 'UAH'\n    ELSE a.CurrencyTag\n  END + '\"/>\n</TotalsData>\n</DataGroups>\n</Participant>' AS XML_OUT\n*/",
        "output": "str",
        "x": 1750,
        "y": 40,
        "wires": [
            [
                "74b1f071.7fa848"
            ]
        ]
    },
    {
        "id": "387a54d8.33d64c",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "env 1",
        "func": "msg.sqlMode = 1;\nmsg.workDir = 'DEV';\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 60,
        "wires": [
            [
                "36a19816.e23da8"
            ]
        ]
    },
    {
        "id": "a9a6a4b4.c4cf5",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 100,
        "wires": [
            [
                "6b7a76c6.72ed78"
            ]
        ]
    },
    {
        "id": "6b7a76c6.72ed78",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "env 2",
        "func": "msg.sqlMode = 2;\nmsg.workDir = 'DEV';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "36a19816.e23da8"
            ]
        ]
    },
    {
        "id": "bea0652f.82f4c8",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 120,
        "wires": []
    },
    {
        "id": "bdcbabde.2ea78",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "mail to",
        "func": "\nmsg.topic = \"OREE ...\"\nmsg.to = \"akharakhordin@ukrgasbank.com\";\nmsg.from = \"ecobank@ukrgasbank.com\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1250,
        "y": 560,
        "wires": [
            [
                "813c901e.3caf08"
            ]
        ]
    },
    {
        "id": "813c901e.3caf08",
        "type": "e-mail",
        "z": "e72aed43.e4b9b8",
        "server": "10.1.32.22",
        "port": "25",
        "secure": false,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 1390,
        "y": 560,
        "wires": []
    },
    {
        "id": "ad2903e3.e61518",
        "type": "link out",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "links": [
            "7fcb1885.dc3b9",
            "4041ec09.943164"
        ],
        "x": 855,
        "y": 440,
        "wires": []
    },
    {
        "id": "4041ec09.943164",
        "type": "link in",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "links": [
            "98f155c3.6cdc3",
            "ad2903e3.e61518"
        ],
        "x": 1115,
        "y": 560,
        "wires": [
            []
        ]
    },
    {
        "id": "c6ddb48d.93f528",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "today",
        "func": "function today(){\n    var currDate = new Date();\n    var ret = currDate.toISOString();\n    return ret;\n}\n\nmsg.workDate = today();\nmsg.payload = msg.workDate;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1710,
        "y": 360,
        "wires": [
            [
                "37cdd193.ea6556"
            ]
        ]
    },
    {
        "id": "d0510130.08d248",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1540,
        "y": 360,
        "wires": [
            [
                "c6ddb48d.93f528"
            ]
        ]
    },
    {
        "id": "37cdd193.ea6556",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1870,
        "y": 360,
        "wires": []
    },
    {
        "id": "7905414f.0a8358",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "localTZDates",
        "func": "function localTZDates(zdate){\n    // 2021-03-31T10:46:48.841Z\n    var tzShift = -2;\n    var ldate=new Date(zdate.getTime() - (60000*(zdate.getTimezoneOffset()+tzShift)));\n    var ldateTime = ldate.toISOString().replace('Z', '');\n    \n    var ldate = ldateTime.substring(8,10)+'.'+\n              ldateTime.substring(5,7)+'.'+\n              ldateTime.substring(0,4)\n              \n    var ltime = ldateTime.substring(11,13)+':'+\n              ldateTime.substring(14,16)+':'+\n              ldateTime.substring(17)\n              \n    return {\n        zeroDateTime: zdate.toISOString(),\n        localDate: ldate,\n        localTime: ltime,\n        localISODateTime: ldateTime,\n        localTZDateTime:  ldate+\"T\"+ltime\n    };\n}\n\nvar dt = new Date();\nmsg.payload = {\n    zdate : dt.toISOString(),\n    ldate : localTZDates(dt)\n};\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1530,
        "y": 400,
        "wires": [
            []
        ]
    },
    {
        "id": "354f0860.40c778",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "SQL new",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "--select * from  dbo.UGB_MONOBANK(Date_Amount TDate)\ndeclare @Date_amount DAteTime\n\nset @Date_amount=(select m.Date_Amount from dbo.UGB_MONOBANK m)\n\ncreate table #rez(amountid int)\ninsert into #rez(amountid)\nselect distinct\nb.DebitId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.DebitId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\nunion all\nselect distinct\nb.CreditId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.CreditId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\n\nSELECT '1' AS bankAccountId\n     , '320478' AS bankCode\n     , '1' AS dic\n     , '1' AS ean\n     , c.StateCode AS edrpou\n     , '0' AS eic\n     , a.iban AS iban\n     , '1' AS ic\n     , c.name AS name\n     , '1' AS particId\n     , IIF(a.CurrencyTag = '', 'UAH', a.CurrencyTag) AS currency\n     , 'limit' AS type\n     , LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) AS value\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(select r.amountid from #rez r)\nORDER BY a.Id\n\n\nIf isnull((select count(1) from #rez),0)<>0\nbegin\ninsert into dbo.UGB_ENERGORINOK(Daydate,Created,IBAN,Name,Confirmed)\nselect\ndatediff(day,0,getdate()),\ngetdate(),\na.iban,\na.ShortName,\na.Confirmed\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(select r.amountid from #rez r)\nORDER BY a.Id\n\n\nend\n\nupdate m\nset m.Date_Amount=getdate()\nfrom dbo.UGB_MONOBANK m\n\ndrop table #rez\n",
        "output": "str",
        "x": 2160,
        "y": 80,
        "wires": [
            []
        ],
        "info": "--select * from  dbo.UGB_MONOBANK(Date_Amount TDate)\ndeclare @Date_amount DAteTime\n\nset @Date_amount=(select m.Date_Amount from dbo.UGB_MONOBANK m)\n\ncreate table #rez(amountid int)\ninsert into #rez(amountid)\nselect distinct\nb.DebitId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.DebitId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\nunion all\nselect distinct\nb.CreditId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.CreditId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\n\nSELECT '1' AS bankAccountId\n     , '320478' AS bankCode\n     , '1' AS dic\n     , '1' AS ean\n     , c.StateCode AS edrpou\n     , '0' AS eic\n     , a.iban AS iban\n     , '1' AS ic\n     , c.name AS name\n     , '1' AS particId\n     , IIF(a.CurrencyTag = '', 'UAH', a.CurrencyTag) AS currency\n     , 'limit' AS type\n     , LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) AS value\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(select r.amountid from #rez r)\nORDER BY a.Id\n\n\nupdate m\nset m.Date_Amount=getdate()\nfrom dbo.UGB_MONOBANK m\n\ndrop table #rez\n"
    },
    {
        "id": "528766b9.b181b8",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 1840,
        "wires": [
            [
                "e53b4096.a738"
            ]
        ]
    },
    {
        "id": "e53b4096.a738",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "  ",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "--select * from  dbo.UGB_MONOBANK(Date_Amount TDate)\ndeclare @Date_amount DAteTime\n\nset @Date_amount=(select m.Date_Amount from dbo.UGB_MONOBANK m)\n\ncreate table #rez(amountid int)\ninsert into #rez(amountid)\nselect distinct\nb.DebitId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.DebitId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\nunion all\nselect distinct\nb.CreditId\nfrom bills b with (nolock)\nwhere b.DayDate=datediff(day,0,getdate())\nand b.CreditId in\n\n(\n    SELECT a.id\n    FROM amounts a WITH(NOLOCK)\n    WHERE a.iban IN('UA943204780000026026000003328', 'UA853204780000026025000003330', 'UA423204780000026022000003333', 'UA153204780000026025000003329', 'UA603204780000026021000003334', 'UA783204780000026020000003335', 'UA293204780000026040924894075', 'UA103204780000026008924894147', 'UA883204780000026201131375159', 'UA623204780000026080000179287', 'UA773204780000026207131375153', 'UA703204780000026084751101403', 'UA773204780000026207131375153', 'UA653204780000026033924899485', 'UA313204780000026084751101038','UA363204780000026022000003344')\n    AND a.subcount = 0\n)\nand b.ProcessFlag&3=3\nand b.Changed>=@Date_amount\n\n\nSELECT '1' AS bankAccountId\n     , '320478' AS bankCode\n     , '1' AS dic\n     , '1' AS ean\n     , c.StateCode AS edrpou\n     , '0' AS eic\n     , a.iban AS iban\n     , '1' AS ic\n     , c.name AS name\n     , '1' AS particId\n     , IIF(a.CurrencyTag = '', 'UAH', a.CurrencyTag) AS currency\n     , 'limit' AS type\n     , LTRIM(RTRIM(CAST(a.Confirmed AS CHAR))) AS value\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(select r.amountid from #rez r)\nORDER BY a.Id\n\n\nIf isnull((select count(1) from #rez),0)<>0\nbegin\ninsert into dbo.UGB_ENERGORINOK(Daydate,Created,IBAN,Name,Confirmed)\nselect\ndatediff(day,0,getdate()),\ngetdate(),\na.iban,\na.ShortName,\na.Confirmed\nFROM Amounts a WITH(NOLOCK)\n     JOIN clients c WITH(NOLOCK) ON c.id = a.ClientId\nWHERE a.Id IN\n(select r.amountid from #rez r)\nORDER BY a.Id\n\n\nend\n\nupdate m\nset m.Date_Amount=getdate()\nfrom dbo.UGB_MONOBANK m\n\ndrop table #rez\n",
        "output": "str",
        "x": 300,
        "y": 1840,
        "wires": [
            [
                "846ac1af.b98c1"
            ]
        ]
    },
    {
        "id": "b3c879b1.c03d7",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "Save lastRun",
        "func": "var metka ;\n\nmetka = msg.payload[0];\n\nmsg.payload = metka;\n/*\n{\n\"Date_Amount\":\"2021-04-23T15:17:16.010Z\"\n}\n*/\nmsg.lastRun= metka.Date_Amount;\nmsg.lastRun= metka.Date_Amount.toISOString().replace('T', ' ').replace('Z', '');\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 2180,
        "wires": [
            [
                "5aa4400a.ee7cb",
                "4fb7a48.d7c2f5c"
            ]
        ]
    },
    {
        "id": "3e740766.b31558",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": 1,
        "x": 440,
        "y": 2180,
        "wires": [
            [
                "b3c879b1.c03d7",
                "bec5b301.3e0708"
            ]
        ]
    },
    {
        "id": "5aa4400a.ee7cb",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 2180,
        "wires": []
    },
    {
        "id": "bec5b301.3e0708",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 2220,
        "wires": []
    },
    {
        "id": "9f7576d2.e9b59",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Restore lastRun",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE m \nSET m.Date_Amount = '{{{lastRun}}}'\nFROM dbo.UGB_MONOBANK m",
        "output": "str",
        "x": 620,
        "y": 2300,
        "wires": [
            [
                "62cbd4c5.f6c58c",
                "1aca7ed3.5f3981"
            ]
        ]
    },
    {
        "id": "5610684c.bf48c8",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 970,
        "y": 2300,
        "wires": []
    },
    {
        "id": "d64f10ab.48262",
        "type": "inject",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 2460,
        "wires": [
            [
                "893582c2.974e98"
            ]
        ]
    },
    {
        "id": "893582c2.974e98",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Get lastRun",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nfrom dbo.UGB_MONOBANK m",
        "output": "str",
        "x": 290,
        "y": 2460,
        "wires": [
            [
                "47792511.39849c"
            ]
        ]
    },
    {
        "id": "47792511.39849c",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": 1,
        "x": 440,
        "y": 2460,
        "wires": [
            [
                "5eef3dea.ceeb4c"
            ]
        ]
    },
    {
        "id": "5eef3dea.ceeb4c",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "Save lastRun",
        "func": "var metka ;\n\nmetka = msg.payload[0];\n\nmsg.payload = metka;\n/*\n{\n\"Date_Amount\":\"2021-04-23T15:17:16.010Z\"\n}\n*/\nmsg.lastRun= metka.Date_Amount;\nmsg.lastRun= metka.Date_Amount.toISOString().replace('T', ' ').replace('Z', '');\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 610,
        "y": 2460,
        "wires": [
            [
                "8e8e0320.a022a8"
            ]
        ]
    },
    {
        "id": "8e8e0320.a022a8",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 2460,
        "wires": []
    },
    {
        "id": "1aca7ed3.5f3981",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": 1,
        "x": 800,
        "y": 2300,
        "wires": [
            [
                "5610684c.bf48c8"
            ]
        ]
    },
    {
        "id": "62cbd4c5.f6c58c",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 2240,
        "wires": []
    },
    {
        "id": "4fb7a48.d7c2f5c",
        "type": "switch",
        "z": "e72aed43.e4b9b8",
        "name": "ifError",
        "property": "ifError",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 2300,
        "wires": [
            [
                "9f7576d2.e9b59"
            ],
            [
                "8ba1465c.2ec608"
            ]
        ]
    },
    {
        "id": "8ba1465c.2ec608",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 2360,
        "wires": []
    },
    {
        "id": "6724cc3e.1b3614",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Get lastRun",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "SELECT *\nfrom dbo.UGB_MONOBANK m",
        "output": "str",
        "x": 990,
        "y": 60,
        "wires": [
            [
                "ece42e1d.0e659"
            ]
        ]
    },
    {
        "id": "4b94fb25.318c04",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "SC PredProd",
        "query": "",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": 1,
        "x": 1290,
        "y": 60,
        "wires": [
            [
                "ad7f5703.f16d48"
            ]
        ]
    },
    {
        "id": "ad7f5703.f16d48",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "Save lastRun",
        "func": "var metka ;\n\nmetka = msg.payload[0];\n\nmsg.payload = metka;\n/*\n{\n\"Date_Amount\":\"2021-04-23T15:17:16.010Z\"\n}\n*/\nmsg.lastRun= metka.Date_Amount;\nmsg.lastRun= metka.Date_Amount.toISOString().replace('T', ' ').replace('Z', '');\n\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1450,
        "y": 40,
        "wires": [
            [
                "e67e167a.dbc9",
                "a80df87.cf2b508"
            ]
        ]
    },
    {
        "id": "ece42e1d.0e659",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "P/D",
        "func": "if(env.get(\"ENVIRONMENT\") !== undefined) \n    msg.workDir = env.get(\"ENVIRONMENT\").substring(0,3).toUpperCase();\n\nif (msg.workDir == \"PRO\") {\n    return [msg, null];\n} else if (msg.workDir == \"DEV\") {\n    return [null, msg];\n} ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1140,
        "y": 40,
        "wires": [
            [
                "7541244a.a6775c"
            ],
            [
                "4b94fb25.318c04"
            ]
        ]
    },
    {
        "id": "7541244a.a6775c",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "SC Prod",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 1280,
        "y": 20,
        "wires": [
            [
                "ad7f5703.f16d48"
            ]
        ]
    },
    {
        "id": "a80df87.cf2b508",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1570,
        "y": 100,
        "wires": []
    },
    {
        "id": "74b1f071.7fa848",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": ">>>",
        "func": "msg.msql = msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1862,
        "y": 60,
        "wires": [
            [
                "dce1e188.524d98"
            ]
        ]
    },
    {
        "id": "e91b4934.7eba08",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "if OK ?",
        "func": "if(msg.payload.response.reason === undefined) {\n    return [null, msg];\n}\nif(msg.payload.response.reason.result === \"OK\" && \n    msg.payload.response.reason.type === \"S01\"\n) {\n    return [msg, null];\n} else {\n    return [null, msg];\n}\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1190,
        "y": 980,
        "wires": [
            [
                "196dacc0.e61efb"
            ],
            [
                "e8d265d4.304be"
            ]
        ]
    },
    {
        "id": "196dacc0.e61efb",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 1120,
        "wires": []
    },
    {
        "id": "e8d265d4.304be",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "Restore lastRun ... ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1350,
        "y": 1040,
        "wires": [
            [
                "85cde816.32e028"
            ]
        ]
    },
    {
        "id": "5f133a30.77bb44",
        "type": "switch",
        "z": "e72aed43.e4b9b8",
        "name": "? 200",
        "property": "statusCode",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "200",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 750,
        "y": 740,
        "wires": [
            [
                "7a956dc9.d35e5c"
            ],
            [
                "1e0f82c.f1f7d7d"
            ]
        ]
    },
    {
        "id": "1e0f82c.f1f7d7d",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "Restore lastRun ... ",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1350,
        "y": 740,
        "wires": [
            [
                "85cde816.32e028"
            ]
        ]
    },
    {
        "id": "85cde816.32e028",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "Restore lastRun",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "UPDATE m \nSET m.Date_Amount = '{{{lastRun}}}'\nFROM dbo.UGB_MONOBANK m;\n\nUPDATE e SET e.Status = 1 \nFROM UGB_ENERGORINOK e\nWHERE Created = '{{{maxCreated}}}';\n",
        "output": "str",
        "x": 1580,
        "y": 740,
        "wires": [
            [
                "8053d609.7cb428"
            ]
        ]
    },
    {
        "id": "8053d609.7cb428",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "",
        "query": "",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": 1,
        "x": 1760,
        "y": 740,
        "wires": [
            [
                "d39869ac.391248"
            ]
        ]
    },
    {
        "id": "d39869ac.391248",
        "type": "debug",
        "z": "e72aed43.e4b9b8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 740,
        "wires": []
    },
    {
        "id": "33bb8e9e.06016a",
        "type": "template",
        "z": "e72aed43.e4b9b8",
        "name": "max(created)",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "select max(created) as maxcreated\nfrom UGB_ENERGORINOK with(nolock)",
        "output": "str",
        "x": 930,
        "y": 280,
        "wires": [
            [
                "59bb8c60.bdc4e4"
            ]
        ]
    },
    {
        "id": "59bb8c60.bdc4e4",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "P/D",
        "func": "if(env.get(\"ENVIRONMENT\") !== undefined) \n    msg.workDir = env.get(\"ENVIRONMENT\").substring(0,3).toUpperCase();\n\nif (msg.workDir == \"PRO\") {\n    return [msg, null];\n} else if (msg.workDir == \"DEV\") {\n    return [null, msg];\n} ",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1080,
        "y": 280,
        "wires": [
            [
                "96675e10.1d098"
            ],
            [
                "ee9afd9e.a53cf8"
            ]
        ]
    },
    {
        "id": "96675e10.1d098",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "SC Prod",
        "query": "",
        "outField": "payload",
        "returnType": 0,
        "throwErrors": 1,
        "x": 1260,
        "y": 260,
        "wires": [
            [
                "8273fc42.d4377"
            ]
        ]
    },
    {
        "id": "ee9afd9e.a53cf8",
        "type": "MSSQL",
        "z": "e72aed43.e4b9b8",
        "mssqlCN": "ef456f3c.8f442",
        "name": "SC PredProd",
        "query": "",
        "outField": "payload",
        "returnType": "0",
        "throwErrors": 1,
        "x": 1270,
        "y": 300,
        "wires": [
            [
                "8273fc42.d4377"
            ]
        ]
    },
    {
        "id": "8273fc42.d4377",
        "type": "function",
        "z": "e72aed43.e4b9b8",
        "name": "Save lastRun",
        "func": "var metka ;\n\nmetka = msg.payload[0];\n\n\n/*\n{\n\"Date_Amount\":\"2021-04-23T15:17:16.010Z\"\n}\n*/\nmsg.maxCreated= metka.maxcreated;\nmsg.maxCreated= metka.maxcreated.toISOString().replace('T', ' ').replace('Z', '');\n\nmsg.payload = msg.msql;\n\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 1450,
        "y": 280,
        "wires": [
            [
                "e2ed95c5.dd993"
            ]
        ]
    },
    {
        "id": "281c65ac.15c112",
        "type": "tls-config",
        "z": "",
        "name": "No check certificate",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    },
    {
        "id": "e0d54f8c.ab7428",
        "type": "tls-config",
        "z": "",
        "name": "with cert",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true
    },
    {
        "id": "ef456f3c.8f442",
        "type": "MSSQL-CN",
        "z": "",
        "tdsVersion": "7_4",
        "name": "SC PredProd (akha)",
        "server": "10.3.6.2",
        "port": "1433",
        "encyption": true,
        "database": "scrooge",
        "useUTC": true,
        "connectTimeout": "15000",
        "requestTimeout": "15000",
        "cancelTimeout": "5000",
        "pool": "5",
        "parseJSON": false
    }
]