src/bankid/logs/nr-logs-flow.json
[
    {
        "id": "a2029da6.2f6ee",
        "type": "tab",
        "label": "NR Logger",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b1e0145a.bd85b",
        "type": "http in",
        "z": "a2029da6.2f6ee",
        "name": "NR Log",
        "url": "/common/logger/ui/nrlog",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 80,
        "wires": [
            [
                "6b54ecea.0f2554"
            ]
        ],
        "info": "http://localhost:1880/common/logger/ui/nrlog"
    },
    {
        "id": "362f9c84.173804",
        "type": "http response",
        "z": "a2029da6.2f6ee",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 470,
        "y": 80,
        "wires": []
    },
    {
        "id": "6b54ecea.0f2554",
        "type": "template",
        "z": "a2029da6.2f6ee",
        "name": "nrlogs.html",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "plain",
        "template": "<!DOCTYPE html>\n<html>\n\n<head>\n    <title>NR Logger</title>\n    <meta charset=\"utf-8\" />\n    <link href=\"https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900\" rel=\"stylesheet\">\n    <link href=\"https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css\" rel=\"stylesheet\">\n    <link href=\"https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css\" rel=\"stylesheet\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui\">\n\n    <style>\n\n.layout {\n  display: inline-block;\n  width: 100%;\n}\n\n\n        table {\n        width: 100%;\n        border: 1px solid #000;\n        }\n\n        #result table {\n            width: 100%;\n        }\n\n        #result table thead tr th {\n            font-size: +18px;\n            background: text--primary;\n        }\n\n        #documents table thead tr th:nth-child(1) {\n            font-size: +24px;\n            background: green;\n        }\n\n        #documents table thead tr th:nth-child(2) {\n            background: red;\n        }\n    </style>\n\n</head>\n\n<body>\n    <div id=\"app\">\n        <template>\n            <v-app>\n                <v-main>\n                    <v-container class=\"fill-height\" fluid>\n\n                        <v-row align=\"start\" justify=\"center\">\n                            <v-col cols=\"12\" sm=\"12\" md=\"10\">\n                                <v-form ref=\"client\">\n                                    <v-toolbar color=\"primary\" dark flat>\n                                        <v-toolbar-title>NR Loqs query</v-toolbar-title>\n                                        <v-spacer></v-spacer>\n                                        <v-tooltip bottom>\n                                            <template v-slot:activator=\"{ on }\">\n                                                <v-btn icon large target=\"_blank\" v-on=\"on\">\n                                                    <v-icon>mdi-code-tags</v-icon>\n                                                </v-btn>\n                                            </template>\n                                            <span>Справка</span>\n                                        </v-tooltip>\n                                    </v-toolbar>\n                                    <v-row>\n                                        <v-col cols=\"12\" sm=\"4\">\n                                            <h3 class=\"red--text\">Prepare SQL</h3>\n                                        </v-col>\n                                    </v-row>\n                                    <v-row>\n                                        <v-col cols=\"12\" sm=\"4\">\n                                            <v-select v-model=\"from.level\" \n                                            :items=\"dict.level\" label=\"Level\" required>\n                                            </v-select>\n                                        </v-col>\n                                        <v-col cols=\"12\" sm=\"8\">\n                                            <v-select v-model=\"from.source\" \n                                            :items=\"dict.sources\" label=\"Sources\" required>\n                                            </v-select>\n                                        </v-col>\n                                    </v-row>\n                                    <v-row>\n                                        <v-col cols=\"12\" sm=\"4\">\n                                            <v-text-field v-model=\"from.source\" :counter=\"50\" label=\"Source\"\n                                                required>\n                                            </v-text-field>\n                                        </v-col>\n                                        <v-col cols=\"12\" sm=\"8\">\n                                            <v-text-field v-model=\"from.search\" :counter=\"50\" label=\"Search\"\n                                                required>\n                                            </v-text-field>\n                                        </v-col>\n                                    </v-row>\n\n                                    <v-row>\n                                        <v-col cols=\"12\" sm=\"12\" md=\"12\">\n                                            <v-textarea v-model=\"sql.template\" auto-grow\n                                            rows=\"1\" label=\"Template\">\n                                            </v-textarea>\n                                        </v-col>\n                                    </v-row>\n\n                                    <v-row>\n                                        <v-col cols=\"12\" sm=\"12\" md=\"12\">\n                                            <v-textarea v-model=\"sql.query\" auto-grow\n                                            rows=\"1\" label=\"Query\">\n                                            </v-textarea>\n                                        </v-col>\n                                    </v-row>\n\n                                    <v-row>\n                                        <v-col cols=\"12\" sm=\"12\">\n                                            <v-btn block color=\"primary\" v-on:click=\"onButtonExecuteSQL\">Execute Query</v-btn>\n                                        </v-col>\n                                    </v-row>\n\n\n                                    <v-row>\n                                        <v-col cols=\"12\" sm=\"4\">\n                                            <h3 class=\"red--text\">Result SQL</h3>\n                                        </v-col>\n                                    </v-row>\n\n\n                                    <v-row align=\"start\" justify=\"center\">\n                                        <v-col cols=\"12\" sm=\"12\" md=\"12\">\n                                            <v-simple-table id=\"result\">\n                                                <template v-slot:default>\n                                                    <thead>\n                                                        <tr>\n                                                            <th class=\"text-center\">\n                                                                id\n                                                            </th>\n                                                            <th class=\"text-center\">\n                                                                date\n                                                            </th>\n                                                            <th class=\"text-center\">\n                                                                level\n                                                            </th>\n                                                            <th class=\"text-center\">\n                                                                source\n                                                            </th>\n                                                            <th class=\"text-center\">\n                                                                message\n                                                            </th>\n                                                            <th class=\"text-center\">\n                                                                copy\n                                                            </th>\n                                                        </tr>\n                                                    </thead>\n                                                    <tbody>\n                                                        <tr v-for=\"item in result\" :key=\"item.id\">\n                                                            <td>{{ item.id }}</td>\n                                                            <td>{{ item.date }}</td>\n                                                            <td>{{ item.level }}</td>\n                                                            <td>{{ item.source }}</td>\n                                                            <td>\n                                                                <v-tooltip top>\n                                                                <template v-slot:activator=\"{ on, attrs }\">\n                                                                <div v-bind=\"attrs\" v-on=\"on\" style=\"height:80px; overflow:hidden\">{{ prepare_message(item.message, 0) }}</div>\n                                                                </template>\n                                                                <span>{{ prepare_message(item.message, 1) }}</span>\n                                                                </v-tooltip>\n                                                            </td>\n                                                            <td>\n                                                                <v-btn class=\"mx-2\" @click=\"onButtonCopyClick(item)\"\n                                                                    fab dark small color=\"pink\">\n                                                                    <v-icon dark>mdi-content-copy</v-icon>\n                                                                </v-btn>\n                                                            </td>\n                                                        </tr>\n                                                    </tbody>\n                                                </template>\n                                            </v-simple-table>\n                                        </v-col>\n                                    </v-row>\n\n\n\n                                </v-form>\n                            </v-col>\n                        </v-row>\n\n                        \n\n                    </v-container>\n                </v-main>\n            </v-app>\n        </template>\n    </div>\n    <script src=\"https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js\"></script>\n    <script src=\"https://unpkg.com/mustache@latest\"></script>\n\n    <script>\n\n        new Vue({\n            el: '#app',\n\n            vuetify: new Vuetify({\n                theme: {\n                    disable: false,\n                    dark: true,\n                    //themes: { dark },\n                },\n            }\n            ),\n\n            created() {\n              \n            },\n\n            methods: {\n\n                prepare_message: function(message, mode) {\n                    var ret = message;\n                    if( (message.startsWith('{') && message.endsWith('}')) ||\n                        (message.startsWith('[') && message.endsWith(']'))\n                    ){    \n                        if(mode === 0)                    \n                            ret = JSON.stringify(JSON.parse(message), null, 2);\n                        else\n                            ret = message.replaceAll('\":', '\": ');\n                    }\n                    return ret;\n                },\n\n                onButtonExecuteSQL: async function (item) {\n                    var view = this.from;\n                    var sql = Mustache.render(this.sql.template, view);\n                    this.sql.query = sql;\n                    this.result = this.result_test;\n\n                    await this.exequteRequest();\n\n                },\n                \n                onButtonCopyClick: async function (item) {\n                    //alert(item.message);\n                    await navigator.clipboard.writeText(item.message);\n                },\n                exequteRequest: async function() {\n\n                    var headers = {\n                    \"accept\": \"application/json\", \"Content-Type\": \"application/json\", \n                    \"x-auth-token\": \"PTzQlEIYZVslkOyzKh41cJCfJCSuhJJ8\",\n                    \"x-post-geturl\": \"https://nr-clients.dev.ukrgasaws.com/\",\n                    \"x-post-pathto\": \"common/logger/syslog/\", \"x-post-method\": \"select\"\n                    };\n                    var realUrl = \"https://nr-gateway.dev.ukrgasaws.com/9118aabf34299ead9f57921edb7c8209/\";\n//alert(\"exequteRequest\");\n                    var result = {};\n                    let base64data = btoa(this.sql.query);\n//alert(base64data);\n                    var request = {\n                        data: base64data\n                    };\n\n                    const requestOptions = {\n                    method: \"POST\",\n                    headers: headers,\n                    body: JSON.stringify(request)\n                    };\n\n                    await fetch(realUrl, requestOptions)\n                    .then(async response => {\n                        const bdata = await response.text();\n\n//alert(bdata);\n                        result = decodeURIComponent(escape(atob(bdata)));\n//console.log(result);\n//alert(result);\n                        const data = JSON.parse(result);\n\n                        this.result = data.data;\n\n                        if (!response.ok) {\n                        // get error message from body or default to response statusText\n                        const error = (data && data.message) || response.statusText;\n                        this.error = error;\n                        alert('E1 exequteRequest ' + JSON.stringify(response, null, ' ') + ' ');\n                        return Promise.reject(error);\n                        }\n                    })\n                    .catch(error => {\n                        //alert('E2 loadAddressByCityStreet [' + JSON.stringify(error) + '] ');\n                        this.error = error;\n                        alert(\"E2 exequteRequest\" + error);\n                    });\n\n                    return result;\n                    }\n                \n            },\n\n            computed: {\n                \n            },\n\n            data() {\n                return {\n                    result : [],\n                    result_test : [\n                                { \n                                    \"id\": 2086656,\n                                    \"date\": \"2020-12-04 12:18:09.349094\",\n                                    \"level\":\t\"DEBUG\",\t\n                                    \"source\": \"(PRO) Transgen XML\",\n                                    \"message\":\t'<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><RegisterOperation xmlns=\"http://www.ukrgasbank.com\"><TransferId>45982680</TransferId><TransferNumber>12858889329</TransferNumber><SystemCode>ri</SystemCode><SystemName>RIA</SystemName><Operation>2</Operation><Type>1</Type><OperationDate>2020-12-04T12:18:11+02:00</OperationDate><PayoutDate>2020-12-04T12:17:54+02:00</PayoutDate><OperationCashDesk>0</OperationCashDesk><ABSDate>2020-12-04T00:00:00+02:00</ABSDate><TransferAmount>850.0000</TransferAmount><FromCountry>380</FromCountry><ToCountry>804</ToCountry><TransferСurrency>978</TransferСurrency><PointBank>1000466</PointBank><PointSW>GASB0390</PointSW><UserLogin>vpolikarpova</UserLogin><UserName>Полікарпова Вікторія Михайлівна</UserName><UserID>14243</UserID><Sender><LastName>DIACHENKO</LastName><FirstName>NINA</FirstName><Residency>false</Residency><DocumentName>PASSAPORTO</DocumentName><DocumentSeries>EX</DocumentSeries><DocumentNumber>002214</DocumentNumber><DocumentIssuedBy>GOVERNO</DocumentIssuedBy></Sender><Receiver><LastName>DIACHENKO</LastName><FirstName>IRINA</FirstName><Residency>true</Residency><DocumentName>PASSPORT</DocumentName><DocumentSeries>EB</DocumentSeries><DocumentNumber>165849</DocumentNumber><DocumentIssueDate>2007-06-15</DocumentIssueDate><DocumentIssuedBy>ZNAMYANS?KYM MRV UMVS UKRAYINY V KIROV OBL</DocumentIssuedBy><DateofBirth>1982-11-03</DateofBirth></Receiver></RegisterOperation></soap:Body></soap:Envelope>'\n                                },\n                                {\n                                    \"id\": 2086621,\t\n                                    \"date\": \"2020-12-04 12:15:28.173372\",\t\n                                    \"level\": \"DEBUG\",\t\n                                    \"source\": \"(PRO) Transgen XML\",\t\n                                    \"message\": '<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><RegisterOperation xmlns=\"http://www.ukrgasbank.com\"><TransferId>45982680</TransferId><TransferNumber>12858889329</TransferNumber><SystemCode>ri</SystemCode><SystemName>RIA</SystemName><Operation>2</Operation><Type>1</Type><OperationDate>2020-12-04T12:15:30+02:00</OperationDate><PayoutDate>2020-12-04T12:14:25+02:00</PayoutDate><OperationCashDesk>0</OperationCashDesk><ABSDate>2020-12-04T00:00:00+02:00</ABSDate><TransferAmount>850.0000</TransferAmount><FromCountry>380</FromCountry><ToCountry>804</ToCountry><TransferСurrency>978</TransferСurrency><PointBank>1000466</PointBank><PointSW>GASB0390</PointSW><UserLogin>vpolikarpova</UserLogin><UserName>Полікарпова Вікторія Михайлівна</UserName><UserID>14243</UserID><Sender><LastName>DIACHENKO</LastName><FirstName>NINA</FirstName><Residency>false</Residency><DocumentName>PASSAPORTO</DocumentName><DocumentSeries>EX</DocumentSeries><DocumentNumber>002214</DocumentNumber><DocumentIssuedBy>GOVERNO</DocumentIssuedBy></Sender><Receiver><LastName>DIACHENKO</LastName><FirstName>IRINA</FirstName><Residency>true</Residency><DocumentName>PASSPORT</DocumentName><DocumentSeries>EB</DocumentSeries><DocumentNumber>165849</DocumentNumber><DocumentIssueDate>2007-06-15</DocumentIssueDate><DocumentIssuedBy>ZNAMYANS?KYM MRV UMVS UKRAYINY V KIROV OBL</DocumentIssuedBy><DateofBirth>1982-11-03</DateofBirth></Receiver></RegisterOperation></soap:Body></soap:Envelope>'\t\n                                }\n                            ],\n                    from: {                    \n                        source : \"Transgen XML\",\n                        search: \"12858889329\",\n                        level: \"DEBUG\"\n                    },\n                    sql: {\n                        query: \"\",\n                        template: \"SELECT id, date, level, source, message FROM public.nrlogs WHERE 1=1 AND level = '{{level}}' AND source like '%{{source}}%' AND message like '%{{search}}%' ORDER BY ID DESC LIMIT 100;\"\n                    },\n                   \n                    dict: {\n\n                        level: [\n                            \"DEBUG\",\n                            \"ERROR\"\n                        ],\n                        sex: [\n                            { value: \"M\", text: \"Чоловічий\" },\n                            { value: \"F\", text: \"Жіночий\" },\n                        ],\n                        sources: [\n                            \"Transgen XML\",\n                            \"Card Status\",\n                            \"depo\"\n                        ],                       \n\n                    }\n                }\n            },\n        })\n        /*\n        function utf8_to_b64( str ) {\n            return window.btoa(unescape(encodeURIComponent( str )));\n        }\n\n        function b64_to_utf8( str ) {\n            return decodeURIComponent(escape(window.atob( str )));\n        }        \n        */\n    </script>\n\n</body>\n\n</html>\n\n",
        "output": "str",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "362f9c84.173804"
            ]
        ]
    }
]