src/bankid/flows-BankId.json
[
    {
        "id": "6c70e68d.ef377",
        "type": "tab",
        "label": "BankId",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e15a7c56.e58d1",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "data",
        "field": "in",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"client\": {\n    \"StateCode\": \"2238914440\",\n    \"Residency\": \"1\",\n    \"Name\": \"Кетцалькоатль Кукумац Кукулькан\"\n  },\n  \"indiv\": {\n    \"LastName\": \"Кетцалькоатль\",\n    \"FirstName\": \"Кукумац\",\n    \"FatherName\": \"Кукулькан\",\n    \"BirthDay\": \"1991-08-28T00:00:00\",\n    \"GENDER\": \"1\",\n    \"MarriageStatus\": \"6\"\n  },\n  \"ident\": [\n    {\n      \"TypeId\": \"4\",\n      \"Series\": \"СН\",\n      \"Number\": \"432311\",\n      \"Registrator\": \"Святошинське РУ ГУ МВС у м.Києві\",\n      \"IssueDate\": \"1997-10-01T00:00:00\",\n      \"ExpirationDate\": \"2099-01-01T00:00:00\",\n      \"CountryCode\": \"UA\"\n    },\n    {\n      \"TypeId\": \"55\",\n      \"Series\": \"\",\n      \"Number\": \"3425654326\",\n      \"Registrator\": \"1456\",\n      \"IssueDate\": \"2020-10-01T00:00:00\",\n      \"ExpirationDate\": \"2040-10-01T00:00:00\",\n      \"CountryCode\": \"UA\"\n    }\n  ],\n  \"addr\": [\n    {\n      \"TypeCode\": \"2\",\n      \"Country\": \"UA\",\n      \"State\": \"Київська\",\n      \"Region\": \"Київ\",\n      \"Town\": \"м. Київ\",\n      \"Street\": \"вул. Бородинского побоища\",\n      \"HouseNumber\": \"21\",\n      \"FlatNumber\": \"16\"\n    },\n    {\n      \"TypeCode\": \"1\",\n      \"Country\": \"UA\",\n      \"State\": \"Київська\",\n      \"Region\": \"Київ\",\n      \"Town\": \"м. Чичен-Ица\",\n      \"Street\": \"вул. пирамида Кукулькана.\",\n      \"HouseNumber\": \"1\",\n      \"FlatNumber\": \"1\"\n    }\n  ],\n  \"comm\": [\n    {\n      \"Value\": \"380631003256\",\n      \"TypeId\": \"3\"\n    },\n    {\n      \"Value\": \"sava@mail.dot.com\",\n      \"TypeId\": \"5\"\n    },\n    {\n      \"Value\": \"www.www.net\",\n      \"TypeId\": \"6\"\n    }\n  ],\n  \"props\": [\n    {\n      \"Refs\": \"\",\n      \"Code\": \"FATF_COUNTRY_CITIZEN\",\n      \"Dict\": \"KL_K040.DBF\",\n      \"Value\": \"804\"\n    },\n    {\n      \"Refs\": \"\",\n      \"Code\": \"BIRTH_COUNTRY\",\n      \"Dict\": \"KL_K040.DBF\",\n      \"Value\": \"804\"\n    },\n    {\n      \"Refs\": \"\",\n      \"Code\": \"BIRTH_PLACE\",\n      \"Dict\": \"\",\n      \"Value\": \"Бердичув\"\n    },\n    {\n      \"Refs\": \"\",\n      \"Code\": \"PROFIT_WAY\",\n      \"Dict\": \"PROFIT_WAY\",\n      \"Value\": \"2\"\n    }\n  ]\n}",
        "output": "json",
        "x": 670,
        "y": 40,
        "wires": [
            [
                "2ddee97a.fe1766"
            ]
        ]
    },
    {
        "id": "c121a667.aebe28",
        "type": "inject",
        "z": "6c70e68d.ef377",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b0a1fd17.70a908"
            ]
        ]
    },
    {
        "id": "7e4f62f2.5d22e4",
        "type": "split",
        "z": "6c70e68d.ef377",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "ef82848e.659c58"
            ]
        ]
    },
    {
        "id": "7c0ebf83.deb85",
        "type": "join",
        "z": "6c70e68d.ef377",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "9ec48607.902c68"
            ]
        ]
    },
    {
        "id": "a68a72e9.06f5d",
        "type": "debug",
        "z": "6c70e68d.ef377",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "ef82848e.659c58",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Properties Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "                <tem:TProperties>\n                  <tem:Code>{{payload.Code}}</tem:Code>\n                  <tem:Value>{{payload.Value}}</tem:Value>\n                </tem:TProperties>",
        "output": "str",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "7c0ebf83.deb85"
            ]
        ]
    },
    {
        "id": "34ee0aff.edcade",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Properties Top",
        "field": "xml.in.prop_top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            <tem:Properties>",
        "output": "str",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "31d51288.ee3a36"
            ]
        ]
    },
    {
        "id": "31d51288.ee3a36",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Properties Bot",
        "field": "xml.in.prop_bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n            </tem:Properties>",
        "output": "str",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "efc6719.0cf139"
            ]
        ]
    },
    {
        "id": "b0a1fd17.70a908",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Init",
        "func": "msg.xml = {};\nmsg.xml.in = {};\nmsg.xml.out = {};\nmsg.xml.out.prop_man = \"\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "a1d93306.6dc828"
            ]
        ]
    },
    {
        "id": "efc6719.0cf139",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Properties XML",
        "field": "xml.out.Properties",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.prop_top}}}\n{{{xml.out.prop_man}}}\n{{{xml.in.prop_bot}}}",
        "output": "str",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "b5b8c88b.a9b418"
            ]
        ]
    },
    {
        "id": "3f578485.4b15f4",
        "type": "xmlc14n",
        "z": "6c70e68d.ef377",
        "name": "",
        "x": 900,
        "y": 340,
        "wires": [
            [
                "a68a72e9.06f5d",
                "164d0dc9.d20b82"
            ]
        ]
    },
    {
        "id": "77b08b8c.6f67ac",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Create Client XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.top}}}\n{{{xml.out.Client}}}\n{{{xml.out.Individuals}}}\n{{{xml.out.Identificatons}}}\n{{{xml.out.Addresses}}}\n{{{xml.out.Communications}}}\n{{{xml.out.Properties}}}\n{{{xml.in.bot}}}",
        "output": "str",
        "x": 930,
        "y": 420,
        "wires": [
            [
                "3f578485.4b15f4"
            ]
        ]
    },
    {
        "id": "164d0dc9.d20b82",
        "type": "file",
        "z": "6c70e68d.ef377",
        "name": "client-create-bankid-NR.xml",
        "filename": "/home/devel/works/node/src/ugb-vuejs-meest/src/bankid/client-create-bankid-NR.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 960,
        "y": 380,
        "wires": [
            [
                "79cd0bb1.18afec"
            ]
        ]
    },
    {
        "id": "79cd0bb1.18afec",
        "type": "debug",
        "z": "6c70e68d.ef377",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "9ec48607.902c68",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Properties Xml",
        "func": "var data = msg.payload;\nvar out = \"\";\nfor(var x of data ){\n    out += x;    \n}\nmsg.xml.out.prop_man = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "34ee0aff.edcade"
            ]
        ]
    },
    {
        "id": "a1d93306.6dc828",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "XML Top",
        "field": "xml.in.top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n   <soapenv:Header>\n      <tem:AuthSoapHeader>\n        <tem:Login>istest</tem:Login>\n         <tem:Password>gfhjk</tem:Password>\n      </tem:AuthSoapHeader>\n   </soapenv:Header>\n   \n   <soapenv:Body>\n      <tem:CreateClientFL>\n         <tem:client>\n            <tem:Request>\n               <tem:RequestId>12547</tem:RequestId>\n               <tem:UserLogin>UKRGAS\\appmb</tem:UserLogin>\n            </tem:Request>\n            <!--tem:ClientId>1747753</tem:ClientId-->\n            <tem:SendToScrooge>1</tem:SendToScrooge>",
        "output": "str",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "ae44182.657c368"
            ]
        ]
    },
    {
        "id": "ae44182.657c368",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "XML Bot",
        "field": "xml.in.bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "         \n         </tem:client>\n      </tem:CreateClientFL>\n   </soapenv:Body>\n</soapenv:Envelope>",
        "output": "str",
        "x": 520,
        "y": 40,
        "wires": [
            [
                "e15a7c56.e58d1"
            ]
        ]
    },
    {
        "id": "ac59637c.9c7e78",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "props data",
        "func": "msg.payload = msg.in.props;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "7e4f62f2.5d22e4"
            ]
        ]
    },
    {
        "id": "b75cdf.b01bb32",
        "type": "split",
        "z": "6c70e68d.ef377",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "93835afc.a4ef7"
            ]
        ]
    },
    {
        "id": "e3465acf.c972f",
        "type": "join",
        "z": "6c70e68d.ef377",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "b8f7c210.48fb2"
            ]
        ]
    },
    {
        "id": "93835afc.a4ef7",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Address Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "               \n               <tem:TAddresses>\n                  <tem:TypeId>{{payload.TypeCode}}</tem:TypeId>\n                  <tem:TypeCode>{{payload.TypeCode}}</tem:TypeCode>\n                  <tem:Country>804</tem:Country>\n                  <!--tem:PostalCode>14017</tem:PostalCode-->\n                  <tem:State>{{payload.State}}</tem:State>\n                  <tem:Region/>\n                  <tem:TownshipType>3508</tem:TownshipType>\n                  <tem:Town>{{payload.Town}}</tem:Town>\n                  <tem:StreetType>3510</tem:StreetType>\n                  <tem:Street>{{payload.Street}}</tem:Street>\n                  <tem:HouseType>3511</tem:HouseType>\n                  <tem:HouseNumber>{{payload.HouseNumber}}</tem:HouseNumber>\n                  <tem:FlatType>3506</tem:FlatType>\n                  <tem:FlatNumber>{{payload.FlatNumber}}</tem:FlatNumber>\n                  <tem:LandlinePhoneNumber/>\n                  <tem:PropertyStatus/>\n                  <tem:Status>1</tem:Status>\n               </tem:TAddresses>",
        "output": "str",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "e3465acf.c972f"
            ]
        ]
    },
    {
        "id": "f7f73dd3.6e8148",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Addresses Top",
        "field": "xml.in.addr_top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            <tem:Addresses>",
        "output": "str",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "e2993732.b1cc9"
            ]
        ]
    },
    {
        "id": "e2993732.b1cc9",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Addresses Bot",
        "field": "xml.in.addr_bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            </tem:Addresses>",
        "output": "str",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "f7927ad3.87373"
            ]
        ]
    },
    {
        "id": "f7927ad3.87373",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Addresses XML",
        "field": "xml.out.Addresses",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.addr_top}}}\n{{{xml.out.addr_man}}}\n{{{xml.in.addr_bot}}}",
        "output": "str",
        "x": 700,
        "y": 400,
        "wires": [
            [
                "a141bc2b.f21be8"
            ]
        ]
    },
    {
        "id": "b8f7c210.48fb2",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Addresses Xml",
        "func": "var data = msg.payload;\nvar out = \"\";\nfor(var x of data ){\n    out += x;    \n}\nmsg.xml.out.addr_man = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "f7f73dd3.6e8148"
            ]
        ]
    },
    {
        "id": "b5b8c88b.a9b418",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "addr data",
        "func": "msg.payload = msg.in.addr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "b75cdf.b01bb32"
            ]
        ]
    },
    {
        "id": "7e4433ae.a4a3fc",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Client Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n            <tem:Clients>\n               <tem:StateCode>{{payload.StateCode}}</tem:StateCode>\n               <tem:Residency>{{payload.Residency}}</tem:Residency>\n               <tem:Name>{{payload.Name}}</tem:Name>               \n               <tem:Type>1</tem:Type>\n               <tem:SubType>0</tem:SubType>\n               <tem:isTechFlag>0</tem:isTechFlag>\n               <tem:IsOut>0</tem:IsOut>\n               <tem:IsPotential>0</tem:IsPotential>\n               <tem:IsPartner>false</tem:IsPartner>\n               <tem:Status>1</tem:Status>\n            </tem:Clients>",
        "output": "str",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "5753359d.2eb92c"
            ]
        ]
    },
    {
        "id": "891cb5c7.55d5",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Client XML",
        "field": "xml.out.Client",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.out.client_man}}}",
        "output": "str",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "5e51fcb9.c3097c"
            ]
        ]
    },
    {
        "id": "5753359d.2eb92c",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Client Xml",
        "func": "\nmsg.xml.out.client_man = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "891cb5c7.55d5"
            ]
        ]
    },
    {
        "id": "2ddee97a.fe1766",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "client data",
        "func": "msg.payload = msg.in.client;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "7e4433ae.a4a3fc"
            ]
        ]
    },
    {
        "id": "ec169ba3.61edf8",
        "type": "split",
        "z": "6c70e68d.ef377",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "1e67734d.52aa6d"
            ]
        ]
    },
    {
        "id": "9abda2d4.84264",
        "type": "join",
        "z": "6c70e68d.ef377",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "8d56419f.fdd19"
            ]
        ]
    },
    {
        "id": "1e67734d.52aa6d",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Commun Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "               <tem:TCommunications>\n                  <tem:TypeId>{{payload.TypeId}}</tem:TypeId>\n                  <tem:TypeCode>{{payload.TypeId}}</tem:TypeCode>\n                  <tem:Value>{{payload.Value}}</tem:Value>\n                  <tem:IsMain>true</tem:IsMain>\n                  <tem:IsVerified>true</tem:IsVerified>\n                  <tem:Note/>\n                  <tem:SourceInfo/>\n                  <tem:Status>1</tem:Status>\n               </tem:TCommunications>\n",
        "output": "str",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "9abda2d4.84264"
            ]
        ]
    },
    {
        "id": "12a57622.7f297a",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Commun Top",
        "field": "xml.in.comm_top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n            <tem:Communications>\n",
        "output": "str",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "4d3c331a.6f52ac"
            ]
        ]
    },
    {
        "id": "4d3c331a.6f52ac",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Commun Bot",
        "field": "xml.in.comm_bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            </tem:Communications>",
        "output": "str",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "4c758f3e.449a"
            ]
        ]
    },
    {
        "id": "4c758f3e.449a",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Commun XML",
        "field": "xml.out.Communications",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.comm_top}}}\n{{{xml.out.comm_man}}}\n{{{xml.in.comm_bot}}}",
        "output": "str",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "a23388ed.f7c7d"
            ]
        ]
    },
    {
        "id": "8d56419f.fdd19",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Commun Xml",
        "func": "var data = msg.payload;\nvar out = \"\";\nfor(var x of data ){\n    out += x;    \n}\nmsg.xml.out.comm_man = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "12a57622.7f297a"
            ]
        ]
    },
    {
        "id": "a141bc2b.f21be8",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "comm data",
        "func": "msg.payload = msg.in.comm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "ec169ba3.61edf8"
            ]
        ]
    },
    {
        "id": "af258165.f3f188",
        "type": "split",
        "z": "6c70e68d.ef377",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "2993e0f9.3d5238"
            ]
        ]
    },
    {
        "id": "2203eca2.734f84",
        "type": "join",
        "z": "6c70e68d.ef377",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "887f4811.c7eb3"
            ]
        ]
    },
    {
        "id": "2993e0f9.3d5238",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Ident Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "               <tem:TIdentifications>\n                  <tem:TypeId>{{payload.TypeId}}</tem:TypeId>\n                  <tem:Series>{{payload.Series}}</tem:Series>\n                  <tem:Number>{{payload.Number}}</tem:Number>\n                  <tem:Registrator>{{payload.Registrator}}</tem:Registrator>\n                  <tem:IssueDate>{{payload.IssueDate}}</tem:IssueDate>\n                  <tem:ExpirationDate>{{payload.ExpirationDate}}</tem:ExpirationDate>\n                  <tem:IsMain>false</tem:IsMain>\n                  <tem:Checked>true</tem:Checked>\n                  <tem:Status>1</tem:Status>\n               </tem:TIdentifications>\n",
        "output": "str",
        "x": 440,
        "y": 560,
        "wires": [
            [
                "2203eca2.734f84"
            ]
        ]
    },
    {
        "id": "57211c96.08b89c",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Ident Top",
        "field": "xml.in.ident_top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            <tem:Identifications>",
        "output": "str",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "a914224d.3d8ea"
            ]
        ]
    },
    {
        "id": "a914224d.3d8ea",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Ident Bot",
        "field": "xml.in.ident_bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            </tem:Identifications>",
        "output": "str",
        "x": 500,
        "y": 600,
        "wires": [
            [
                "c7138a40.f57ab"
            ]
        ]
    },
    {
        "id": "c7138a40.f57ab",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Ident XML",
        "field": "xml.out.Identificatons",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.ident_top}}}\n{{{xml.out.ident_man}}}\n{{{xml.in.ident_bot}}}",
        "output": "str",
        "x": 690,
        "y": 600,
        "wires": [
            [
                "77b08b8c.6f67ac"
            ]
        ]
    },
    {
        "id": "887f4811.c7eb3",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Ident Xml",
        "func": "var data = msg.payload;\nvar out = \"\";\nfor(var x of data ){\n    out += x;    \n}\nmsg.xml.out.ident_man = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "57211c96.08b89c"
            ]
        ]
    },
    {
        "id": "a23388ed.f7c7d",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "ident data",
        "func": "msg.payload = msg.in.ident;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "af258165.f3f188"
            ]
        ]
    },
    {
        "id": "7745ad71.ed3214",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Indiv Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            <tem:Individuals>\n               <tem:FirstName>{{payload.FirstName}}</tem:FirstName>\n               <tem:LastName>{{payload.LastName}}</tem:LastName>\n               <tem:FatherName>{{payload.FatherName}}</tem:FatherName>\n               <tem:Gender>{{payload.GENDER}}</tem:Gender>\n               <tem:BirthDay>{{payload.BirthDay}}</tem:BirthDay>\n               <tem:BirthSurname>{{payload.BirthSurname}}</tem:BirthSurname>\n               <tem:MarriageStatus>6</tem:MarriageStatus>\n               <tem:Status>1</tem:Status>\n            </tem:Individuals>",
        "output": "str",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "4c99ce51.b30ef"
            ]
        ]
    },
    {
        "id": "8c0bbcc5.940aa8",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Indiv XML",
        "field": "xml.out.Individuals",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.out.indiv_man}}}",
        "output": "str",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "ac59637c.9c7e78"
            ]
        ]
    },
    {
        "id": "4c99ce51.b30ef",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Indiv Xml",
        "func": "\nmsg.xml.out.indiv_man = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "8c0bbcc5.940aa8"
            ]
        ]
    },
    {
        "id": "5e51fcb9.c3097c",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "indiv data",
        "func": "msg.payload = msg.in.indiv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "7745ad71.ed3214"
            ]
        ]
    }
]