src/bankid/flows-BankId.json
[
    {
        "id": "6c70e68d.ef377",
        "type": "tab",
        "label": "BankId",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e15a7c56.e58d1",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "data",
        "field": "in.data",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n  \"client\": {\n    \"StateCode\": \"3482817778\",\n    \"Residency\": \"1\",\n    \"Name\": \"Кетцалькоатль Кукумац Кукулькан\"\n  },\n  \"indiv\": {\n    \"LastName\": \"Кетцалькоатль\",\n    \"FirstName\": \"Кукумац\",\n    \"FatherName\": \"Кукулькан\",\n    \"BirthDay\": \"1991-08-28T00:00:00\",\n    \"GENDER\": \"1\",\n    \"MarriageStatus\": \"6\"\n  },\n  \"ident\": [\n    {\n      \"TypeId\": \"4\",\n      \"Series\": \"СН\",\n      \"Number\": \"432311\",\n      \"Registrator\": \"Святошинське РУ ГУ МВС у м.Києві\",\n      \"IssueDate\": \"1997-10-01T00:00:00\",\n      \"ExpirationDate\": \"2099-01-01T00:00:00\",\n      \"CountryCode\": \"UA\"\n    },\n    {\n      \"TypeId\": \"55\",\n      \"Series\": \"\",\n      \"Number\": \"3425654326\",\n      \"Registrator\": \"1456\",\n      \"IssueDate\": \"2020-10-01T00:00:00\",\n      \"ExpirationDate\": \"2040-10-01T00:00:00\",\n      \"CountryCode\": \"UA\"\n    }\n  ],\n  \"addr\": [\n    {\n      \"TypeCode\": \"2\",\n      \"Country\": \"UA\",\n      \"State\": \"Київська\",\n      \"Region\": \"Київ\",\n      \"Town\": \"м. Київ\",\n      \"Street\": \"вул. Бородинского побоища\",\n      \"HouseNumber\": \"21\",\n      \"FlatNumber\": \"16\"\n    },\n    {\n      \"TypeCode\": \"1\",\n      \"Country\": \"UA\",\n      \"State\": \"Київська\",\n      \"Region\": \"Київ\",\n      \"Town\": \"м. Чичен-Ица\",\n      \"Street\": \"вул. пирамида Кукулькана.\",\n      \"HouseNumber\": \"1\",\n      \"FlatNumber\": \"1\"\n    }\n  ],\n  \"comm\": [\n    {\n      \"Value\": \"380631003256\",\n      \"TypeId\": \"3\"\n    },\n    {\n      \"Value\": \"sava@mail.dot.com\",\n      \"TypeId\": \"5\"\n    },\n    {\n      \"Value\": \"www.www.net\",\n      \"TypeId\": \"6\"\n    }\n  ],\n  \"props\": [\n    {\n      \"Refs\": \"\",\n      \"Code\": \"FATF_COUNTRY_CITIZEN\",\n      \"Dict\": \"KL_K040.DBF\",\n      \"Value\": \"804\"\n    },\n    {\n      \"Refs\": \"\",\n      \"Code\": \"BIRTH_COUNTRY\",\n      \"Dict\": \"KL_K040.DBF\",\n      \"Value\": \"804\"\n    },\n    {\n      \"Refs\": \"\",\n      \"Code\": \"BIRTH_PLACE\",\n      \"Dict\": \"\",\n      \"Value\": \"Бердичув\"\n    },\n    {\n      \"Refs\": \"\",\n      \"Code\": \"PROFIT_WAY\",\n      \"Dict\": \"PROFIT_WAY\",\n      \"Value\": \"2\"\n    }\n  ]\n}",
        "output": "json",
        "x": 670,
        "y": 40,
        "wires": [
            [
                "2ddee97a.fe1766"
            ]
        ]
    },
    {
        "id": "c121a667.aebe28",
        "type": "inject",
        "z": "6c70e68d.ef377",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 120,
        "y": 40,
        "wires": [
            [
                "b0a1fd17.70a908"
            ]
        ]
    },
    {
        "id": "7e4f62f2.5d22e4",
        "type": "split",
        "z": "6c70e68d.ef377",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 260,
        "wires": [
            [
                "ef82848e.659c58"
            ]
        ]
    },
    {
        "id": "7c0ebf83.deb85",
        "type": "join",
        "z": "6c70e68d.ef377",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 260,
        "wires": [
            [
                "9ec48607.902c68"
            ]
        ]
    },
    {
        "id": "a68a72e9.06f5d",
        "type": "debug",
        "z": "6c70e68d.ef377",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1130,
        "y": 340,
        "wires": []
    },
    {
        "id": "ef82848e.659c58",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Properties Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "                <tem:TProperties>\n                  <tem:Code>{{payload.Code}}</tem:Code>\n                  <tem:Value>{{payload.Value}}</tem:Value>\n                </tem:TProperties>",
        "output": "str",
        "x": 460,
        "y": 260,
        "wires": [
            [
                "7c0ebf83.deb85"
            ]
        ]
    },
    {
        "id": "34ee0aff.edcade",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Properties Top",
        "field": "xml.in.prop_top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            <tem:Properties>",
        "output": "str",
        "x": 340,
        "y": 300,
        "wires": [
            [
                "31d51288.ee3a36"
            ]
        ]
    },
    {
        "id": "31d51288.ee3a36",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Properties Bot",
        "field": "xml.in.prop_bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n            </tem:Properties>",
        "output": "str",
        "x": 520,
        "y": 300,
        "wires": [
            [
                "efc6719.0cf139"
            ]
        ]
    },
    {
        "id": "b0a1fd17.70a908",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Init",
        "func": "msg.xml = {};\nmsg.xml.in = {};\nmsg.xml.out = {};\nmsg.xml.out.prop_man = \"\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 250,
        "y": 40,
        "wires": [
            [
                "a1d93306.6dc828"
            ]
        ]
    },
    {
        "id": "efc6719.0cf139",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Properties XML",
        "field": "xml.out.Properties",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.prop_top}}}\n{{{xml.out.prop_man}}}\n{{{xml.in.prop_bot}}}",
        "output": "str",
        "x": 700,
        "y": 300,
        "wires": [
            [
                "b5b8c88b.a9b418"
            ]
        ]
    },
    {
        "id": "3f578485.4b15f4",
        "type": "xmlc14n",
        "z": "6c70e68d.ef377",
        "name": "",
        "x": 900,
        "y": 340,
        "wires": [
            [
                "a68a72e9.06f5d",
                "164d0dc9.d20b82"
            ]
        ]
    },
    {
        "id": "77b08b8c.6f67ac",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Create Client XML",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.top}}}\n{{{xml.out.Client}}}\n{{{xml.out.Individuals}}}\n{{{xml.out.Identificatons}}}\n{{{xml.out.Addresses}}}\n{{{xml.out.Communications}}}\n{{{xml.out.Properties}}}\n{{{xml.in.bot}}}",
        "output": "str",
        "x": 930,
        "y": 420,
        "wires": [
            [
                "3f578485.4b15f4"
            ]
        ]
    },
    {
        "id": "164d0dc9.d20b82",
        "type": "file",
        "z": "6c70e68d.ef377",
        "name": "client-create-bankid-NR.xml",
        "filename": "/home/devel/works/node/src/ugb-vuejs-meest/src/bankid/client-create-bankid-NR.xml",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 960,
        "y": 380,
        "wires": [
            [
                "79cd0bb1.18afec"
            ]
        ]
    },
    {
        "id": "79cd0bb1.18afec",
        "type": "debug",
        "z": "6c70e68d.ef377",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1170,
        "y": 380,
        "wires": []
    },
    {
        "id": "9ec48607.902c68",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Properties Xml",
        "func": "var data = msg.payload;\nvar out = \"\";\nfor(var x of data ){\n    out += x;    \n}\nmsg.xml.out.prop_man = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 300,
        "wires": [
            [
                "34ee0aff.edcade"
            ]
        ]
    },
    {
        "id": "a1d93306.6dc828",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "XML Top",
        "field": "xml.in.top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<soapenv:Envelope xmlns:soapenv=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:tem=\"http://tempuri.org/\">\n   <soapenv:Header>\n      <tem:AuthSoapHeader>\n        <tem:Login>istest</tem:Login>\n         <tem:Password>gfhjk</tem:Password>\n      </tem:AuthSoapHeader>\n   </soapenv:Header>\n   \n   <soapenv:Body>\n      <tem:CreateClientFL>\n         <tem:client>\n            <tem:Request>\n               <tem:RequestId>12547</tem:RequestId>\n               <tem:UserLogin>UKRGAS\\appmb</tem:UserLogin>\n            </tem:Request>\n            <!--tem:ClientId>1747753</tem:ClientId-->\n            <tem:SendToScrooge>1</tem:SendToScrooge>",
        "output": "str",
        "x": 380,
        "y": 40,
        "wires": [
            [
                "ae44182.657c368"
            ]
        ]
    },
    {
        "id": "ae44182.657c368",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "XML Bot",
        "field": "xml.in.bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "         \n         </tem:client>\n      </tem:CreateClientFL>\n   </soapenv:Body>\n</soapenv:Envelope>",
        "output": "str",
        "x": 520,
        "y": 40,
        "wires": [
            [
                "e15a7c56.e58d1"
            ]
        ]
    },
    {
        "id": "ac59637c.9c7e78",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "props data",
        "func": "msg.payload = msg.in.data.props;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 260,
        "wires": [
            [
                "7e4f62f2.5d22e4"
            ]
        ]
    },
    {
        "id": "b75cdf.b01bb32",
        "type": "split",
        "z": "6c70e68d.ef377",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "93835afc.a4ef7"
            ]
        ]
    },
    {
        "id": "e3465acf.c972f",
        "type": "join",
        "z": "6c70e68d.ef377",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 360,
        "wires": [
            [
                "b8f7c210.48fb2"
            ]
        ]
    },
    {
        "id": "93835afc.a4ef7",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Address Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "               \n               <tem:TAddresses>\n                  <tem:TypeId>{{payload.TypeCode}}</tem:TypeId>\n                  <tem:TypeCode>{{payload.TypeCode}}</tem:TypeCode>\n                  <tem:Country>804</tem:Country>\n                  <!--tem:PostalCode>14017</tem:PostalCode-->\n                  <tem:State>{{payload.State}}</tem:State>\n                  <tem:Region/>\n                  <tem:TownshipType>3508</tem:TownshipType>\n                  <tem:Town>{{payload.Town}}</tem:Town>\n                  <tem:StreetType>3510</tem:StreetType>\n                  <tem:Street>{{payload.Street}}</tem:Street>\n                  <tem:HouseType>3511</tem:HouseType>\n                  <tem:HouseNumber>{{payload.HouseNumber}}</tem:HouseNumber>\n                  <tem:FlatType>3506</tem:FlatType>\n                  <tem:FlatNumber>{{payload.FlatNumber}}</tem:FlatNumber>\n                  <tem:LandlinePhoneNumber/>\n                  <tem:PropertyStatus/>\n                  <tem:Status>1</tem:Status>\n               </tem:TAddresses>",
        "output": "str",
        "x": 450,
        "y": 360,
        "wires": [
            [
                "e3465acf.c972f"
            ]
        ]
    },
    {
        "id": "f7f73dd3.6e8148",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Addresses Top",
        "field": "xml.in.addr_top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            <tem:Addresses>",
        "output": "str",
        "x": 340,
        "y": 400,
        "wires": [
            [
                "e2993732.b1cc9"
            ]
        ]
    },
    {
        "id": "e2993732.b1cc9",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Addresses Bot",
        "field": "xml.in.addr_bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            </tem:Addresses>",
        "output": "str",
        "x": 520,
        "y": 400,
        "wires": [
            [
                "f7927ad3.87373"
            ]
        ]
    },
    {
        "id": "f7927ad3.87373",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Addresses XML",
        "field": "xml.out.Addresses",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.addr_top}}}\n{{{xml.out.addr_man}}}\n{{{xml.in.addr_bot}}}",
        "output": "str",
        "x": 700,
        "y": 400,
        "wires": [
            [
                "a141bc2b.f21be8"
            ]
        ]
    },
    {
        "id": "b8f7c210.48fb2",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Addresses Xml",
        "func": "var data = msg.payload;\nvar out = \"\";\nfor(var x of data ){\n    out += x;    \n}\nmsg.xml.out.addr_man = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 400,
        "wires": [
            [
                "f7f73dd3.6e8148"
            ]
        ]
    },
    {
        "id": "b5b8c88b.a9b418",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "addr data",
        "func": "msg.payload = msg.in.data.addr;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 360,
        "wires": [
            [
                "b75cdf.b01bb32"
            ]
        ]
    },
    {
        "id": "7e4433ae.a4a3fc",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Client Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n            <tem:Clients>\n               <tem:StateCode>{{payload.StateCode}}</tem:StateCode>\n               <tem:Residency>{{payload.Residency}}</tem:Residency>\n               <tem:Name>{{payload.Name}}</tem:Name>               \n               <tem:Type>1</tem:Type>\n               <tem:SubType>0</tem:SubType>\n               <tem:isTechFlag>0</tem:isTechFlag>\n               <tem:IsOut>0</tem:IsOut>\n               <tem:IsPotential>0</tem:IsPotential>\n               <tem:IsPartner>false</tem:IsPartner>\n               <tem:Status>1</tem:Status>\n            </tem:Clients>",
        "output": "str",
        "x": 330,
        "y": 120,
        "wires": [
            [
                "5753359d.2eb92c"
            ]
        ]
    },
    {
        "id": "891cb5c7.55d5",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Client XML",
        "field": "xml.out.Client",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.out.client_man}}}",
        "output": "str",
        "x": 690,
        "y": 120,
        "wires": [
            [
                "5e51fcb9.c3097c"
            ]
        ]
    },
    {
        "id": "5753359d.2eb92c",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Client Xml",
        "func": "\nmsg.xml.out.client_man = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 510,
        "y": 120,
        "wires": [
            [
                "891cb5c7.55d5"
            ]
        ]
    },
    {
        "id": "2ddee97a.fe1766",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "client data",
        "func": "msg.payload = msg.in.data.client;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 120,
        "wires": [
            [
                "7e4433ae.a4a3fc"
            ]
        ]
    },
    {
        "id": "ec169ba3.61edf8",
        "type": "split",
        "z": "6c70e68d.ef377",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 460,
        "wires": [
            [
                "1e67734d.52aa6d"
            ]
        ]
    },
    {
        "id": "9abda2d4.84264",
        "type": "join",
        "z": "6c70e68d.ef377",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "8d56419f.fdd19"
            ]
        ]
    },
    {
        "id": "1e67734d.52aa6d",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Commun Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "               <tem:TCommunications>\n                  <tem:TypeId>{{payload.TypeId}}</tem:TypeId>\n                  <tem:TypeCode>{{payload.TypeId}}</tem:TypeCode>\n                  <tem:Value>{{payload.Value}}</tem:Value>\n                  <tem:IsMain>true</tem:IsMain>\n                  <tem:IsVerified>true</tem:IsVerified>\n                  <tem:Note/>\n                  <tem:SourceInfo/>\n                  <tem:Status>1</tem:Status>\n               </tem:TCommunications>\n",
        "output": "str",
        "x": 460,
        "y": 460,
        "wires": [
            [
                "9abda2d4.84264"
            ]
        ]
    },
    {
        "id": "12a57622.7f297a",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Commun Top",
        "field": "xml.in.comm_top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "\n            <tem:Communications>\n",
        "output": "str",
        "x": 330,
        "y": 500,
        "wires": [
            [
                "4d3c331a.6f52ac"
            ]
        ]
    },
    {
        "id": "4d3c331a.6f52ac",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Commun Bot",
        "field": "xml.in.comm_bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            </tem:Communications>",
        "output": "str",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "4c758f3e.449a"
            ]
        ]
    },
    {
        "id": "4c758f3e.449a",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Commun XML",
        "field": "xml.out.Communications",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.comm_top}}}\n{{{xml.out.comm_man}}}\n{{{xml.in.comm_bot}}}",
        "output": "str",
        "x": 700,
        "y": 500,
        "wires": [
            [
                "a23388ed.f7c7d"
            ]
        ]
    },
    {
        "id": "8d56419f.fdd19",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Commun Xml",
        "func": "var data = msg.payload;\nvar out = \"\";\nfor(var x of data ){\n    out += x;    \n}\nmsg.xml.out.comm_man = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 160,
        "y": 500,
        "wires": [
            [
                "12a57622.7f297a"
            ]
        ]
    },
    {
        "id": "a141bc2b.f21be8",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "comm data",
        "func": "msg.payload = msg.in.data.comm;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 150,
        "y": 460,
        "wires": [
            [
                "ec169ba3.61edf8"
            ]
        ]
    },
    {
        "id": "af258165.f3f188",
        "type": "split",
        "z": "6c70e68d.ef377",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 290,
        "y": 560,
        "wires": [
            [
                "2993e0f9.3d5238"
            ]
        ]
    },
    {
        "id": "2203eca2.734f84",
        "type": "join",
        "z": "6c70e68d.ef377",
        "name": "",
        "mode": "auto",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 560,
        "wires": [
            [
                "887f4811.c7eb3"
            ]
        ]
    },
    {
        "id": "2993e0f9.3d5238",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Ident Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "               <tem:TIdentifications>\n                  <tem:TypeId>{{payload.TypeId}}</tem:TypeId>\n                  <tem:Series>{{payload.Series}}</tem:Series>\n                  <tem:Number>{{payload.Number}}</tem:Number>\n                  <tem:Registrator>{{payload.Registrator}}</tem:Registrator>\n                  <tem:IssueDate>{{payload.IssueDate}}</tem:IssueDate>\n                  <tem:ExpirationDate>{{payload.ExpirationDate}}</tem:ExpirationDate>\n                  <tem:IsMain>false</tem:IsMain>\n                  <tem:Checked>true</tem:Checked>\n                  <tem:Status>1</tem:Status>\n               </tem:TIdentifications>\n",
        "output": "str",
        "x": 440,
        "y": 560,
        "wires": [
            [
                "2203eca2.734f84"
            ]
        ]
    },
    {
        "id": "57211c96.08b89c",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Ident Top",
        "field": "xml.in.ident_top",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            <tem:Identifications>",
        "output": "str",
        "x": 320,
        "y": 600,
        "wires": [
            [
                "a914224d.3d8ea"
            ]
        ]
    },
    {
        "id": "a914224d.3d8ea",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Ident Bot",
        "field": "xml.in.ident_bot",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            </tem:Identifications>",
        "output": "str",
        "x": 500,
        "y": 600,
        "wires": [
            [
                "c7138a40.f57ab"
            ]
        ]
    },
    {
        "id": "c7138a40.f57ab",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Ident XML",
        "field": "xml.out.Identificatons",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.in.ident_top}}}\n{{{xml.out.ident_man}}}\n{{{xml.in.ident_bot}}}",
        "output": "str",
        "x": 690,
        "y": 600,
        "wires": [
            [
                "77b08b8c.6f67ac"
            ]
        ]
    },
    {
        "id": "887f4811.c7eb3",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Ident Xml",
        "func": "var data = msg.payload;\nvar out = \"\";\nfor(var x of data ){\n    out += x;    \n}\nmsg.xml.out.ident_man = out;\nmsg.payload = out;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 600,
        "wires": [
            [
                "57211c96.08b89c"
            ]
        ]
    },
    {
        "id": "a23388ed.f7c7d",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "ident data",
        "func": "msg.payload = msg.in.data.ident;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 560,
        "wires": [
            [
                "af258165.f3f188"
            ]
        ]
    },
    {
        "id": "7745ad71.ed3214",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Indiv Man",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "            \n            <tem:Individuals>\n               <tem:FirstName>{{payload.FirstName}}</tem:FirstName>\n               <tem:LastName>{{payload.LastName}}</tem:LastName>\n               <tem:FatherName>{{payload.FatherName}}</tem:FatherName>\n               <tem:Gender>{{payload.GENDER}}</tem:Gender>\n               <tem:BirthDay>{{payload.BirthDay}}</tem:BirthDay>\n               <tem:BirthSurname>{{payload.BirthSurname}}</tem:BirthSurname>\n               <tem:MarriageStatus>6</tem:MarriageStatus>\n               <tem:Status>1</tem:Status>\n            </tem:Individuals>",
        "output": "str",
        "x": 320,
        "y": 160,
        "wires": [
            [
                "4c99ce51.b30ef"
            ]
        ]
    },
    {
        "id": "8c0bbcc5.940aa8",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "Indiv XML",
        "field": "xml.out.Individuals",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{{xml.out.indiv_man}}}",
        "output": "str",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "ac59637c.9c7e78"
            ]
        ]
    },
    {
        "id": "4c99ce51.b30ef",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Indiv Xml",
        "func": "\nmsg.xml.out.indiv_man = msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 500,
        "y": 160,
        "wires": [
            [
                "8c0bbcc5.940aa8"
            ]
        ]
    },
    {
        "id": "5e51fcb9.c3097c",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "indiv data",
        "func": "msg.payload = msg.in.data.indiv;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 140,
        "y": 160,
        "wires": [
            [
                "7745ad71.ed3214"
            ]
        ]
    },
    {
        "id": "b9388e0f.7de4b8",
        "type": "function",
        "z": "6c70e68d.ef377",
        "name": "Transformator",
        "func": "\nconst MODE_WORK_LOCAL = false;\nconst MODE_TEST = true;\n\nvar bankid_client;// = require('./bankid-cli-1.json');\n// @TODO - добавить ClientNames TNames\nvar bankid_mapping;// = require('./bankid_mapping.json');\nvar bankid_dicts;// = require('./dicts_mapping.json');\nvar client_xml_names;// = require('./client_xml_names.json');\nvar client_xml_data;// = require('./client_xml_data.json');\nvar bankid_transform_web;// = require('./bankid_transform_web.json');\nvar bankid_transform_bid;// = require('./bankid_transform_bid.json');\n\nvar bankid_transform_out = {};\n\n// FUNCTIONS -----------------------------------------------\nfunction get_reftrans(refmaps, idrefcode, idvalue) {\n    var ret = idvalue;\n\n    for (o of refmaps[idrefcode]) {\n        //console.log(' get_reftrans'+ JSON.stringify(o));\n        if (o.ibancode === idvalue) {\n            ret = o.wbid;\n            break;\n        }\n    }\n\n    return ret;\n}\n\nfunction trans_date(date) {\n    var ret = date;\n    // from DD.MM.YYYY\n    // to 1982-05-03T00:00:00\n    if (date.length > 0) {\n        var parts = date.split('.');\n        ret = parts[2] + '-' + parts[1] + '-' + parts[0] + 'T00:00:00';\n    }\n    return ret;\n}\n\nfunction getIPNKey(data) {\n    var aMulti = [-1, 5, 7, 9, 4, 6, 10, 5, 7, 0];\n    var key = data.length;\n    if (data.length == 10) {\n        var sum = 0;\n        for (var i = 0; i < aMulti.length; i++) {\n            var o = data[i] * aMulti[i];\n            sum += o;\n        }\n    }\n    var msum = sum - (Math.trunc(sum / 11) * 11);\n    return msum < 10 ? msum : 0;\n}\n\nfunction excelDateToJSDate(serialDate) {\n    var e0date = new Date(0); // epoch \"zero\" date\n    var offset = e0date.getTimezoneOffset(); // tz offset in min\n    var dateOut = new Date(Math.round((serialDate - 25568) * 86400 * 1000));\n    return dateOut.toJSON();\n}\n\nfunction generateIPN() {\n\n    var requestAmo;\n    var requestSex;\n    var requestDat;\n    var requestKey;\n\n    requestDat = Math.floor(Math.random() * 20000) + 20000;\n    requestAmo = Math.floor(Math.random() * 100) + 100;\n    requestSex = Math.floor(Math.random() * 10 - 1) + 1;\n    requestKey = Math.floor(Math.random() * 10 - 1) + 1;\n    var dataPre = '' + requestDat + requestAmo + requestSex + requestKey;\n    var dataOk = dataPre.substr(0, 9) + getIPNKey(dataPre);\n    return dataOk;\n}\n\nfunction load_xml_templates_files() {\n    if (MODE_WORK_LOCAL !== true) return;\n    const fs = require('fs');\n    client_xml_data.top = fs.readFileSync(client_xml_names.top, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n\n    client_xml_data.client_top = fs.readFileSync(client_xml_names.client_top, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.client_man = fs.readFileSync(client_xml_names.client_man, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.client_bot = fs.readFileSync(client_xml_names.client_bot, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n\n    client_xml_data.indiv_top = fs.readFileSync(client_xml_names.indiv_top, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.indiv_man = fs.readFileSync(client_xml_names.indiv_man, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.indiv_bot = fs.readFileSync(client_xml_names.indiv_bot, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n\n    client_xml_data.props_top = fs.readFileSync(client_xml_names.props_top, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.props_man = fs.readFileSync(client_xml_names.props_man, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.props_bot = fs.readFileSync(client_xml_names.props_bot, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n\n    client_xml_data.ident_top = fs.readFileSync(client_xml_names.ident_top, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.ident_man = fs.readFileSync(client_xml_names.ident_man, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.ident_bot = fs.readFileSync(client_xml_names.ident_bot, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n\n    client_xml_data.addre_top = fs.readFileSync(client_xml_names.addre_top, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.addre_man = fs.readFileSync(client_xml_names.addre_man, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.addre_bot = fs.readFileSync(client_xml_names.addre_bot, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n\n    client_xml_data.commu_top = fs.readFileSync(client_xml_names.commu_top, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.commu_man = fs.readFileSync(client_xml_names.commu_man, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    client_xml_data.commu_bot = fs.readFileSync(client_xml_names.commu_bot, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n\n    client_xml_data.bot = fs.readFileSync(client_xml_names.bot, {\n        encoding: 'utf8',\n        flag: 'r'\n    });\n    return;\n}\n\nfunction create_out_xml() {\n    if (MODE_WORK_LOCAL !== true) return;\n\n    var mustache = require(\"mustache\");\n    var view = {\n        title: \"Joe\",\n        calc: function () {\n            return 2 + 4;\n        }\n    };\n    var output = mustache.render(\"{{title}} spends {{calc}}\", view);\n    console.log(output);\n\n    const fs = require('fs');\n    fs.writeFileSync(\"client-create-bankid-3.json\", JSON.stringify(fill_data, null, 2));\n    // XML CREATE ----------------------------------------------\n    output = client_xml_data.top;\n    output += client_xml_data.client_top;\n    output += mustache.render(client_xml_data.client_man, fill_data.client);\n    output += client_xml_data.client_bot;\n    output += client_xml_data.indiv_top;\n    output += mustache.render(client_xml_data.indiv_man, fill_data.indiv);\n    output += client_xml_data.indiv_bot;\n    // documents\n    output += client_xml_data.ident_top;\n    for (prop of fill_data.ident) {\n        output += mustache.render(client_xml_data.ident_man, prop);\n    }\n    output += client_xml_data.ident_bot;\n    // addresses\n    output += client_xml_data.addre_top;\n    for (prop of fill_data.addr) {\n        output += mustache.render(client_xml_data.addre_man, prop);\n    }\n    output += client_xml_data.addre_bot;\n    // comm\n    output += client_xml_data.commu_top;\n    console.log(fill_data.comm);\n    for (prop of fill_data.comm) {\n        output += mustache.render(client_xml_data.commu_man, prop); //fill_data.comm);\n    }\n    output += client_xml_data.commu_bot;\n    // props\n    output += client_xml_data.props_top;\n    for (prop of fill_data.props) {\n        output += mustache.render(client_xml_data.props_man, prop);\n    }\n    output += client_xml_data.props_bot;\n    output += client_xml_data.bot;\n    console.log(output);\n    fs.writeFileSync(\"client-create-bankid-3.xml\", output);\n    // XML CREATE END-------------------------------------------\n}\nfunction load_requeries_files(){\n    if (MODE_WORK_LOCAL !== true) return;\n    bankid_client = require('./bankid-cli-1.json');\n    // @TODO - добавить ClientNames TNames\n    bankid_mapping = require('./bankid_mapping.json');\n    bankid_dicts = require('./dicts_mapping.json');\n\n    client_xml_names = require('./client_xml_names.json');\n    client_xml_data = require('./client_xml_data.json');\n\n    bankid_transform_web = require('./bankid_transform_web.json');\n    bankid_transform_bid = require('./bankid_transform_bid.json');\n}\n\nfunction load_transform_files(){\n    if (MODE_WORK_LOCAL === true) return;\n    bankid_client = msg.in.bankid_cli;\n    bankid_mapping = msg.transform.bankid_mapping;\n    bankid_dicts = msg.transform.dicts_mapping;\n    client_xml_names = msg.transform.client_xml_names;\n    client_xml_data = msg.transform.client_xml_data;\n    bankid_transform_web = msg.transform.bankid_transform_web;\n    bankid_transform_bid = msg.transform.bankid_transform_bid;\n}\nfunction create_out_nr(){\n    if (MODE_WORK_LOCAL === true) return;\n    msg.in.data = fill_data;\n}\n// FUNCTIONS END -------------------------------------------\n// MAIN INIT -----------------------------------------------\nload_requeries_files();\nload_transform_files();\nload_xml_templates_files();\nif (MODE_TEST === true)\n    bankid_client.person.inn = generateIPN();\nconsole.log(bankid_client);\n// MAIN INIT END -------------------------------------------\n// MAIN TRANSFORMATOR --------------------------------------\n// Prepare out data\nfor (k of bankid_transform_web) {\n    bankid_transform_out[k.name] = [];\n}\n\nfor (o of bankid_mapping) {\n    //console.log(o);\n    if (o.bankid.block !== 'none') {\n        var f = bankid_transform_web.find(x => x.name === o.webbank.block);\n        f.mapping.push(o);\n        var i = bankid_transform_bid.find(x => x.name === o.bankid.block);\n        i.mapping.push(o);\n    }\n}\n\n//console.log(bankid_transform_bid);\nconsole.log(bankid_transform_web);\n//console.log(bankid_transform_out);\n\n// Parsing input data\nfor (key in bankid_client) {\n\n    var webbank_block = bankid_transform_bid.find(x => x.name === key).mapping[0].webbank.block;\n\n    if (bankid_client[key] instanceof Array) {\n        console.log(\"[\" + key + \"][\" + webbank_block + \"] Array \");\n        //console.log(bankid_transform_out[webbank_block]);\n\n        var cnt = 0;\n        var amapi = [];\n        //console.log(\" ++++++++++++[\"+webbank_block+\"][\"+key+\"] \");    \n        var mapr = bankid_transform_bid.find(x => x.name === key).mapping;\n\n        for (a of bankid_client[key]) {\n            var mapi = JSON.parse(JSON.stringify((mapr)));\n            for (o in a) {\n                console.log(\"  [\" + cnt + \"][\" + key + \"] \" + o + \"=\" + a[o]);\n                var val = mapi.find(x => x.bankid.code === o);\n                if (val !== undefined) {\n                    val.value = a[o];\n                }\n            }\n            amapi.push(mapi);\n            cnt++;\n        }\n        bankid_transform_out[webbank_block] = amapi;\n    } else {\n        console.log(\"[\" + key + \"] Object\");\n        for (o in bankid_client[key]) {\n            var mapi = bankid_transform_bid.find(x => x.name === key).mapping;\n            var val = mapi.find(x => x.bankid.code === o);\n            console.log(\" [\" + key + \"][\" + o + \"]\"); // val=\" + JSON.stringify(val));\n            if (val !== undefined) {\n                val.value = bankid_client[key][o];\n                console.log(\"  ++++[\" + key + \"][\" + o + \"]=\" + val.value + \"-\" + val.webbank.block);\n                //console.log(\" 00 key=\" + key + \" o=\" + o + \" val=\" + JSON.stringify(val));\n                //console.log(val);\n                bankid_transform_out[val.webbank.block].push(val);\n                // Ищем в знчения по умодчанию в для val.webbank.block\n                var mapw = bankid_transform_web.find(x => x.name === val.webbank.block).mapping;\n                for (d of mapw) {\n                    if (d.bankid.code === o && d.webbank.default !== '') {\n                        var vald = JSON.parse(JSON.stringify(val));\n                        vald.value = d.webbank.default;\n                        vald.webbank.code = d.webbank.code;\n                        bankid_transform_out[val.webbank.block].push(vald);\n                    }\n                }\n            }\n        }\n    }\n}\n\n// Calculate field from bankid\nvar calcm = bankid_transform_bid.find(x => x.name === 'calculate').mapping;\n\nfor (item of calcm) {\n    console.log(item); // x.name === a.source !!!! persons\n    var bankid_src = bankid_transform_bid.find(x => x.name === 'person').mapping;\n    console.log(\"bankid_src --------------------------------------------\");\n    console.log(bankid_src);\n\n    var fields = item.bankid.code.split('+');\n    var calculate = \"\";\n    for (f of fields) {\n        var n = bankid_src.find(x => x.bankid.block === 'person' && x.bankid.code === f)\n        //console.log(\"  bankid_fld \"+f+\" \"+n.value + JSON.stringify(n));\n        calculate += n.value + \" \";\n        calculate = calculate;\n    }\n    item.value = calculate.trimRight();\n    var wkey = item.webbank.block;\n    var wfld = item.webbank.code;\n\n    var wblock = bankid_transform_out[wkey];\n    wblock.push(item);\n    wblock = bankid_transform_out[wkey];\n}\n\nconsole.log(\"bankid_transform_out --------------------------------------------\");\nvar fill_data = {};\n// Клиент\nfill_data.client = {};\nfor (item of bankid_transform_out.Client) {\n    if (item.bankid.maps !== undefined && item.bankid.maps !== \"\") {\n        console.log(item.bankid.maps);\n        fill_data.client[item.webbank.code] =\n            get_reftrans(bankid_dicts, item.bankid.maps, item.value);\n    } else\n        fill_data.client[item.webbank.code] = item.value;\n}\n// Персональные данные\nfill_data.indiv = {};\nfor (item of bankid_transform_out.Individuals) {\n    var value = item.value;\n    console.log(item);\n    if (item.bankid.maps !== undefined && item.bankid.maps !== '')\n        value = get_reftrans(bankid_dicts, item.bankid.maps, item.value);\n    if (item.bankid.type === 'date')\n        value = trans_date(value);\n    fill_data.indiv[item.webbank.code] = value;\n}\n\nvar i = 0;\n// Документы\nfill_data.ident = [];\nfor (item of bankid_transform_out.Identifications) {\n    fill_data.ident[i] = {};\n    for (o of item) {\n        var code = o.webbank.code;\n        var value = o.value;\n        if (o.bankid.type === 'date')\n            value = trans_date(value);\n        if (o.bankid.maps !== undefined && o.bankid.maps.length > 0) {\n            value = get_reftrans(bankid_dicts, o.bankid.maps, value);\n        }\n        fill_data.ident[i][code] = value;\n        if (fill_data.ident[i]['ExpirationDate'] === '') {\n            fill_data.ident[i]['ExpirationDate'] = '2099-01-01T00:00:00';\n        };\n    }\n    i++;\n}\n// Адреса\nconsole.log(bankid_transform_out.Addresses);\ni = 0;\nfill_data.addr = [];\nfor (item of bankid_transform_out.Addresses) {\n    fill_data.addr[i] = {};\n    for (o of item) {\n        var code = o.webbank.code;\n        var value = o.value;\n        if (o.bankid.type === 'date')\n            value = trans_date(value);\n        if (o.bankid.maps !== undefined && o.bankid.maps.length > 0) {\n            value = get_reftrans(bankid_dicts, o.bankid.maps, value);\n        }\n        fill_data.addr[i][code] = value;\n    }\n    i++;\n}\n// явки пароли телефоны\ni = 0;\nfill_data.comm = [];\nvar comm_codes = [];\nfor (item of bankid_transform_out.Communications) {\n    console.log(item);\n    if (comm_codes.indexOf(item.bankid.code) < 0)\n        comm_codes.push(item.bankid.code);\n}\nconsole.log(comm_codes);\nfor (c of comm_codes) {\n    fill_data.comm[i] = {};\n    console.log(c);\n    for (item of bankid_transform_out.Communications) {\n        var code = item.webbank.code;\n        if (item.bankid.code === c) {\n            console.log('[' + c + '][' + code + '][' + item.value + ']');\n            fill_data.comm[i][code] = item.value;\n        }\n    }\n    i++;\n}\n// Реквизиты\nfill_data.props = [];\ni = 0;\nfor (item of bankid_transform_out.Properties) {\n    if (item.webbank.code !== '') {\n        fill_data.props[i] = {};\n        fill_data.props[i].Refs = item.bankid.maps;\n        fill_data.props[i].Code = item.webbank.code;\n        fill_data.props[i].Dict = item.webbank.dict;\n        fill_data.props[i].Value = item.value;\n\n        if (item.bankid.maps !== undefined && item.bankid.maps.length > 0) {\n            fill_data.props[i].Value =\n                get_reftrans(bankid_dicts, item.bankid.maps, item.value);\n        }\n\n        i++;\n    }\n}\n// MAIN TRANSFORMATOR END-----------------------------------\n\nconsole.log(\"fill_data --------------------------------------------\");\nconsole.log(fill_data);\nconsole.log(\"fill_data --------------------------------------------\");\n\ncreate_out_xml();\ncreate_out_nr();\nif (MODE_WORK_LOCAL !== true) return msg;\n",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 800,
        "wires": [
            [
                "cab1b021.42a2d",
                "e4b63362.e39938"
            ]
        ]
    },
    {
        "id": "d2af45e0.459b7",
        "type": "inject",
        "z": "6c70e68d.ef377",
        "name": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 80,
        "y": 660,
        "wires": [
            [
                "3aaa495a.7669de"
            ]
        ]
    },
    {
        "id": "cab1b021.42a2d",
        "type": "debug",
        "z": "6c70e68d.ef377",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "3aaa495a.7669de",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "in.bankid_cli",
        "field": "in.bankid_cli",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"person\": {\n        \"type\": \"physical\",\n        \"lastName\": \"Кетцалькоатль\",\n        \"firstName\": \"Кукумац\",\n        \"middleName\": \"Кукулькан\",\n        \"inn\": \"3347780927\",\n        \"birthDay\": \"28.08.1991\",\n        \"sex\": \"M\",\n        \"phone\": \"380631003256\",\n        \"email\": \"sava@mail.dot.com\",\n        \"web\": \"www.www.net\",\n        \"uaResident\": \"1\",\n        \"edication\": \"Бог\"\n    },\n\n    \"extends\": {\n        \"country_citizen\": \"804\",\n        \"marital_status\": \"6\",\n        \"work_info\": \"безроботный\",\n        \"birth_country\": \"804\",\n        \"birth_place\": \"Бердичув\",\n        \"profit_way\": \"2\"\n    },\n\n    \"addresses\": [{\n            \"type\": \"factual\",\n            \"country\": \"UA\",\n            \"state\": \"Київська\",\n            \"area\": \"Київ\",\n            \"city\": \"м. Київ\",\n            \"street\": \"вул. Бородинского побоища\",\n            \"houseNo\": \"21\",\n            \"flatNo\": \"16\"\n        },\n        {\n            \"type\": \"juridical\",\n            \"country\": \"UA\",\n            \"state\": \"Київська\",\n            \"area\": \"Київ\",\n            \"city\": \"м. Чичен-Ица\",\n            \"street\": \"вул. пирамида Кукулькана.\",\n            \"houseNo\": \"1\",\n            \"flatNo\": \"1\"\n        }\n    ],\n    \"documents\": [{\n            \"type\": \"passport\",\n            \"typeName\": \"Паспорт\",\n            \"series\": \"СН\",\n            \"number\": \"432311\",\n            \"issue\": \"Святошинське РУ ГУ МВС у м.Києві\",\n            \"dateIssue\": \"01.10.1997\",\n            \"dateExpiration\": \"\",\n            \"issueCountryIso2\": \"UA\"\n        },\n        {\n            \"type\": \"idpassport\",\n            \"typeName\": \"Паспорт картка\",\n            \"series\": \"\",\n            \"number\": \"3425654326\",\n            \"issue\": \"1456\",\n            \"dateIssue\": \"01.10.2020\",\n            \"dateExpiration\": \"01.10.2040\",\n            \"issueCountryIso2\": \"UA\"\n        }\n    ],\n    \"scans\": [{\n            \"type\": \"passport\",\n            \"scanFile\": \"BASE64\",\n            \"dateCreate\": \"dd.mm.yyyy\",\n            \"extension\": \"jpg\"\n\n        },\n        {\n            \"type\": \"photo\",\n            \"scanFile\": \"BASE64\",\n            \"dateCreate\": \"dd.mm.yyyy\",\n            \"extension\": \"jpg\"\n\n        }\n    ]\n}",
        "output": "json",
        "x": 110,
        "y": 720,
        "wires": [
            [
                "a83e148c.1f7cb8"
            ]
        ]
    },
    {
        "id": "a83e148c.1f7cb8",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "transform.bankid_mapping",
        "field": "transform.bankid_mapping",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"lastName\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Individuals\",\n      \"code\": \"LastName\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"firstName\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Individuals\",\n      \"code\": \"FirstName\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"middleName\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Individuals\",\n      \"code\": \"FatherName\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"calculate\",\n      \"source\": \"person\",\n      \"code\": \"lastName+firstName+middleName\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Client\",\n      \"code\": \"Name\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"inn\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Client\",\n      \"code\": \"StateCode\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"country_citizen\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"FATF_COUNTRY_CITIZEN\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"KL_K040.DBF\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"marital_status\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Individuals\",\n      \"code\": \"MarriageStatus\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"D08\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"sex\",\n      \"maps\": \"sex\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Individuals\",\n      \"code\": \"GENDER\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"D06\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"sex\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"GENDER\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"D06\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"birthDay\",\n      \"maps\": \"\",\n      \"type\": \"date\"\n    },\n    \"webbank\": {\n      \"block\": \"Individuals\",\n      \"code\": \"BirthDay\",\n      \"type\": \"date\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"uaResident\",\n      \"maps\": \"resident\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Client\",\n      \"code\": \"Residency\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"KL_K030.DBF\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"documents\",\n      \"source\": \"\",\n      \"code\": \"type\",\n      \"maps\": \"documents\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"TypeId\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"cfIdentificationTypes\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"documents\",\n      \"source\": \"\",\n      \"code\": \"series\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"Series\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"documents\",\n      \"source\": \"\",\n      \"code\": \"number\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"Number\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"documents\",\n      \"source\": \"\",\n      \"code\": \"issue\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"Registrator\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"documents\",\n      \"source\": \"\",\n      \"code\": \"dateIssue\",\n      \"maps\": \"\",\n      \"type\": \"date\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"IssueDate\",\n      \"type\": \"date\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"documents\",\n      \"source\": \"\",\n      \"code\": \"dateExpiration\",\n      \"maps\": \"\",\n      \"type\": \"date\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"ExpirationDate\",\n      \"type\": \"date\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"documents\",\n      \"source\": \"\",\n      \"code\": \"issueCountryIso2\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"CountryCode\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"none\",\n      \"source\": \"\",\n      \"code\": \"none\",\n      \"maps\": \"\",\n      \"type\": \"none\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"Checked\",\n      \"type\": \"int\",\n      \"default\": \"0\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"none\",\n      \"source\": \"\",\n      \"code\": \"none\",\n      \"maps\": \"\",\n      \"type\": \"none\"\n    },\n    \"webbank\": {\n      \"block\": \"Identifications\",\n      \"code\": \"IsMain\",\n      \"type\": \"int\",\n      \"default\": \"0\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"addresses\",\n      \"source\": \"\",\n      \"code\": \"type\",\n      \"maps\": \"addresses\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Addresses\",\n      \"code\": \"TypeCode\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"addresses\",\n      \"source\": \"\",\n      \"code\": \"country\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Addresses\",\n      \"code\": \"Country\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"addresses\",\n      \"source\": \"\",\n      \"code\": \"state\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Addresses\",\n      \"code\": \"State\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"addresses\",\n      \"source\": \"\",\n      \"code\": \"area\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Addresses\",\n      \"code\": \"Region\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"addresses\",\n      \"source\": \"\",\n      \"code\": \"city\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Addresses\",\n      \"code\": \"Town\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"addresses\",\n      \"source\": \"\",\n      \"code\": \"street\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Addresses\",\n      \"code\": \"Street\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"addresses\",\n      \"source\": \"\",\n      \"code\": \"houseNo\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Addresses\",\n      \"code\": \"HouseNumber\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"addresses\",\n      \"source\": \"\",\n      \"code\": \"flatNo\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Addresses\",\n      \"code\": \"FlatNumber\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"true\"\n    }\n  },\n  \n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"socStatus\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"flagPEPs\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"flagPersonTerror\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"flagRestriction\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"flagTopLevelRisk\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"scans\",\n      \"source\": \"\",\n      \"code\": \"type\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Scans\",\n      \"code\": \"name\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"scans\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"scans\",\n      \"source\": \"\",\n      \"code\": \"scanFile\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Scans\",\n      \"code\": \"content\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"scans\",\n      \"source\": \"\",\n      \"code\": \"dateCreate\",\n      \"maps\": \"\",\n      \"type\": \"date\"\n    },\n    \"webbank\": {\n      \"block\": \"Scans\",\n      \"code\": \"tmestamp\",\n      \"type\": \"dete\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"scans\",\n      \"source\": \"\",\n      \"code\": \"extension\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Scans\",\n      \"code\": \"comment\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"work_info\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"\",\n      \"type\": \"\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"phone\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Communications\",\n      \"code\": \"Value\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"phone\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Communications\",\n      \"code\": \"TypeId\",\n      \"type\": \"string\",\n      \"default\": \"3\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"email\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Communications\",\n      \"code\": \"Value\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"email\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Communications\",\n      \"code\": \"TypeId\",\n      \"type\": \"string\",\n      \"default\": \"5\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"web\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Communications\",\n      \"code\": \"Value\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"person\",\n      \"source\": \"\",\n      \"code\": \"web\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Communications\",\n      \"code\": \"TypeId\",\n      \"type\": \"string\",\n      \"default\": \"6\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"birth_country\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"BIRTH_COUNTRY\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"KL_K040.DBF\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"birth_place\",\n      \"maps\": \"\",\n      \"type\": \"string\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"BIRTH_PLACE\",\n      \"type\": \"string\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"profit_way\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"PROFIT_WAY\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"PROFIT_WAY\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"profit_src\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"BANK_PRODUCT\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"FIN_DOCH\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"obsyag_nad\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"OBSYAG_NAD\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"OBSYAG_NAD_1\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"nad_k_3\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"NAD_K_3\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"NAD_K_3\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"monthsumm\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"MONTHSUMM\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"SUMA_DOHOD\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"propetyth_of_client\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"PROPETYTH_OF_CLIENT\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"PROPETYTH_OF_CLIENT\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"propetyth_of_client_avto\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"PROPETYTH_OF_CLIENT_AVTO\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"PROPETYTH_OF_CLIENT_AVTO\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"info_outer_acc_sel\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"INFO_OUTER_ACC_SEL\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"INFO_OUTER_ACC\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"exists_cred_out\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"EXISTS_CRED_OUT\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"YESNO\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"exists_depo_out\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"EXISTS_DEPO_OUT\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"YESNO\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"propetypap_of_clientype\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"PROPETYPAP_OF_CLIENTYPE\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"PROPETYPAP_OF_CLIENTYPE\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"bank_services_manual\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"BANK_SERVICES_MANUAL\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"BANK_SERVICES_MANUAL\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"ugb_tcurelpers\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"UGB_TCURelPers\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"RF_UGB_TCURelPers\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"public_person_exists\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"PUBLIC_PERSON_EXISTS\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"PUBLIC_PERSON_EXISTS\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"public_data_fact\",\n      \"maps\": \"\",\n      \"type\": \"date\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"PUBLIC_DATA_FACT\",\n      \"type\": \"date\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"public_data_permission\",\n      \"maps\": \"\",\n      \"type\": \"date\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"PUBLIC_DATA_PERMISSION\",\n      \"type\": \"date\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"public_data_risk\",\n      \"maps\": \"\",\n      \"type\": \"date\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"PUBLIC_DATA_RISK\",\n      \"type\": \"date\",\n      \"default\": \"\",\n      \"dict\": \"\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"data_zax_per\",\n      \"maps\": \"\",\n      \"type\": \"operation\"\n    },\n    \"webbank\": {\n      \"block\": \"Operations\",\n      \"code\": \"DATA_ZAX_PER\",\n      \"type\": \"operation\",\n      \"default\": \"\",\n      \"dict\": \"operation\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"kl_k013fo\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"KL_K013FO\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"KL_K013_FO\",\n      \"isneed\": \"\"\n    }\n  },\n  {\n    \"bankid\": {\n      \"block\": \"extends\",\n      \"source\": \"\",\n      \"code\": \"usa_chiisares\",\n      \"maps\": \"\",\n      \"type\": \"int\"\n    },\n    \"webbank\": {\n      \"block\": \"Properties\",\n      \"code\": \"Chiisaresident_USA\",\n      \"type\": \"int\",\n      \"default\": \"\",\n      \"dict\": \"YESNO\",\n      \"isneed\": \"\"\n    }\n  }\n]\n",
        "output": "json",
        "x": 160,
        "y": 760,
        "wires": [
            [
                "9ef62c27.4db638"
            ]
        ]
    },
    {
        "id": "9ef62c27.4db638",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "transform.dicts_mapping",
        "field": "transform.dicts_mapping",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"resident\": [\n        {\n            \"ibancode\": \"1\",\n            \"ibanname\": \"uaResident\",\n            \"ibandesc\": \"Резидент\",            \n            \"wbid\": \"1\",\n            \"wbcode\": \"1\",\n            \"wbdesc\": \"Резидент\"\n        },\n        {\n            \"ibancode\": \"0\",\n            \"ibanname\": \"uaResident\",\n            \"ibandesc\": \"Не Резидент\",\n            \"wbid\": \"2\",\n            \"wbcode\": \"2\",\n            \"wbdesc\": \"Не Резидент\"\n        }\n    ],\n    \"sex\": [\n        {\n            \"ibancode\": \"M\",\n            \"ibanname\": \"Man\",\n            \"ibandesc\": \"Чоловіча\",            \n            \"wbid\": \"1\",\n            \"wbcode\": \"1\",\n            \"wbdesc\": \"Чоловіча\"\n        },\n        {\n            \"ibancode\": \"F\",\n            \"ibanname\": \"Woman\",\n            \"ibandesc\": \"Жіноча\",\n            \"wbid\": \"2\",\n            \"wbcode\": \"2\",\n            \"wbdesc\": \"Жіноча\"\n        }\n    ],\n    \"addresses\": [\n        {\n            \"ibancode\": \"factual\",\n            \"ibanname\": \"проживання\",\n            \"ibandesc\": \"Адрес проживання\",\n            \"wbid\": \"2\",\n            \"wbcode\": \"2\",\n            \"wbdesc\": \"Фактична адреса\"\n        },\n        {\n            \"ibancode\": \"juridical\",\n            \"ibanname\": \"реєстрації\",\n            \"ibandesc\": \"Адрес реєстрації\",\n            \"wbid\": \"1\",\n            \"wbcode\": \"1\",\n            \"wbdesc\": \"Адреса постійного місця проживання або регістрації\"\n        }\n    ],\n    \"documents\": [\n        {\n            \"ibancode\": \"passport\",\n            \"ibanname\": \"паспорт\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"4\",\n            \"wbcode\": \"4\",\n            \"wbdesc\": \"Паспорт громадянина України\"\n        },\n        {\n            \"ibancode\": \"idpassport\",\n            \"ibanname\": \"паспорт\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"55\",\n            \"wbcode\": \"404\",\n            \"wbdesc\": \"Паспорт (Id-карта)\"\n        },\n        {\n            \"ibancode\": \"zpassport\",\n            \"ibanname\": \"закордонний\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"24\",\n            \"wbcode\": \"42\",\n            \"wbdesc\": \"Паспорт громадянина України для виїзду за кордон\"\n        },\n        {\n            \"ibancode\": \"ident\",\n            \"ibanname\": \"посвідчення особи у відповідності до вимог законодавства України\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"29\",\n            \"wbcode\": \"48\",\n            \"wbdesc\": \"Інші документи, які видаються уповноваженими державними органами і за якими є можливість здійснення однозначної ідентифікації особи\"\n        }\n    ],\n    \"scans\": [\n        {\n            \"ibancode\": \"passport\",\n            \"ibanname\": \"паспорт України\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"109\",\n            \"wbcode\": \"109\",           \n            \"wbdesc\": \"Паспорт громадянина України\"\n        },\n        {\n            \"ibancode\": \"idpassport\",\n            \"ibanname\": \"id - картка\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"109\",\n            \"wbcode\": \"109\",   \n            \"wbdesc\": \"Паспорт (Id-карта)\"\n        },\n        {\n            \"ibancode\": \"zpassport\",\n            \"ibanname\": \"закордонний\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"109\",\n            \"wbcode\": \"109\",   \n            \"wbdesc\": \"Паспорт громадянина України для виїзду за кордон\"\n        },\n        {\n            \"ibancode\": \"inn\",\n            \"ibanname\": \"реєстраційний номер облікової картки платника податків\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"109\",\n            \"wbcode\": \"109\",   \n            \"wbdesc\": \"реєстраційний номер облікової картки платника податків\"\n        },\n        {\n            \"ibancode\": \"personalPhoto\",\n            \"ibanname\": \"фото особи(анфас)\",\n            \"ibandesc\": \"\",\n            \"wbid\": \"109\",\n            \"wbcode\": \"109\",   \n            \"wbdesc\": \"фото особи(анфас)\"\n        }\n    ]\n}",
        "output": "json",
        "x": 150,
        "y": 800,
        "wires": [
            [
                "3a31da80.733b6e"
            ]
        ]
    },
    {
        "id": "3a31da80.733b6e",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "transform.client_xml_names",
        "field": "transform.client_xml_names",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"top\": \"./data/client-create-top.xml\",\n\n    \"client_top\": \"./data/client-create-Empty.xml\",\n    \"client_man\": \"./data/client-create-Clients.xml\",\n    \"client_bot\": \"./data/client-create-Empty.xml\",\n\n    \"indiv_top\": \"./data/client-create-Empty.xml\",\n    \"indiv_man\": \"./data/client-create-Indiv.xml\",\n    \"indiv_bot\": \"./data/client-create-Empty.xml\",\n\n    \"props_top\": \"./data/client-create-Props-top.xml\",\n    \"props_man\": \"./data/client-create-Props.xml\",\n    \"props_bot\": \"./data/client-create-Props-bot.xml\",\n\n    \"ident_top\": \"./data/client-create-Empty.xml\",\n    \"ident_man\": \"./data/client-create-Ident.xml\",\n    \"ident_bot\": \"./data/client-create-Empty.xml\",\n\n    \"addre_top\": \"./data/client-create-Addre-top.xml\",\n    \"addre_man\": \"./data/client-create-Addre.xml\",\n    \"addre_bot\": \"./data/client-create-Addre-bot.xml\",\n\n    \"commu_top\": \"./data/client-create-Commun-top.xml\",\n    \"commu_man\": \"./data/client-create-Commun.xml\",\n    \"commu_bot\": \"./data/client-create-Commun-bot.xml\",\n\n    \"bot\": \"./data/client-create-bot.xml\"\n}",
        "output": "json",
        "x": 160,
        "y": 840,
        "wires": [
            [
                "8a25bf35.f32208"
            ]
        ]
    },
    {
        "id": "8a25bf35.f32208",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "transform.client_xml_data",
        "field": "transform.client_xml_data",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"top\": null,\n    \"client_top\": null,\n    \"client_man\": null,\n    \"client_bot\": null,\n    \"indiv_top\": null,\n    \"indiv_man\": null,\n    \"indiv_bot\": null,\n    \"props_top\": null,\n    \"props_man\": null,\n    \"props_bot\": null,\n    \"ident_top\": null,\n    \"ident_man\": null,\n    \"ident_bot\": null,\n    \"addre_top\": null,\n    \"addre_man\": null,\n    \"addre_bot\": null,\n    \"bot\": null\n}",
        "output": "json",
        "x": 150,
        "y": 880,
        "wires": [
            [
                "131bc779.f6b2d9"
            ]
        ]
    },
    {
        "id": "131bc779.f6b2d9",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "transform.bankid_transform_web",
        "field": "transform.bankid_transform_web",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{\n    \"name\": \"Client\",\n    \"isarray\": false,\n    \"mapping\": []\n},\n{\n    \"name\": \"Individuals\",\n    \"isarray\": false,\n    \"mapping\": [],\n    \"comment\" : \"array\"\n}, \n{\n    \"name\": \"Identifications\",\n    \"isarray\": true,\n    \"mapping\": [],\n    \"comment\" : \"array documents\"\n}, \n{\n    \"name\": \"Addresses\",\n    \"isarray\": true,\n    \"mapping\": [],\n    \"comment\" : \"array\"\n}, \n{\n    \"name\": \"Communications\",\n    \"isarray\": true,\n    \"mapping\": []\n},\n{\n    \"name\": \"Properties\",\n    \"isarray\": false,\n    \"mapping\": []\n},\n{\n    \"name\": \"Scans\",\n    \"isarray\": true,\n    \"mapping\": [],\n    \"comment\" : \"array\"\n}, \n{\n    \"name\": \"Operations\",\n    \"isarray\": false,\n    \"mapping\": []\n}\n]",
        "output": "json",
        "x": 180,
        "y": 920,
        "wires": [
            [
                "12d121b3.7d430e"
            ]
        ]
    },
    {
        "id": "12d121b3.7d430e",
        "type": "template",
        "z": "6c70e68d.ef377",
        "name": "transform.bankid_transform_bid",
        "field": "transform.bankid_transform_bid",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "[{\n    \"name\": \"person\",\n    \"isarray\": false,\n    \"mapping\": []\n},\n{\n    \"name\": \"addresses\",\n    \"isarray\": true,\n    \"mapping\": []\n},\n{\n    \"name\": \"documents\",\n    \"isarray\": true,\n    \"mapping\": []\n},\n{\n    \"name\": \"scans\",\n    \"isarray\": true,\n    \"mapping\": []\n},\n{\n    \"name\": \"extends\",\n    \"isarray\": true,\n    \"mapping\": []\n},\n{\n    \"name\": \"calculate\",\n    \"isarray\": false,\n    \"mapping\": []\n}\n]",
        "output": "json",
        "x": 170,
        "y": 960,
        "wires": [
            [
                "b9388e0f.7de4b8"
            ]
        ]
    },
    {
        "id": "e4b63362.e39938",
        "type": "link out",
        "z": "6c70e68d.ef377",
        "name": "",
        "links": [
            "51a1ab40.82fa5c"
        ],
        "x": 560,
        "y": 880,
        "wires": []
    },
    {
        "id": "51a1ab40.82fa5c",
        "type": "link in",
        "z": "6c70e68d.ef377",
        "name": "work",
        "links": [
            "e4b63362.e39938"
        ],
        "x": 100,
        "y": 80,
        "wires": [
            [
                "b0a1fd17.70a908"
            ]
        ]
    }
]